wsdl/ruian/xsd/ext/v2/prvky/KatastralniUzemi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:ob="urn:cz:isvs:ruian:schemas:Obec:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma KatastralniUzemi obsahuje prvek typu katastrální území se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Obec:v2" schemaLocation="Obec.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:element name="KatastralniUzemi" type="ku:KatastralniUzemiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje katastrální území.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="KatastralniUzemiGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku katastrální území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExistujeDigitalniMapa" type="com:ExistujeDigitalniMapaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Příznak existence digitální mapy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obec" type="ob:ObecType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená obec.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="KatastralniUzemiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek katastrální území se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="KatastralniUzemiGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
