wsdl/ruian/xsd/ext/v2/prvky/MomcGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:MomcGML:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:MomcGML:v2" xmlns:mcGml="urn:cz:isvs:ruian:schemas:MomcGML:v2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:mc="urn:cz:isvs:ruian:schemas:Momc:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:mp="urn:cz:isvs:ruian:schemas:ObvodPrahy:v2" xmlns:ob="urn:cz:isvs:ruian:schemas:Obec:v2" xmlns:sp="urn:cz:isvs:ruian:schemas:SpravniObvod:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma MomcGML obsahuje prvek typu MOMC, včetně geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Momc:v2" schemaLocation="Momc.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="GeometrieMomcType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje MOMC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu MOMC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceMomcType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice MOMC.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceMomcType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice MOMC.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Stupeň generalizace.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Momc" type="mcGml:MomcGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje území městského obvodu nebo městské části územně členěného statutárního města (MOMC) s geometrií (GML).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MomcGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek MOMC jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="mc:MomcGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VlajkaText" type="base:Text4000Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Text popisující vlajku MOMC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VlajkaObrazek" type="com:ObrazekType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Obrázek vlajky MOMC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MluvnickeCharakteristiky" type="com:MluvnickeCharakteristikyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Mluvnické charakteristiky 2 až 7 pád.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZnakText" type="base:Text4000Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Text popisující znak MOMC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZnakObrazek" type="com:ObrazekType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Obrázek znaku MOMC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieMomcType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje MOMC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Datum vzniku prvku.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
