wsdl/ruian/xsd/ext/v2/prvky/ParcelaGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ParcelaGML:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ParcelaGML:v2" xmlns:paGml="urn:cz:isvs:ruian:schemas:ParcelaGML:v2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:up="urn:cz:isvs:ruian:schemas:Uup:v2" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" elementFormDefault="qualified" version="2.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Prvek typu parcela včetně geometrie.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Uup:v2" schemaLocation="Uup.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Parcela:v2" schemaLocation="Parcela.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="GeometrieParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceParcelaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HraniceOmpv" type="HraniceParcelaOmpvType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice parcely OMP-V.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceParcelaOmpvType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice parcely.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Stupeň generalizace.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HraniceParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice parcely.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:SurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Stupeň generalizace.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Parcela" type="paGml:ParcelaGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje pozemek v podobě parcely s geometrií (GML).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ParcelaGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Parcela jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="pa:ParcelaGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RizeniId" type="com:IdRizeniType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID řízení v ISKN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BonitovaneDily" type="com:BonitovaneDilySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Bonitované díly parcely.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobyOchranyPozemku" type="com:ZpusobOchranySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob ochrany pozemku.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieParcelaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje parcely.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávných referenčních údajů.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VazbyNaUcelovePrvky" type="up:VazbaNaUupSeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Vazby na účelové prvky.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
