wsdl/ruian/xsd/ext/v2/prvky/Parcela.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma Parcela obsahuje prvek typu parcela se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v2" schemaLocation="KatastralniUzemi.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:element name="Parcela" type="pa:ParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje pozemek v podobě parcely.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="ParcelaGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku parcela.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Jednoznační identifikátor parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KmenoveCislo" type="com:KmenoveCisloType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kmenové parcelní číslo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PododdeleniCisla" type="com:PoddeleniCislaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Poddělení čísla parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VymeraParcely" type="com:VymeraType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Výměra parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobyVyuzitiPozemku" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob využití pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhCislovaniKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Rozlišení druhu číslování parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhPozemkuKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód druhu pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KatastralniUzemi" type="ku:KatastralniUzemiType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazené katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek parcela se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ParcelaGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
