wsdl/ruian/xsd/ext/v2/prvky/Pou.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:Pou:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:Pou:v2" xmlns:pu="urn:cz:isvs:ruian:schemas:Pou:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:op="urn:cz:isvs:ruian:schemas:Orp:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma Pou obsahuje prvek typu POU se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Orp:v2" schemaLocation="Orp.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:element name="Pou" type="pu:PouType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje správní obvod obce s pověřeným obecním úřadem (POU).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="PouGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku POU.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód POU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název POU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpravniObecKod" type="base:Kod6Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód správni obce.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orp" type="op:OrpType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený ORP.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PouType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek POU se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PouGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
