wsdl/ruian/xsd/ext/v2/prvky/RegionSoudrznostiGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:RegionSoudrznostiGML:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:RegionSoudrznostiGML:v2" xmlns:rsGml="urn:cz:isvs:ruian:schemas:RegionSoudrznostiGML:v2" xmlns:rs="urn:cz:isvs:ruian:schemas:RegionSoudrznosti:v2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:st="urn:cz:isvs:ruian:schemas:Stat:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma RegionSoudrznostiGML obsahuje prvek typu region soudržnosti, včetně geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../../../common/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegionSoudrznosti:v2" schemaLocation="RegionSoudrznosti.xsd"/>
	<xs:complexType name="GeometrieRegionType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje regionu soudržnosti.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu regionu soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceRegionType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice regionu soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceRegionType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice regionu soudržnosti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Stupeň generalizace.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RegionSoudrznosti" type="rsGml:RegionSoudrznostiGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje území regionu soudržnosti s geometrií (GML).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegionSoudrznostiGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Region soudržnosti jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="rs:RegionSoudrznostiGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NutsLau" type="com:NutsLauKodType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Kód územního celku v NUTS / LAU.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieRegionType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje regionu soudržnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Datum vzniku prvku.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
