wsdl/ruian/xsd/ext/v2/prvky/StavebniObjektGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:StavebniObjektGML:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:StavebniObjektGML:v2" xmlns:soGml="urn:cz:isvs:ruian:schemas:StavebniObjektGML:v2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:so="urn:cz:isvs:ruian:schemas:StavebniObjekt:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:up="urn:cz:isvs:ruian:schemas:Uup:v2" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:co="urn:cz:isvs:ruian:schemas:CastObce:v2" xmlns:mc="urn:cz:isvs:ruian:schemas:Momc:v2" elementFormDefault="qualified" version="2.2.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Prvek typu stavební objekt včetně geometrie.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Uup:v2" schemaLocation="Uup.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:StavebniObjekt:v2" schemaLocation="StavebniObjekt.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="DetailTEAType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Detailní tecnicko-ekonomické atributy (TEA).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod8Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód TEA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Příznak nesprávnosti TEA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhKonstrukceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Druh svislé nosné konstrukce.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetBytu" type="com:PocetBytuType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet bytů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetPodlazi" type="com:PocetPodlaziType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet nadzemních a podzemních podlaží.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniKanalizaceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na kanalizační síť.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniPlynKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na rozvod plynu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniVodovodKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na vodovod.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobVytapeniKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob vytápění.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdresniMistoKod" type="base:Kod9SeznamType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód adresního místa.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailniTEASeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam detailních tecnicko-ekonomických atributů (TEA).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DetailTEA" type="DetailTEAType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Detailní tecnicko-ekonomické atributy (TEA).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeometrieStavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje stavebního objektu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceStavebniObjektType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HraniceOmpv" type="HraniceStavebniObjektType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice stavebního objektu OMP-V.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceStavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice stavebního objektu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Stupeň generalizace.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StavebniObjekt" type="soGml:StavebniObjektGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje stavební objekt s geometrií (GML).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StavebniObjektGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Stavební objekt jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="so:StavebniObjektGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsknBudovaId" type="base:Id18Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID budovy v ISKN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dokonceni" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Datum dokončení stavebního objektu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DruhKonstrukceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Druh svislé nosné konstrukce.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObestavenyProstor" type="com:ObestavenyProstorType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Obestavěný prostor v m3.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PocetBytu" type="com:PocetBytuType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Počet bytů u stavebního objektu s byty.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PocetPodlazi" type="com:PocetPodlaziType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Počet nadzemních a podzemních podlaží.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PodlahovaPlocha" type="com:PodlahovaPlochaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Podlahová plocha v m2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniKanalizaceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na kanalizační síť.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniPlynKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na rozvod plynu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniVodovodKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na vodovod.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VybaveniVytahemKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Vybavení výtahem.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZastavenaPlocha" type="com:ZastavenaPlochaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Zastavěná plocha v m2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobVytapeniKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob vytápění.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobVyuzitiKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob využití.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobOchrany" type="com:ZpusobOchranySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob ochrany stavebního objektu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DetailniTEA" type="DetailniTEASeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Detailní tecnicko-ekonomické atributy (TEA).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieStavebniObjektType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje stavebního objektu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávných referenčních údajů.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VazbyNaUcelovePrvky" type="up:VazbaNaUupSeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Vazby na účelové prvky.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NezjisteneUdaje" type="com:NezjisteneUdajeType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Nezjištěné technicko-ekonomické atributy</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
