wsdl/ruian/xsd/ext/v2/prvky/StavebniObjekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:StavebniObjekt:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:StavebniObjekt:v2" xmlns:so="urn:cz:isvs:ruian:schemas:StavebniObjekt:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v2" xmlns:co="urn:cz:isvs:ruian:schemas:CastObce:v2" xmlns:mc="urn:cz:isvs:ruian:schemas:Momc:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma StavebniObjekt obsahuje prvek typu stavební objekt se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Momc:v2" schemaLocation="Momc.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CastObce:v2" schemaLocation="CastObce.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Parcela:v2" schemaLocation="Parcela.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:element name="StavebniObjekt" type="so:StavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje stavební objekt.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="StavebniObjektGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku stavební objekt.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod9Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CislaDomovni" type="com:CisloDomovniSeznamType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam čísel domovních stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentifikacniParcela" type="pa:ParcelaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Jedna z parcel, na nichž je stavební objekt postaven, zvolená pro identifikaci objektu (tzv. definiční parcela).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypStavebnihoObjektuKod" type="com:TypSTOKodType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CastObce" type="co:CastObceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená část obce.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Momc" type="mc:MomcType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený MOMC.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="StavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek stavební objekt se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StavebniObjektGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
