wsdl/iskn/xsd/cti_historii/CtiKatastralniUzemiKDatu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:iskn:schemas:CtiKatastralniUzemiKDatu:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:iskn:schemas:CtiKatastralniUzemiKDatu:v1" xmlns:ctiKuKD="urn:cz:isvs:iskn:schemas:CtiKatastralniUzemiKDatu:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" elementFormDefault="qualified" version="0.0.1">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../RegTypy.xsd"/>
	<xs:complexType name="CtiKatastralniUzemiKDatuRequestType">
		<xs:annotation>
			<xs:documentation>Dotaz na načtení informací o katastrálním území k datu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hlavička dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dotaz" type="CtiKatastralniUzemiKDatuDotazType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dotaz.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiKatastralniUzemiKDatuRequest" type="ctiKuKD:CtiKatastralniUzemiKDatuRequestType">
		<xs:annotation>
			<xs:documentation>Dotaz na načtení informací o katastrálním území k datu.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CtiKatastralniUzemiKDatuDotazType">
		<xs:annotation>
			<xs:documentation>Parametry dotazu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kód katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Datm platnosti požadovaných dat.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
