wsdl/isui/xsd/ext/v2/cti_historii/CtiUupKDatu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:isui:schemas:CtiUupKDatu:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:isui:schemas:CtiUupKDatu:v2" xmlns:ctiUupKD="urn:cz:isvs:isui:schemas:CtiUupKDatu:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" elementFormDefault="qualified" version="2.1.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../../../RegTypy.xsd"/>
	<xs:complexType name="CtiUupKDatuRequestType">
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Dotaz" type="CtiUupKDatuDotazType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtiUupKDatuDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na informace o účelovém prvku k datu. Pokud není zadán údaj Kod, musí být zadány údaje TypUUPKod i ExterniID.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod9Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TypUUPKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExterniID" type="base:Nazev50Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Datum" type="base:DatumCasType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiUupKDatuRequest" type="ctiUupKD:CtiUupKDatuRequestType"/>
</xs:schema>
