wsdl/ruian/xsd/ext/v2/vyhledej/OkresPolozkyBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:OkresPolozkyBase:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:OkresPolozkyBase:v2" xmlns:okPolBase="urn:cz:isvs:ruian:schemas:OkresPolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:vcPolBase="urn:cz:isvs:ruian:schemas:VuscPolozkyBase:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VuscPolozkyBase:v2" schemaLocation="VuscPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:complexType name="OkresPolozkyBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Pozadovane polozky okresu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="OkresPolozkyGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="OkresPolozkyGroup">
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Vusc" type="vcPolBase:VuscPolozkyBaseType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
