wsdl/ruian/xsd/ext/v2/vyhledej/VuscPolozkyBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VuscPolozkyBase:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VuscPolozkyBase:v2" xmlns:vcPolBase="urn:cz:isvs:ruian:schemas:VuscPolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:rsPolBase="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPolozkyBase:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPolozkyBase:v2" schemaLocation="RegionSoudrznostiPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:complexType name="VuscPolozkyBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na VUSC</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="VuscPolozkyGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="VuscPolozkyGroup">
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegionSoudrznosti" type="rsPolBase:RegionSoudrznostiPolozkyBaseType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
