wsdl/ruian/xsd/ext/v2/vyhledej/VyhledejRegionSoudrznosti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VyhledejRegionSoudrznosti:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VyhledejRegionSoudrznosti:v2" xmlns:vyhRs="urn:cz:isvs:ruian:schemas:VyhledejRegionSoudrznosti:v2" xmlns:rs="urn:cz:isvs:ruian:schemas:RegionSoudrznosti:v2" xmlns:rsPodm="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPodminka:v2" xmlns:rsPolBase="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPolozkyBase:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPolozkyBase:v2" schemaLocation="RegionSoudrznostiPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegionSoudrznostiPodminka:v2" schemaLocation="RegionSoudrznostiPodminka.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegionSoudrznosti:v2" schemaLocation="../prvky/RegionSoudrznosti.xsd"/>
	<xs:complexType name="RegionSoudrznostiSeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam regionu soudrznosti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegionSoudrznosti" type="rs:RegionSoudrznostiType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VyhledejRegionSoudrznostiDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry regionu soudrznosti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Podminka" type="rsPodm:RegionSoudrznostiPodminkaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PozadovaneUdaje" type="rsPolBase:RegionSoudrznostiPolozkyBaseType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VyhledejRegionSoudrznostiRequest" type="vyhRs:VyhledejRegionSoudrznostiRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na vyhledani regionu soudrznosti</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VyhledejRegionSoudrznostiRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na vyhledani regionu soudrznosti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Dotaz" type="VyhledejRegionSoudrznostiDotazType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VyhledejRegionSoudrznostiResponse" type="vyhRs:VyhledejRegionSoudrznostiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved na vyhledani regionu soudrznosti</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VyhledejRegionSoudrznostiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved na vyhledani regionu soudrznosti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RegionySoudrznosti" type="RegionSoudrznostiSeznamType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
