wsdl/ruian/xsd/ext/v2/vyhledej/ZsjPolozkyBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZsjPolozkyBase:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZsjPolozkyBase:v2" xmlns:zjPolBase="urn:cz:isvs:ruian:schemas:ZsjPolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:kuPolBase="urn:cz:isvs:ruian:schemas:KatastralniUzemiPolozkyBase:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KatastralniUzemiPolozkyBase:v2" schemaLocation="KatastralniUzemiPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:complexType name="ZsjPolozkyBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na ZSJ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ZsjPolozkyGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ZsjPolozkyGroup">
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KatastralniUzemi" type="kuPolBase:KatastralniUzemiPolozkyBaseType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
</xs:schema>
