wsdl/ruian/xsd/prvky/KatastralniUzemi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:ob="urn:cz:isvs:ruian:schemas:Obec:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma KatastralniUzemi obsahuje prvek typu: Katastrální území se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Obec:v1" schemaLocation="../../../ruian/xsd/prvky/Obec.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:group name="KatastralniUzemiGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Katastrální území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExistujeDigitalniMapa" type="com:ExistujeDigitalniMapaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Obec" type="ob:ObecType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="KatastralniUzemi" type="ku:KatastralniUzemiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje katastrální území.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="KatastralniUzemiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Katastrální území se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="KatastralniUzemiGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
