wsdl/ruian/xsd/prvky/ObecGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ObecGML:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ObecGML:v1" xmlns:obGml="urn:cz:isvs:ruian:schemas:ObecGML:v1" xmlns:ob="urn:cz:isvs:ruian:schemas:Obec:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:ok="urn:cz:isvs:ruian:schemas:Okres:v1" xmlns:pu="urn:cz:isvs:ruian:schemas:Pou:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma ObecGML obsahuje prvek typu: Obec, včetně geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Obec:v1" schemaLocation="../../../ruian/xsd/prvky/Obec.xsd"/>
	<xs:element name="Obec" type="obGml:ObecGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje území obce a území vojenského újezdu.
Prvek rozšiřuje gml:AbstractFeatureType a obsahuje geometrii. 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ObecGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Obec jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="ob:ObecGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MluvnickeCharakteristiky" type="com:MluvnickeCharakteristikyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="VlajkaText" type="base:Text4000Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="VlajkaObrazek" type="com:ObrazekType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ZnakText" type="base:Text4000Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ZnakObrazek" type="com:ObrazekType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CleneniSMRozsahKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CleneniSMTypKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NutsLau" type="com:NutsLauKod12Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Geometrie" type="GeometrieObecType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieObecType">
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:MultiPointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu obce (Povolený typ geometrie je Multipoint).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceObecType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice obce (Povolený typ geometrie je MultiSurface).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceObecType">
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
