wsdl/ruian/xsd/prvky/Okres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:Okres:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:Okres:v1" xmlns:ok="urn:cz:isvs:ruian:schemas:Okres:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:kr="urn:cz:isvs:ruian:schemas:Kraj:v1" xmlns:vc="urn:cz:isvs:ruian:schemas:Vusc:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma Okres obsahuje prvek typu: Okres se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Vusc:v1" schemaLocation="../../../ruian/xsd/prvky/Vusc.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Kraj:v1" schemaLocation="../../../ruian/xsd/prvky/Kraj.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:group name="OkresGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Okres.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod4Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="base:Nazev32Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kraj" type="kr:KrajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Vusc" type="vc:VuscType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="Okres" type="ok:OkresType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje území okresu.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OkresType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Okres se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="OkresGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
