wsdl/ruian/xsd/prvky/Orp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:Orp:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:Orp:v1" xmlns:op="urn:cz:isvs:ruian:schemas:Orp:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:vc="urn:cz:isvs:ruian:schemas:Vusc:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma Orp obsahuje prvek typu: ORP se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Vusc:v1" schemaLocation="../../../ruian/xsd/prvky/Vusc.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:group name="OrpGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku ORP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod4Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SpravniObecKod" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Vusc" type="vc:VuscType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="Orp" type="op:OrpType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje správní obvod obce s rozšířenou působností (ORP).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrpType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek ORP se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="OrpGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
