wsdl/ruian/xsd/prvky/ParcelaGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ParcelaGML:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ParcelaGML:v1" xmlns:paGml="urn:cz:isvs:ruian:schemas:ParcelaGML:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma ParcelaGML obsahuje prvek typu: Parcela, včetně geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Parcela:v1" schemaLocation="../../../ruian/xsd/prvky/Parcela.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:element name="Parcela" type="paGml:ParcelaGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje pozemek v podobě parcely.
Prvek rozšiřuje gml:AbstractFeatureType a obsahuje geometrii. 	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ParcelaGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Parcela jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="pa:ParcelaGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="RizeniId" type="com:IdRizeniType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BonitovaneDily" type="com:BonitovaneDilySeznamType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ZpusobyOchranyPozemku" type="com:ZpusobOchranySeznamType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Geometrie" type="GeometrieParcelaType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieParcelaType">
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceParcelaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice prvku.			</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceParcelaType">
		<xs:complexContent>
			<xs:extension base="gml:SurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
