wsdl/ruian/xsd/prvky/StavebniObjekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:StavebniObjekt:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:StavebniObjekt:v1" xmlns:so="urn:cz:isvs:ruian:schemas:StavebniObjekt:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:pa="urn:cz:isvs:ruian:schemas:Parcela:v1" xmlns:co="urn:cz:isvs:ruian:schemas:CastObce:v1" xmlns:mc="urn:cz:isvs:ruian:schemas:Momc:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma StavebniObjekt obsahuje prvek typu: Stavební objekt se základními elementy a bez geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Momc:v1" schemaLocation="../../../ruian/xsd/prvky/Momc.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CastObce:v1" schemaLocation="../../../ruian/xsd/prvky/CastObce.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Parcela:v1" schemaLocation="../../../ruian/xsd/prvky/Parcela.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:group name="StavebniObjektGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Stavební objekt.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod9Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CislaDomovni" type="com:CisloDomovniSeznamType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdentifikacniParcela" type="pa:ParcelaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TypStavebnihoObjektuKod" type="com:TypSTOKodType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CastObce" type="co:CastObceType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Momc" type="mc:MomcType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="StavebniObjekt" type="so:StavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje stavební objekt.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Stavební objekt se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StavebniObjektGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
