wsdl/ruian/xsd/prvky/VuscGML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VuscGML:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VuscGML:v1" xmlns:vcGml="urn:cz:isvs:ruian:schemas:VuscGML:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:vc="urn:cz:isvs:ruian:schemas:Vusc:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:rs="urn:cz:isvs:ruian:schemas:RegionSoudrznosti:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma VuscGML obsahuje prvek typu: VUSC, včetně geometrie. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Vusc:v1" schemaLocation="../../../ruian/xsd/prvky/Vusc.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:element name="Vusc" type="vcGml:VuscGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek představuje území kraje.
Prvek rozšiřuje gml:AbstractFeatureType a obsahuje geometrii. 	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VuscGMLType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Kraj jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="vc:VuscGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NutsLau" type="com:NutsLauKodType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Geometrie" type="GeometrieVuscType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieVuscType">
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hranice" type="HraniceVuscType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie hranice prvku.			</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HraniceVuscType">
		<xs:complexContent>
			<xs:extension base="gml:MultiSurfacePropertyType">
				<xs:sequence>
					<xs:element name="StupenGeneralizace" type="com:StupenGeneralizaceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
