wsdl/egon/xsd/ref/RuianCtiProRob2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:ruian:schemas:CtiProRob:v2"
	xmlns="urn:cz:isvs:ruian:schemas:CtiProRob:v2"
	xmlns:crob2="urn:cz:isvs:ruian:schemas:CtiProRob:v2"
	xmlns:crob="urn:cz:isvs:ruian:schemas:CtiProRob:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">CtiProRob rozsireni. Potrebny element do jmenneho prostoru RUIAN.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 2.0.0, 14.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:include schemaLocation="../../../ruian/xsd/ext/v2/cti_pro_rob/CtiProRob.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiProRob:v1" schemaLocation="RuianCtiProRob.xsd"/>

	<xs:complexType name="RuianCtiProRobDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Typ pro seznam adres a lokalit. Dočasně připouští CtiProRob v1 i v2.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="crob:SeznamAdres" minOccurs="0"/>
			<xs:element ref="crob:SeznamLokalit" minOccurs="0"/>
			<xs:element name="SeznamAdres" type="crob2:SeznamAdresType" minOccurs="0"/>
			<xs:element name="SeznamLokalit" type="crob2:SeznamLokalitType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
