wsdl/aiseo/xsd/AiseoZtotozneni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aiseo:schemas:AiseoZtotozneni:v1" xmlns:x10="urn:cz:isvs:aiseo:schemas:AiseoZtotozneni:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aiseo="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" xmlns:iszd="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:aiseo:schemas:AiseoZtotozneni:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.4">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby AIS EO, služba aiseoZtotozneni.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 09.03.2012, Pavel Odstrčil, výchozí verze -->
	<!-- Vývojová verze 0.1.1, 23.03.2012, Aleš Teplý, vrací jen Aifo -->
	<!-- Vývojová verze 0.1.2, 27.03.2012, Aleš Teplý, násobné Aifo, převzetí formátu ROB -->
	<!-- Vývojová verze 0.1.3, 05.04.2012, Pavel Odstrčil, doplnění vstup a výstup -->
	<!-- Vývojová verze 0.1.4, 23.04.2012, Aleš Teplý, doplnění DatumNarozeni na vstup a změna pořadí elementů -->
	<!-- Vývojová verze 0.1.5, 10.05.2012, Zdeněk Křepela, doplněny návratového hodnoty EO  -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" schemaLocation="AiseoTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" schemaLocation="AiseoDotazyData.xsd"/>
	<xs:element name="AiseoSyncZtotozneni" type="AiseoSyncZtotozneniType"/>
	<xs:element name="AiseoSyncZtotozneniResponse" type="AiseoSyncZtotozneniResponseType"/>
	<xs:element name="AiseoZtotozneniData" type="AiseoZtotozneniDataResponseType"/>
	<xs:element name="AiseoZtotozneniDataResponse" type="AiseoZtotozneniDataResponseType"/>
	<xs:complexType name="AiseoSyncZtotozneniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Synchronní dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType"/>
			<xs:element name="Dotaz" type="AiseoZtotozneniDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoSyncZtotozneniResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Synchronní odpověd na dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType"/>
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0"/>
			<xs:element name="AiseoOdpoved" type="AiseoZtotozneniDataResponseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoZtotozneniDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje přijmout definovanou žádost na vyhledání dle RČ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Jmeno" type="aiseo:JmenoEOType" minOccurs="0"/>
			<xs:element name="Prijmeni" type="aiseo:PrijmeniEOType" minOccurs="0"/>
			<xs:element name="DatumNarozeni" type="aiseo:DatumEOType" minOccurs="0"/>
			<xs:element name="RC" type="aiseo:RCEOType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoZtotozneniDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje přijmout definovanou žádost na vyhledání dle RČ vytvořit výpis vhodný pro technické zpracování. Datová část Response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:AiseoDotazyDataResponseType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
