wsdl/aiseo/xsd/AiseoVyberDataObce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aiseo:schemas:AiseoVyberDataObce:v1" xmlns:x10="urn:cz:isvs:aiseo:schemas:AiseoVyberDataObce:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aiseo="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" xmlns:iszd="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:ns1="urn:cz:isvs:aiseo:schemas:AiseoVyberDataObce:v1" targetNamespace="urn:cz:isvs:aiseo:schemas:AiseoVyberDataObce:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.1">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro službu AiseoVyberDataObce</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 05.07.2013, Kamil Jindra, výchozí verze -->
	<!-- Vývojová verze 0.1.1, 10.07.2013, Aleš Teplý, úprava názvu XSD (case), AiseoVyberDataObceDataType (request), AiseoVyberDataObceDataResponseType (vrácení asynchronní odpovědi) -->
	<!-- Vývojová verze 0.1.2, 10.07.2013, Kamil Jindra, sjednoceni verzi Autocont - Komix -->
	<!-- Vývojová verze 0.1.3, 10.07.2013, Aleš Teplý, oprava typu a jména KodUzemnihoCelku a jména TypUzemnihoCelku -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" schemaLocation="AiseoTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" schemaLocation="AiseoDotazyData.xsd"/>
	<xs:element name="AiseoAsyncVyberDataObce" type="AiseoAsyncVyberDataObceType"/>
	<xs:element name="AiseoAsyncVyberDataObceResponse" type="AiseoAsyncVyberDataObceResponseType"/>
	<xs:element name="AiseoVyberDataObceData" type="AiseoVyberDataObceDataResponseType"/>
	<xs:element name="AiseoVyberDataObceDataResponse" type="AiseoVyberDataObceDataResponseType"/>
	<xs:complexType name="AiseoAsyncVyberDataObceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Asynchronní dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType"/>
			<xs:element name="Dotaz">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AiseoVyberDataObceDataType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoAsyncVyberDataObceResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Synchronní odpověd na dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoVyberDataObceDataType">
		<xs:sequence>
			<xs:element name="Zadatel" type="reg:ZadostInfoType"/>
			<xs:choice>
				<xs:element name="Lokalita">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="KodUzemnihoCelku" type="reg:KodUzemnihoCelkuType">
								<xs:annotation>
									<xs:documentation>Kód lokality RUIAN</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TypUzemnihoCelku" type="reg:TypUzemnihoCelkuType">
								<xs:annotation>
									<xs:documentation>Obec, Část obce,Městský obvod, městská část, Městký obvod v Praze, Správní obvod, Ulice, Stavební objekt, Adresní místo</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ObdobiOd" type="aiseo:DatumEOType"/>
							<xs:element name="ObdobiDo" type="aiseo:DatumEOType"/>
							<xs:element name="TypZmeny" type="TypZmenyTP">
								<xs:annotation>
									<xs:documentation>Prihlaseni/odhlaseni</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Soubor" type="reg:SouborType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoVyberDataObceDataResponseType">
		<xs:complexContent>
			<xs:extension base="iszd:AiseoDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Soubor" type="reg:SouborType">
						<xs:annotation>
							<xs:documentation>Vysledek dotazu</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SouborORG" type="reg:SouborType">
						<xs:annotation>
							<xs:documentation>soubor obsahujici AIFOpro preklad v ORG - TXT </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumAISEO" type="xs:date">
						<xs:annotation>
							<xs:documentation>Datum snapshotu AISEO, na zaklade ktereho je proveden vyber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumAISEORUIAN" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Datum snapshotu RUIAN v AISEO, na zaklade ktereho je proveden vyber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TypZmenyTP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pristehovani">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Obec</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Odstehovani">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Cast obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
