wsdl/aiseo/xsd/AiseoVlozReklamaci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aiseo:schemas:AiseoVlozReklamaci:v1" xmlns:e62="urn:cz:isvs:aiseo:schemas:AiseoVlozReklamaci:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:i02="urn:cz:isvs:aiseo:schemas:AiseoVlozReklamaci:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns3="urn:cz:isvs:aiseo:schemas:AiseoDataVlozReklamaci.xsd:v1" xmlns:ns4="urn:cz:isvs:aiseo:schemas:AiseoDataVlozReklamaci:v1" targetNamespace="urn:cz:isvs:aiseo:schemas:AiseoVlozReklamaci:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.3">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v AIS EO.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 31.5.2012, Kamil Jindra, vznik -->
	<!-- Vývojová verze 0.1.1, 13.6.2012, Kamil Jindra, Nepovinny identifikator reklamace -->
	<!-- Vývojová verze 0.1.2, 27.06.2012, Kamil Jindra  Nepovinna Aifa, zmena vstupni struktury -->
	<!-- Vývojová verze 0.1.3, 20.08.2012, Aleš Teplý odstraněno Aifo, Popis a Zduvodneni max 4000 -->
	<!-- Komix s.r.o.-->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoDataVlozReklamaci:v1" schemaLocation="AiseoDataVlozReklamaci.xsd"/>
	<xs:element name="AiseoVlozReklamaci" type="AiseoVlozReklamaciType"/>
	<xs:element name="AiseoVlozReklamaciResponse" type="AiseoVlozReklamaciResponseType"/>
	<xs:complexType name="AiseoVlozReklamaciType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v AIS EO.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType"/>
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0"/>
			<xs:element name="Zadost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AiseoVlozReklamaciData">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ns4:AiseoVlozReklamaciDataType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoVlozReklamaciResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v Evidenci obyvatelstva.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType"/>
			<xs:element name="AiseoOdpoved" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AiseoVlozReklamaciDataResponse" type="ns4:AiseoVlozReklamaciDataResponseType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
