wsdl/aiseo/xsd/AiseoCtiAifo3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aiseo:schemas:AiseoCtiAifo3:v1" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:rob="urn:cz:isvs:rob:schemas:RobTypy:v1" 
           xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
           xmlns:typse="urn:cz:isvs:aisse:schemas:AisSeTypy3:v1"
           xmlns:dt="urn:cz:isvs:aisse:schemas:DataTypy:v1"
           targetNamespace="urn:cz:isvs:aiseo:schemas:AiseoCtiAifo3:v1"            
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="0.3.0">
    
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby Aiseo, služba AiseoCtiAifo3.</xs:documentation>
	</xs:annotation>

        <!-- Vývojová verze 0.3.0, 20.02.2020, Libor Málek  Úvodní verze - vytvoření nové služby-->

	<xs:import namespace="urn:cz:isvs:rob:schemas:RobTypy:v1" schemaLocation="../../rob/xsd/RobTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
        <xs:import namespace="urn:cz:isvs:aisse:schemas:AisSeTypy3:v1" schemaLocation="../../aisse/xsd/AisSeTypyV3.xsd" />
        <xs:import namespace="urn:cz:isvs:aisse:schemas:DataTypy:v1" schemaLocation="../../aisse/xsd/DataTypy.xsd" />

	<xs:element name="AiseoSyncCtiAifo3" type="AiseoSyncCtiAifo3Type">
                <xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje přijmout žádost o data na zákaldě AIFO</xs:documentation>
		</xs:annotation>
	</xs:element>
        
	<xs:element name="AiseoSyncCtiAifo3Response" type="AiseoCtiAifo3ResponseType"/>
        
	<xs:complexType name="AiseoSyncCtiAifo3Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType"/>
			<xs:element name="AutorizaceInfo" type="reg:AutorizaceType"/>
			<xs:element name="MapaAifo" type="reg:MapaAifoType"/>
			<xs:element name="Dotaz" minOccurs="0">
				<xs:complexType>
                                        <xs:attribute name="znepristupniLog" type="xs:boolean">
                                                <xs:annotation>
                                                        <xs:documentation>Zápis do sledování dotazů - znepřístupnění záznamu</xs:documentation>
                                                </xs:annotation>
                                        </xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
        
 	<xs:complexType name="AiseoCtiAifo3ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS EO. Verze 3.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" />
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
			<xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
			<xs:element name="EoOdpoved" type="AiseoSyncCtiAifo3DataResponseType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="verzeZadosti" type="reg:VerzeType" />
	</xs:complexType>   
                
        
	<xs:complexType name="AiseoSyncCtiAifo3DataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS EO.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EoOdpoved" type="AisEoCtiAifo3DataResponseType"/>
		</xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="AisEoCtiAifo3DataResponseType">                
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS EO. Verze 3.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="typse:AisSeDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="KompletniUdaje" type="typse:KompletniUdajeEOType" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>                
                
                
	</xs:complexType>  
</xs:schema>
