wsdl/aiseo/xsd/AiseoCtiPodleUdaju.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aiseo:schemas:AiseoCtiPodleUdaju:v1" xmlns:i16="urn:cz:isvs:aiseo:schemas:AiseoCtiPodleUdaju:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aiseo="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" xmlns:rob="urn:cz:isvs:rob:schemas:RobTypy:v1" xmlns:iszd="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:aiseo:schemas:AiseoCtiPodleUdaju:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby AISEO, služba AiseoCtiPodleUdaju.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 09.03.2012 Aleš Teplý, výchozí verze -->
	<!-- Vývojová verze 0.1.1, 01.06.2012 Kamil Jindra, upraveno pro potřeby AIS EO -->
	<!-- Vývojová verze 0.1.2, 22.06.2012 Kamil Jindra, Do requestu přidán element AutorizaceInfo -->
	<!-- Vývojová verze 0.1.3, 27.06.2012 Kamil Jindra, Opravena navratova struktura -->
	<!-- Vývojová verze 0.1.4, 20.07.2012 Kamil Jindra, Odstraneny nektere nepouzivane typy-->
	<!-- Vývojová verze 0.1.5, 17.09.2012 Kamil Jindra, zmeny v request - pridan atribut typPorovnani -->
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobTypy:v1" schemaLocation="../../rob/xsd/RobTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoTypy:v1" schemaLocation="AiseoTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:aiseo:schemas:AiseoDotazyData:v1" schemaLocation="AiseoDotazyData.xsd"/>
	<xs:element name="AiseoSyncCtiPodleUdaju" type="AiseoSyncCtiPodleUdajuType">
		<xs:annotation>
			<xs:documentation>Služba umožňuje přijmout definovanou žádost na vyhledání dle RČ a ostatních Kombinací:  Jmeno+Prijmeni+Datum nar; Datum nar+Rodné příjm, </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AiseoSyncCtiPodleUdajuResponse" type="AiseoCtiPodleUdajuResponseType"/>
	<xs:element name="AiseoCtiPodleUdajuData" type="AiseoCtiPodleUdajuDataType"/>
	<xs:complexType name="AiseoSyncCtiPodleUdajuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Synchronní dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType"/>
			<xs:element name="AutorizaceInfo" type="reg:AutorizaceType"/>
			<xs:element name="Dotaz">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AiseoCtiPodleUdajuDataType">
							<xs:attribute name="typPorovnani" type="rob:TypPorovnaniType"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoCtiPodleUdajuDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje přijmout definovanou žádost na vyhledání dle RČ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Jmeno" type="aiseo:JmenoEOType" minOccurs="0"/>
			<xs:element name="Prijmeni" type="aiseo:PrijmeniEOType" minOccurs="0"/>
			<xs:element name="RodnePrijmeni" type="aiseo:RodnePrijmeniEOType" minOccurs="0"/>
			<xs:element name="DatumNarozeni" type="aiseo:DatumEOType" minOccurs="0"/>
			<xs:element name="RodneCislo" type="aiseo:RCEOType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoSyncCtiPodleUdajuDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Obecná definice datové části Response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AiseoAplikacniStatus" type="aiseo:AiseoAplikacniStatusType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AiseoCtiPodleUdajuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Synchronní odpověd na dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType"/>
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0"/>
			<xs:element name="Odpoved" type="AiseoSyncCtiPodleUdajuDataResponseType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
