wsdl/aisecd/xsd/AisEcdCtiHromadneAifo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aisecd:schemas:AisEcdCtiHromadneAifo:v2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:aisse="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" 
           xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
           targetNamespace="urn:cz:isvs:aisecd:schemas:AisEcdCtiHromadneAifo:v2"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="2.0.0">
    
        <xs:annotation>
		<xs:documentation xml:lang="cs">Definice prvků pro AIS ECD pro službu AisEcdCtiHromadneAifo.</xs:documentation>
	</xs:annotation>
        
    <!-- Úvodní verze pro atomické služby AIS ECD pro ZR v.2.0.0, 12.04.2018, KOMIX: Libor Málek, Jan Štastný, Andrea Vataščinová  -->
	
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd" />
	<xs:import namespace="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" schemaLocation="../../aisse/xsd/AisSeTypyV2.xsd" />

	<xs:element name="AisEcdSyncCtiHromadneAifo" type="AisEcdCtiHromadneAifoType" />
	<xs:element name="AisEcdSyncCtiHromadneAifoResponse" type="AisEcdCtiHromadneAifoResponseType" />

	<xs:complexType name="AisEcdCtiHromadneAifoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" />
			<xs:element name="AutorizaceInfo" type="reg:AutorizaceType" minOccurs="0" />
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
			<xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
			<xs:element name="Dotaz" type="aisse:AisSeCtiHromadneAifoDotazDataType" />
		</xs:sequence>
		<xs:attribute name="verzeZadosti" type="reg:VerzeType" />

	</xs:complexType>

	<xs:complexType name="AisEcdCtiHromadneAifoResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" />
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
			<xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
			<xs:element name="EcdOdpoved" type="AisEcdCtiHromadneAifoDataResponseType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="verzeZadosti" type="reg:VerzeType" />
	</xs:complexType>

	<xs:complexType name="AisEcdCtiHromadneAifoDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS ECD.</xs:documentation>
		</xs:annotation>		
                    <xs:sequence>
			<xs:element name="EcdOdpovedV1" type="AisEcdCtiHromadneAifoDataResponseTypeV1" minOccurs="0" />
                    </xs:sequence>    
	</xs:complexType>
        
	<xs:complexType name="AisEcdCtiHromadneAifoDataResponseTypeV1">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz- data AIS ECD. Verze 1.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="aisse:AisSeDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Data" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Aifo" type="reg:LokalniAifoType" />
								<xs:element name="KompletniUdaje" type="aisse:KompletniUdajeCDType" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
