wsdl/aisv/xsd/AisvData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:aisv:schemas:AisvData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:aisv:schemas:AisvData:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.2">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby AISV.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.1, 20.10.2022, Vladimír Hudec  Úvodní verze -->
	<!-- Vývojová verze 0.1.2, 31.10.2022, Revize pro externi rozhrani -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:complexType name="PaisIdType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Id subjektu změny. Může být AIFO nebo IČO.
            </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Aifo" type="reg:LokalniAifoType"/>
			<xs:element name="Ico" type="reg:IcoType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ZmenaIdType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Jednoznačný identifikátor změny.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
</xs:schema>
