wsdl/aiseop/xsd/AisEopCtiPodleUdaju.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema xmlns="urn:cz:isvs:aiseop:schemas:AisEopCtiPodleUdaju:v2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:aisse="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" 
           xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
           xmlns:dt="urn:cz:isvs:aisse:schemas:DataTypy:v1"
           targetNamespace="urn:cz:isvs:aiseop:schemas:AisEopCtiPodleUdaju:v2"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="1.0.0">

    <xs:annotation>
        <xs:documentation xml:lang="cs">Definice prvků  pro AIS EOP pro službu AisEopCtiPodleUdaju.</xs:documentation>
    </xs:annotation>

    <!-- Úvodní verze pro atomické služby AIS EOP pro ZR v.1.0.0, 23.06.2017, KOMIX: Libor Málek, Jan Štastný, Andrea Vataščinová  -->

    <xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd" />
    <xs:import namespace="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" schemaLocation="../../aisse/xsd/AisSeTypyV2.xsd" />
    <xs:import namespace="urn:cz:isvs:aisse:schemas:DataTypy:v1" schemaLocation="../../aisse/xsd/DataTypy.xsd" />

    <xs:element name="AisEopSyncCtiPodleUdaju" type="AisEopCtiPodleUdajuType" />
    <xs:element name="AisEopSyncCtiPodleUdajuResponse" type="AisEopCtiPodleUdajuResponseType" />

    <xs:complexType name="AisEopCtiPodleUdajuType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Dotaz na data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ZadostInfo" type="reg:ZadostInfoType" />
            <xs:element name="AutorizaceInfo" type="reg:AutorizaceType" minOccurs="0" />
            <xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
            <xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
            <xs:element name="Dotaz" type="AisEopCtiPodleUdajuDataType" />
        </xs:sequence>
        <xs:attribute name="verzeZadosti" type="reg:VerzeType" />
    </xs:complexType>

    <xs:complexType name="AisEopCtiPodleUdajuResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Odpověd na dotaz.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" />
            <xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
            <xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
            <xs:element name="EopOdpoved" type="AisEopCtiPodleUdajuDataResponseType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="verzeZadosti" type="reg:VerzeType" />
    </xs:complexType>

    <xs:complexType name="AisEopCtiPodleUdajuDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Příprava dotazu na data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AisEopCtiPodleUdajuData" type="AisEopCtiPodleUdajuDotazDataType"  minOccurs="0" />
                <xs:element name="AisEopCtiPodleDokladData" type="AisEopCtiPodleDokladDataType"  minOccurs="0" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="verzeSluzby" type="dt:Text2" />
    </xs:complexType>

    <xs:complexType name="AisEopCtiPodleUdajuDotazDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Dotaz na data - povolená kombinace dotazů.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aisse:AisSeCtiPodleUdajuDataType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="Dotaz1JmPrijRC">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Jmeno" type="dt:JmenoType" />
                                    <xs:element name="Prijmeni" type="dt:PrijmeniType" />
                                    <xs:element name="RodneCislo" type="dt:RodneCisloType" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Dotaz2JmPrijDatNar">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Jmeno" type="dt:JmenoType" />
                                    <xs:element name="Prijmeni" type="dt:PrijmeniType" />
                                    <xs:element name="DatumNarozeni" type="dt:DatumType" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Dotaz3JmPrijDatNarMN">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Jmeno" type="dt:JmenoType" />
                                    <xs:element name="Prijmeni" type="dt:PrijmeniType" />
                                    <xs:element name="DatumNarozeni" type="dt:DatumType" />
                                    <xs:element name="MistoNarozeni" type="aisse:MistoType" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Dotaz4JmPrijDatNarTP">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Jmeno" type="dt:JmenoType" />
                                    <xs:element name="Prijmeni" type="dt:PrijmeniType" />
                                    <xs:element name="DatumNarozeni" type="dt:DatumType" />
                                    <xs:element name="TrvalyPobyt" type="reg:KodAdresniMistoType" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Dotaz5JmPrijOP">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Jmeno" type="dt:JmenoType" />
                                    <xs:element name="Prijmeni" type="dt:PrijmeniType" />
                                    <xs:element name="OpCislo" type="dt:OPCisloType" />
                                    <xs:element name="OpSerie" type="dt:OPSerieType" minOccurs="0" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>






    <xs:complexType name="AisEopCtiPodleDokladDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Dotaz na data - podle dokladu.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aisse:AisSeCtiPodleDokladDataType">
                <xs:sequence>                         
                    <xs:element name="OpCislo" type="dt:OPCisloIntType" />
                    <xs:element name="OpSerie" type="dt:OPSerieType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
    
    
    
    
    

    <xs:complexType name="AisEopCtiPodleUdajuDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS EOP.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EopOdpovedV1" type="AisEopCtiPodleUdajuDataResponseTypeV1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AisEopCtiPodleUdajuDataResponseTypeV1">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Odpověd na dotaz - data AIS EOP. Verze 1.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="aisse:AisSeDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Aifo" type="reg:LokalniAifoType" />
                    <xs:element name="KompletniUdaje" type="aisse:KompletniUdajeOPType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>


    </xs:complexType>

</xs:schema>
