wsdl/ruian/xsd/vyhledej/VolebniOkrsekPodminka.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VolebniOkrsekPodminka:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VolebniOkrsekPodminka:v1" xmlns:voPodm="urn:cz:isvs:ruian:schemas:VolebniOkrsekPodminka:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:ob="urn:cz:isvs:ruian:schemas:Obec:v1" xmlns:mc="urn:cz:isvs:ruian:schemas:Momc:v1" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" version="1.1.2">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Momc:v1" schemaLocation="../../../ruian/xsd/prvky/Momc.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:Obec:v1" schemaLocation="../../../ruian/xsd/prvky/Obec.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="VolebniOkrsekPodminkaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Volební okrsek</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cislo" type="base:Kod5Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Obec" type="ob:ObecType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Momc" type="mc:MomcType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ohrada" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
