wsdl/ruian/xsd/vyhledej/VOPolozkyBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:VolebniOkrsekPolozkyBase:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VolebniOkrsekPolozkyBase:v1" xmlns:voPolBase="urn:cz:isvs:ruian:schemas:VolebniOkrsekPolozkyBase:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:obPolBase="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v1" xmlns:mcPolBase="urn:cz:isvs:ruian:schemas:MomcPolozkyBase:v1" elementFormDefault="qualified" version="1.1.1">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:MomcPolozkyBase:v1" schemaLocation="../../../ruian/xsd/vyhledej/MomcPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v1" schemaLocation="../../../ruian/xsd/vyhledej/ObecPolozkyBase.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:group name="VolebniOkrsekPolozkyGroup">
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cislo" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Obec" type="obPolBase:ObecPolozkyBaseType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Momc" type="mcPolBase:MomcPolozkyBaseType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Poznamka" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="VolebniOkrsekPolozkyBaseType">
		<xs:sequence>
			<xs:group ref="VolebniOkrsekPolozkyGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
