wsdl/ruian/xsd/vyhledej/ZsjPodminka.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZsjPodminka:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZsjPodminka:v1" xmlns:zjPodm="urn:cz:isvs:ruian:schemas:ZsjPodminka:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:ku="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KatastralniUzemi:v1" schemaLocation="../../../ruian/xsd/prvky/KatastralniUzemi.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="ZsjPodminkaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">ZSJ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CharakterZsjKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KatastralniUzemi" type="ku:KatastralniUzemiType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
