wsdl/iszr/xsd/IszrDataCtiSouborCiselniku.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataCtiSouborCiselniku:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrDataCtiSouborCiselniku:v1"
	xmlns:i11="urn:cz:isvs:iszr:schemas:IszrDataCtiSouborCiselniku:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" 
	xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" 
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.1.0, 14.10.2011, Pavel Odstrčil -->
	<!-- Vývojová verze 0.1.1, 26.10.2011 Aleš Teplý, formální úpravy -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>

	<xs:element name="IszrCtiSouborCiselnikuData" type="IszrCtiSouborCiselnikuDataType"/>
	<xs:element name="IszrCtiSouborCiselnikuDataResponse" type="IszrCtiSouborCiselnikuDataResponseType"/>

	<xs:complexType name="IszrCtiSouborCiselnikuDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Čtení číselníku.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KodCiselniku" type="iszr:CiselnikKodType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IszrCtiSouborCiselnikuDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Čtení číselníku, odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Ciselnik" type="iszr:SouborCiselnikuType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
