wsdl/iszr/xsd/IszrDataUlozMapaAifo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrDataUlozMapaAifo:v1" xmlns:i26="urn:cz:isvs:iszr:schemas:IszrDataUlozMapaAifo:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataUlozMapaAifo:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.1">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR, interní služba ISZR I25.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 19.11.2013, Pavel Odstrčil, vznik -->
	<!-- Vývojová verze 0.1.1, 27.12.2013, Pavel Odstrčil, příjemce včetně AIS -->
	<!-- AutoCont CZ a.s. -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>
	<xs:element name="IszrUlozMapaAifoData" type="IszrUlozMapaAifoDataType"/>
	<xs:element name="IszrUlozMapaAifoDataResponse" type="IszrUlozMapaAifoDataResponseType"/>
	<xs:complexType name="IszrUlozMapaAifoDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje uložit mapu AIFO pro překlad pro jiný AIS. Datová část Request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DobaUlozeniDnu" type="DobaUlozeniDnuType"/>
			<xs:element name="SeznamPrijemcu" type="SeznamPrijemcuType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="znepristupniLog" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="SeznamPrijemcuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam povolených cílových příjemců</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Prijemce" type="PrijemceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrijemceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Definice příjemce</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agenda" type="reg:KodAgendyType" minOccurs="0"/>
			<xs:element name="Ais" type="reg:KodAisType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DobaUlozeniDnuType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IszrUlozMapaAifoDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje uložit mapu AIFO pro překlad pro jiný AIS. Datová část Response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Ulozka" type="UlozkaType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UlozkaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Informace o uložení dat</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UlozkaId" type="reg:UuidType"/>
			<xs:element name="UlozeniDo" type="reg:CasovaZnackaType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
