wsdl/iszr/xsd/IszrDataReklamujFormularem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataReklamujFormularem:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrDataReklamujFormularem:v1"
	xmlns:i18="urn:cz:isvs:iszr:schemas:IszrDataReklamujFormularem:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" 
	xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" 
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR, interní služba ISZR I18.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.1.0, 09.03.2012 Aleš Teplý, výchozí verze -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>

	<xs:element name="IszrReklamujFormularemData" type="IszrReklamujFormularemDataType"/>
	<xs:element name="IszrReklamujFormularemDataResponse" type="IszrReklamujFormularemDataResponseType"/>

	<xs:complexType name="IszrReklamujFormularemDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje podání reklamace na údaj vedený v ZR. Datová část Request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FormularData" type="iszr:FormularDataType"/>
			<xs:element name="ManualniZpracovani" type="iszr:ManualniZpracovaniType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IszrReklamujFormularemDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje podání reklamace na údaj vedený v ZR. Datová část Response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="IdReklamace" type="reg:IdentifikatorType"/>
					<xs:element name="FormularOdpoved" type="iszr:FormularDataType"/>
					<xs:element name="FormularDokument" type="iszr:BinarniDokumentType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
