wsdl/iszr/xsd/IszrDataProbe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataProbe:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrDataProbe:v1"
	xmlns:i21="urn:cz:isvs:iszr:schemas:IszrDataProbe:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" 
	xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" 
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="0.1.1">

	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR, interní služba ISZR I21.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.1.0, 13.08.2012 Aleš Teplý, výchozí verze -->
	<!-- Vývojová verze 0.1.1, 17.08.2012, Aleš Teplý, typy převedeny do RegTypy -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>

	<xs:element name="IszrProbeData" type="IszrProbeDataType"/>
	<xs:element name="IszrProbeDataResponse" type="IszrProbeDataResponseType"/>

	<xs:complexType name="IszrProbeDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje testovat dostupnost rozhraní využívaných ISZR (Základní registry, ORG, AISy). Datová část Request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeznamRozhrani" type="reg:SeznamRozhraniType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IszrProbeDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje testovat dostupnost rozhraní využívaných ISZR (Základní registry, ORG, AISy). Datová část Response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="OdpovediRozhrani" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OdpovedRozhrani" type="reg:OdpovedRozhraniType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
