wsdl/iszr/xsd/IszrDataAgendaMediaDataCtiPodleUdaju.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrDataAgendaMediaDataCtiPodleUdaju:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:aisse="urn:cz:isvs:aisse:schemas:AisSeTypy:v1" xmlns:rob="urn:cz:isvs:rob:schemas:RobTypy:v1" targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataAgendaMediaDataCtiPodleUdaju:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR</xs:documentation>
	</xs:annotation>
	<!-- Vznik - 27.08.2015 AutoCont CZ a.s. -->
	<!-- Verze 1.1.0 - 31.07.2017 AutoCont CZ a.s. - zmena na AisSe -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobTypy:v1" schemaLocation="../../rob/xsd/RobTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>
	<xs:import namespace="urn:cz:isvs:aisse:schemas:AisSeTypy:v1" schemaLocation="../../aisse/xsd/AisSeTypy.xsd"/>
	<!-- rootove elementy -->
	<xs:element name="IszrAgendaMediaDataCtiPodleUdajuData" type="IszrAgendaMediaDataCtiPodleUdajuDataType"/>
	<!-- type -->
	<xs:complexType name="IszrAgendaMediaDataCtiPodleUdajuDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Společný datový typ pro žádost do připojených SPAIS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgendaZdroj" type="AgendaZdrojMediaDataType">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Agenda, ze které je požadován výdej</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ais" type="reg:KodAisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Volitelně identifikátor AIS. Použije se v případě, kdy není na základě agendy možné uržit jednoznačně AIS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dotaz" type="IszrAisSeMediaCtiPodleUdajuDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AgendaZdrojMediaDataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Eop"/>
			<xs:enumeration value="Ecd"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IszrAisSeMediaCtiPodleUdajuDataType">
		<xs:sequence>
			<xs:element name="AisSeMediaCtiPodleUdajuData" type="IszrAisSeMediaCtiPodleUdajuDotazDataType"/>
		</xs:sequence>
		<xs:attribute name="verzeSluzby" type="aisse:Text2"/>
	</xs:complexType>
	<xs:complexType name="IszrAisSeMediaCtiPodleUdajuDotazDataType">
		<xs:sequence>
			<xs:element name="KriteriaProFotky" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DatumOd" type="aisse:DatumType" minOccurs="0"/>
						<xs:element name="DatumDo" type="aisse:DatumType" minOccurs="0"/>
						<xs:element name="Pocet" type="xs:int" default="1" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KriteriaProPodpis" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DatumOd" type="aisse:DatumType" minOccurs="0"/>
						<xs:element name="DatumDo" type="aisse:DatumType" minOccurs="0"/>
						<xs:element name="Pocet" type="xs:int" default="1" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KlicProSifrovani" type="xs:base64Binary"/>
			<xs:choice>
				<xs:element name="Dotaz1JmPrijRC">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="aisse:JmenoType"/>
							<xs:element name="Prijmeni" type="aisse:PrijmeniType"/>
							<xs:element name="RodneCislo" type="aisse:RodneCisloType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dotaz2JmPrijDatNar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="aisse:JmenoType"/>
							<xs:element name="Prijmeni" type="aisse:PrijmeniType"/>
							<xs:element name="DatumNarozeni" type="aisse:DatumType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dotaz3JmPrijDatNarMN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="aisse:JmenoType"/>
							<xs:element name="Prijmeni" type="aisse:PrijmeniType"/>
							<xs:element name="DatumNarozeni" type="aisse:DatumType"/>
							<xs:element name="MistoNarozeni" type="rob:MistoNarozeniType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dotaz4JmPrijDatNarTP">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="aisse:JmenoType"/>
							<xs:element name="Prijmeni" type="aisse:PrijmeniType"/>
							<xs:element name="DatumNarozeni" type="aisse:DatumType"/>
							<xs:element name="TrvalyPobyt" type="reg:KodAdresniMistoType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dotaz5JmPrijDoklad">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Jmeno" type="aisse:JmenoType"/>
							<xs:element name="Prijmeni" type="aisse:PrijmeniType"/>
							<xs:choice>
								<xs:element name="Op">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OpCislo" type="aisse:OPCisloType"/>
											<xs:element name="OpSerie" type="aisse:OPSerieType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Cd">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CdCislo" type="aisse:CDCisloType"/>
											<xs:element name="CdDruh" type="aisse:DruhCestovnihoDokladuType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="typPorovnani" type="rob:TypPorovnaniType" default="diakritika"/>
		<xs:attribute name="znepristupniLog" type="xs:boolean"/>
	</xs:complexType>
</xs:schema>
