wsdl/iszr/xsd/IszrDataCtiSeznamCiselniku.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataCtiSeznamCiselniku:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrDataCtiSeznamCiselniku:v1"
	xmlns:i10="urn:cz:isvs:iszr:schemas:IszrDataCtiSeznamCiselniku:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" 
	xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" 
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.1.0, 14.10.2011, Pavel Odstrčil -->
	<!-- Vývojová verze 0.1.1, 26.10.2011 Aleš Teplý, formální úpravy -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>

	<xs:element name="IszrCtiSeznamCiselnikuData" type="IszrCtiSeznamCiselnikuDataType"/>
	<xs:element name="IszrCtiSeznamCiselnikuDataResponse" type="IszrCtiSeznamCiselnikuDataResponseType"/>

	<xs:complexType name="IszrCtiSeznamCiselnikuDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Čtení seznamu čselníků.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZmenaOd" type="reg:CasovaZnackaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IszrCtiSeznamCiselnikuDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Čtení seznamu číselníků, odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="PolozkySeznamu">
						<xs:complexType>
								<xs:sequence>
									<xs:element name="PolozkaSeznamu"	type="iszr:SouborCiselnikuInfoType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
