wsdl/iszr/xsd/IszrDataPodejMapaAifo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrDataPodejMapaAifo:v1" xmlns:i25="urn:cz:isvs:iszr:schemas:IszrDataPodejMapaAifo:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iszr="urn:cz:isvs:iszr:schemas:IszrTypy:v1" xmlns:iszd="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:iszr:schemas:IszrDataPodejMapaAifo:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi dat pro služby ISZR, interní služba ISZR I26.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.1.0, 19.11.2013, Pavel Odstrčil, vznik -->
	<!-- AutoCont CZ a.s. -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrTypy:v1" schemaLocation="IszrTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDotazyData:v1" schemaLocation="IszrDotazyData.xsd"/>
	<xs:element name="IszrPodejMapaAifoData" type="IszrPodejMapaAifoDataType"/>
	<xs:element name="IszrPodejMapaAifoDataResponse" type="IszrPodejMapaAifoDataResponseType"/>
	<xs:complexType name="IszrPodejMapaAifoDataType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje získat přeloženou mapu AIFO pro volající AIS. Datová část Request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UlozkaId" type="reg:UuidType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IszrPodejMapaAifoDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje získat přeloženou mapu AIFO pro volající AIS. Datová část Response.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="iszd:IszrDotazyDataResponseType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
