wsdl/ruian/xsd/editace_isui/ZmenDefBodVuc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZmenDefBodVuc:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZmenDefBodVuc:v1" xmlns:zvuc="urn:cz:isvs:ruian:schemas:ZmenDefBodVuc:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:zt="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" elementFormDefault="qualified" version="0.40.1">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" schemaLocation="../../../ruian/xsd/typy/ZmenaTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="DefinicniBodVucZmenaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zmena definicniho bodu VUC</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Geometrie" type="zt:SdoGeometryType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="VlastnostiTextu" type="zt:VlastnostiTextuZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Natoceni" type="zt:NatoceniZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StatKod" type="zt:Kod2ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegionSoudrznostiKod" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KrajKod" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VuscKod" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OkresKod" type="zt:Kod4ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrpKod" type="zt:Kod4ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PouKod" type="zt:Kod4ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ObecKod" type="zt:Kod6ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SpravniObvodKod" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MopKod" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MomcKod" type="zt:Kod6ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CastObceKod" type="zt:Kod6ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZsjKod" type="zt:Kod6ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nespravny" type="zt:NespravnyZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TypPrvkuPrehledMapKod" type="zt:Kod10ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="zt:DatumCasZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="zt:IdNavrhuZmenyZmenaType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
