wsdl/ruian/xsd/editace_isui/ZmenAdresniPosta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZmenAdresniPosta:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZmenAdresniPosta:v1" xmlns:zpo="urn:cz:isvs:ruian:schemas:ZmenAdresniPosta:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:zt="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" elementFormDefault="qualified" version="0.40.1">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" schemaLocation="../../../ruian/xsd/typy/ZmenaTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:complexType name="AdresniPostaZmenaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zmena adresni posty</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Psc" type="com:PscType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Nazev" type="zt:Nazev48ZmenaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="zt:DatumCasZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="zt:IdNavrhuZmenyZmenaType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
