wsdl/ruian/xsd/editace_isui/ZmenDalsiUdajUP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZmenDalsiUdajUP:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZmenDalsiUdajUP:v1" xmlns:zuup="urn:cz:isvs:ruian:schemas:ZmenDalsiUdajUP:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:zt="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" elementFormDefault="qualified" version="1.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" schemaLocation="../../../ruian/xsd/typy/ZmenaTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="DalsiUdajUPZmenaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Změna dalšího údaje účelového prvku</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="UcelovyPrvekKod" type="base:Kod9Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TypUdajeKod" type="base:Nazev30Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="HodnotaCislo" type="zt:HodnotaCisloDalsiUdajUPZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HodnotaDatum" type="zt:DatumCasZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HodnotaText" type="zt:Text2000ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Poradi" type="zt:Kod3ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="zt:DatumCasZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="zt:IdNavrhuZmenyZmenaType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
