wsdl/isui/xsd/externi_nz/CsuExtTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:isui:schemas:CsuExtTypy:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:isui:schemas:CsuExtTypy:v1" xmlns:csx="urn:cz:isvs:isui:schemas:CsuExtTypy:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:eex="urn:cz:isvs:isui:schemas:EditaceExtTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" elementFormDefault="qualified" version="0.42.2">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma pro kontrolu a zplatnění návrhu změny v rámci agendy ČSÚ.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:EditaceExtTypy:v1" schemaLocation="../../../isui/xsd/externi_nz/EditaceExtTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:element name="ZkontrolujNzCSURequest" type="csx:ZmenPrvkyCSURequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadavek na kontrolu návrhu změny v rámci agendy ČSÚ.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EditaceCSUType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Editace z agendy ČSÚ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HlavickaNZ" type="eex:HlavickaNzType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PodkladyNZ" type="eex:PodkladNzSeznamType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Prvky" type="PrvekListEditaceCSUType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ZrusGeomZSJvKU" type="base:Kod6Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód katastrálního území v kterém se zruší lokalizační údaje ZSJ.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrvekListEditaceCSUType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam editovaných prvků z agendy ČSÚ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Prvek" type="PrvekEditaceCSUType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrvekEditaceCSUType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Editace prvku z agendy ČSÚ.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="VytvoreniZsj" type="ZsjVytvoreniExtNZType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZmenaZsj" type="ZsjZmenaExtNZType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZruseniZsj" type="ZsjZruseniExtNZType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VytvoreniHraniceZsj" type="HraniceZsjVytvoreniExtNZType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZruseniHraniceZsj" type="HraniceZsjZruseniExtNZType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OpravaZsj" type="ZsjOpravaExtNZType" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ZsjVytvoreniExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Vytvoření Základní sidelní jednotky v rámci externiho NZ.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Kod" type="base:Kod6Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="KatastralniUzemiKod" type="base:Kod6Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="CharekterZsjKod" type="base:Kod4Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MluvnickaCharakteristikaPad2" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad3" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad4" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad5" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad6" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad7" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="Vymera" type="com:VymeraType" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="DefinicniBod" type="gml:MultiPointPropertyType" minOccurs="1" maxOccurs="1" nillable="true"/>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZsjZruseniExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zrušení Základní sídelní jednotky v rámci externího NZ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZmenPrvkyCSURequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadavek na návrh změny v rámci agendy ČSÚ.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Dotaz" type="EditaceCSUType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZplatniNzCSURequest" type="csx:ZmenPrvkyCSURequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadavek na zplatnění návrhu změny v rámci agendy ČSÚ.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ZsjZmenaExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Změna Základní sídelní jednotky v rámci externího NZ.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Kod" type="base:Kod6Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="KatastralniUzemiKod" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CharekterZsjKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MluvnickaCharakteristikaPad2" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad3" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad4" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad5" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad6" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="MluvnickaCharakteristikaPad7" type="base:Nazev48Type" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="Vymera" type="com:VymeraType" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="DefinicniBod" type="gml:MultiPointPropertyType" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HraniceZsjExtNZType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Hranice ZSJ ve formě okřídlených hran.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="HraniceId" type="base:Id18Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ZsjKod1" type="base:Kod6Type" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ZsjKod2" type="base:Kod6Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="HraniceKatastralnihoUzemiId" type="base:Id18Type" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Geometrie" type="gml:CurvePropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HraniceZsjVytvoreniExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Vytvoření hranice ZSJ.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="HraniceZsjExtNZType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HraniceZsjZruseniExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zrušení hranice ZSJ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HraniceId" type="base:Id18Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="HraniceKatastralnihoUzemiId" type="base:Id18Type" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZsjOpravaExtNZType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Oprava Základní sídelní jednotky v rámci externího NZ. Lze opravit i Platnost od.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ZsjZmenaExtNZType">
				<xs:sequence>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Platnost od v případ, že se mění</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
