wsdl/ruian/xsd/editace_iskn/ZmenParcela.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ZmenParcela:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ZmenParcela:v1" xmlns:zpa="urn:cz:isvs:ruian:schemas:ZmenParcela:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:zt="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenaTypy:v1" schemaLocation="../../../ruian/xsd/typy/ZmenaTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="ParcelaZmenaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zmena parcely</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Nespravny" type="zt:NespravnyZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KatastralniUzemiKod" type="zt:Kod6ZmenaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DruhPozemkuKod" type="zt:Kod2ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DruhCislovaniKod" type="zt:Kod2ZmenaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="KmenoveCislo" type="zt:KmenoveCisloZmenaType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PoddeleniCisla" type="zt:PoddeleniCislaZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VymeraParcely" type="zt:VymeraZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZpusobVyuzitiKod" type="zt:Kod4ZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="zt:DatumCasZmenaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RizeniId" type="zt:IdRizeniZmenaType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
