wsdl/ros/xsd/RosDotazyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:ros:schemas:RosDotazyData:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ros="urn:cz:isvs:ros:schemas:RosTypy:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:dot="urn:cz:isvs:ros:schemas:RosDotazyTypy:v1" targetNamespace="urn:cz:isvs:ros:schemas:RosDotazyData:v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
    <xs:annotation>
        <xs:documentation xml:lang="cs">Návrh XML schématu s definicemi dotazovacích datových prvků IS ROS.
          Toto schéma obsahuje definice datových prvků vstupu a výstupu jednotlivých dotazovacích služeb
          registru osob (ROS).
        </xs:documentation>
    </xs:annotation>
    <!-- Verze 1.0.0, 9.2.2012 -->
    <xs:import namespace="urn:cz:isvs:ros:schemas:RosTypy:v2" schemaLocation="RosTypy.xsd"/>
    <xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
    <xs:import namespace="urn:cz:isvs:ros:schemas:RosDotazyTypy:v1" schemaLocation="RosDotazyTypy.xsd"/>
    <xs:element name="RosCtiIcoData" type="RosCtiIcoDataType"/>
    <xs:element name="RosCtiIcoDataResponse" type="RosCtiIcoDataResponseType"/>
    <xs:element name="RosCtiAifoData" type="RosCtiAifoDataType"/>
    <xs:element name="RosCtiAifoDataResponse" type="RosCtiAifoDataResponseType"/>
    <xs:element name="RosCtiPodleUdajuData" type="RosCtiPodleUdajuDataType"/>
    <xs:element name="RosCtiPodleUdajuDataResponse" type="RosCtiPodleUdajuDataResponseType"/>
    <xs:element name="RosCtiZmenyData" type="RosCtiZmenyDataType"/>
    <xs:element name="RosCtiZmenyResponse" type="RosCtiZmenyDataResponseType"/>
    <xs:element name="RosCtiSeznamIcoData" type="RosCtiSeznamIcoDataType"/>
    <xs:element name="RosCtiSeznamIcoDataResponse" type="RosCtiSeznamIcoDataResponseType"/>
    <xs:element name="RosVypisVyuzitiData" type="RosVypisVyuzitiDataType"/>
    <xs:element name="RosVypisVyuzitiDataResponse" type="RosVypisVyuzitiDataResponseType"/>
    <xs:element name="RosCtiSeznamEditoruData" type="RosCtiSeznamEditoruDataType"/>
    <xs:element name="RosCtiSeznamEditoruDataResponse" type="RosCtiSeznamEditoruDataResponseType"/>
    <!-- S1 -->
    <xs:complexType name="RosDotazyDataResponseAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Společný předek všech odpovědí na dotazy ROS.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AplikacniStatus" type="ros:AplikacniStatusType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiIcoDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů podle IČO - služba S05
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ico" type="reg:IcoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiIcoDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů podle IČO - služba S05, odpověď.
              Pokud pro předané IČO nebyla osoba zapsána, ale bylo jen zažádáno o jeho přidělení,
              služba vrátí údaje z žádosti o přidělení IČO a chybový status.
              Pokud pro předané IČO nebyla osoba zapsána, ale IČO bylo hromadně přiděleno,
              služba vrátí kód agendy a chybový status.              
              Jinak služba vrací kompletní referenční údaje fyzické nebo právnické osoby a identifikátor poslední změny
              osoby nebo chybový status.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                ICO NEEXISTUJE
                ICO NEPRIDELENO
                ICO PRIDELENO
                ICO HROMADNE PRIDELENO
                NEVALIDNI DATA
                NEVALIDNI ZADOST
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:choice minOccurs="0">
                    <xs:element name="PravnickaOsoba" type="dot:PravnickaOsobaStavResponseType"/>
                    <xs:element name="FyzickaOsoba" type="dot:FyzickaOsobaStavResponseType"/>
                    <xs:element name="UdajeZadosti" type="ros:UdajeZadostiIcoResponseType"/>
                    <xs:element name="KodAgendy" type="reg:KodAgendyType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RosCtiAifoDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů podle AIFO - služba S06.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Aifo" type="reg:LokalniAifoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiAifoDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů podle AIFO - služba S06, odpověď.
              Pokud pro předané AIFO nebyla osoba zapsána, ale bylo jen zažádáno o přidělení IČO s předaným AIFO,
              služba vrátí údaje z žádosti o přidělení IČO a chybový status.
              Pokud pro předané AIFO nebyla osoba zapsána, ale IČO pro předané AIFO bylo hromadně přiděleno,
              služba vrátí kód agendy a chybový status.                            
              V případě nalezení více než jedné zapsané osoby s předaným AIFO, vrací služba seznam fyzických osob
              s jejich referenčními a provozními údaji a chybový status.
              Jinak služba vrací kompletní referenční údaje fyzické osoby a identifikátor poslední změny
              osoby nebo chybový status.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                ICO NEEXISTUJE
                ICO PRIDELENO
                CHYBA MAPA AIFO                
                ZAPSANO VICE OSOB
                NEVALIDNI DATA
                NEVALIDNI ZADOST
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:choice minOccurs="0">
                    <xs:element name="FyzickaOsoba" type="dot:FyzickaOsobaStavResponseType" maxOccurs="unbounded"/>
                    <xs:element name="UdajeZadosti" type="ros:UdajeZadostiIcoResponseType"/>
                    <xs:element name="KodAgendy" type="reg:KodAgendyType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- S4 -->
    <xs:complexType name="RosCtiPodleUdajuDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů osoby (osob) na základě vyhledávacích kritérií - služba S07.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MaximalniPocet" type="reg:MaximalniPocetType" minOccurs="0"/>
            <xs:element name="Ico" type="reg:IcoType" minOccurs="0"/>
            <xs:element name="DatovaSchranka" type="dot:DatovaSchrankaFiltrType" minOccurs="0"/>
            <xs:element name="KodPravniFormy" type="ros:KodPravniFormyType" minOccurs="0"/>
            <xs:element name="KodPravnihoStavu" type="ros:KodPravnihoStavuType" minOccurs="0"/>
            <xs:element name="StatutarniOrgan" type="dot:StatutarniOrganFiltrType" minOccurs="0"/>
            <xs:element name="Provozovna" type="dot:ProvozovnaFiltrType" minOccurs="0"/>
            <xs:element name="OsobaAgendy" type="dot:OsobaAgendyFiltrType" minOccurs="0"/>
            <xs:element name="Fo" type="dot:FoFiltrType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiPodleUdajuDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Čtení referenčních údajů osoby (osob) na základě vyhledávacích kritérií - služba S07, odpověď.
              Služba vrací seznam fyzických nebo právnických osob s jejich referenčními údaji
              a v případě překročení povoleného maximálního počtu i chybový status. 
              Jinak služba vrací jen chybový status.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                PREKROCEN POCET
                NEVYHOVUJE ZADNY ZAZNAM OSOBY
                CHYBA MAPA AIFO
                CHYBA MAPA ADRES
                CHYBA ROZSAHU
                CHYBA OPRAVNENI
                NEPOVOLENY KOD PRAVNI FORMY
                NEPOVOLENY KOD PRAVNIHO STAVU
                NEPOVOLENY KOD AGENDY
                NEPOVOLENY KOD OVM
                NEVALIDNI DATA
                NEVALIDNI ZADOST
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="PravnickaOsoba" type="dot:PravnickaOsobaHrStavResponseType"/>
                    <xs:element name="FyzickaOsoba" type="dot:FyzickaOsobaHrStavResponseType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RosCtiZmenyDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání seznamu IČO, u kterých došlo ke změně referenčních údajů - služba S13.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MaximalniPocet" type="reg:MaximalniPocetType" minOccurs="0"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="CasZmenyOd" type="ros:ZmenaCasType"/>
                    <xs:element name="CasZmenyDo" type="ros:ZmenaCasType" minOccurs="0"/>
                </xs:sequence>
                <xs:element name="IdZmeny" type="ros:ZmenaIdType"/>
            </xs:choice>
            <xs:element name="TypZmeny" type="dot:TypZmenyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiZmenyDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání seznamu IČO, u kterých došlo ke změně referenčních údajů - služba S13, odpověď.
              Služba vrací seznam IČO, u kterých došlo ke změně, společně s typem, identifikátorem a časem změny
              každého IČO nebo jen chybový status. Seznam je setříděn vzestupně dle identifikátoru změny.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                PREKROCEN POCET
                PRAZDNY SEZNAM
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                CHYBA ROZSAHU
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="Zmeny" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Zmena" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Ico" type="reg:IcoType"/>
                                            <xs:element name="TypZmeny">
                                                <xs:simpleType>
                                                    <xs:restriction base="dot:TypZmenyType">
                                                        <xs:enumeration value="I"/>
                                                        <xs:enumeration value="U"/>
                                                        <xs:enumeration value="D"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="CasZmeny" type="ros:ZmenaCasType"/>
                                            <xs:element name="IdZmeny" type="ros:ZmenaIdType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RosCtiSeznamIcoDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání seznamu osob podle seznamu IČO - služba S14.
                Je možné určit, zda budou vydány také provozní údaje osob.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NacistProvozniUdaje" type="xs:boolean"/>
            <xs:element name="Ico" type="reg:IcoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiSeznamIcoDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Odpověď na žádost o vydání seznamu osob podle seznamu IČO - služba S14.
              Služba vrací alespoň jeden ze seznamů - nalezené osoby a nenalezená IČO nebo chybový status.
              Nalezené osoby mohou být fyzické nebo právnické osoby s jejich referenčními údaji nebo fyzické
              nebo právnické osoby s jejich referenčními i provozními údaji.
              V případě nenalezených IČO se jedná o seznam požadovaných IČO s chybovým statusem, pro která
              nebyly nalezeny a vráceny referenční údaje z ROS.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                CHYBA SEZNAMU
                PREKROCEN INTERNI PARAMETR
                NEVALIDNI DATA
                NEVALIDNI ZADOST
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="NalezeneOsoby" minOccurs="0">
                        <xs:complexType>
                            <xs:choice>
                                <xs:choice maxOccurs="unbounded">
                                    <xs:element name="PravnickaOsoba" type="dot:PravnickaOsobaHrStavResponseType"/>
                                    <xs:element name="FyzickaOsoba" type="dot:FyzickaOsobaHrStavResponseType"/>
                                </xs:choice>
                                <xs:choice maxOccurs="unbounded">
                                    <xs:element name="PravnickaOsobaProvozniUdaje" type="dot:PravnickaOsobaResponseType"/>
                                    <xs:element name="FyzickaOsobaProvozniUdaje" type="dot:FyzickaOsobaResponseType"/>
                                </xs:choice>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="NenalezenaIco" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="NenalezeneIco" type="ros:IcoStatusType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RosVypisVyuzitiDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání informace o využití údajů osoby - služba S15.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:element name="Ico" type="reg:IcoType"/>
                <xs:element name="CasOd" type="reg:CasovaZnackaType"/>
                <xs:element name="CasDo" type="reg:CasovaZnackaType" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="PoradoveCislo" type="reg:KladneCeleCisloType"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RosVypisVyuzitiDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání údajů o využití záznamů - služba S15, odpověď.
              Služba vrací informace o využití záznamů dané osoby nebo chybový status.                                          
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                OBECNA CHYBA SLUZBY
                CHYBA ROZSAHU
                ICO NEEXISTUJE
                NEEXISTUJICI DS
                SEZNAM VYCERPAN
                NENI VYUZITI
                ZMENA OBDOBI
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:sequence minOccurs="0">
                    <xs:sequence>
                        <xs:element name="Ico" type="reg:IcoType"/>
                        <xs:element name="PoradoveCislo" type="reg:KladneCeleCisloType"/>
                        <xs:element name="DatoveSchranky">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DatovaSchranka" type="reg:DatovaSchrankaIdType" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Vyuziti" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="UdajeVyuziti" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CasZadosti" type="reg:CasovaZnackaType"/>
                                                <xs:element name="Agenda" type="reg:KodAgendyType"/>
                                                <xs:element name="AgendovaRole" type="reg:AgendovaRoleType"/>
                                                <xs:element name="Ovm" type="reg:KodOvmType"/>
                                                <xs:element name="Ais" type="reg:KodAisType" minOccurs="0"/>
                                                <xs:element name="Subjekt" type="reg:SubjektType" minOccurs="0"/>
                                                <xs:element name="Uzivatel" type="reg:UzivatelType" minOccurs="0"/>
                                                <xs:element name="DuvodUcel" type="reg:DuvodUcelType" minOccurs="0"/>
                                                <xs:element name="SeznamUdaju">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Udaj" type="reg:RosUdajType" maxOccurs="unbounded"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RosCtiSeznamEditoruDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání seznamu editorů osoby dané IČO - služba S16.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ico" type="reg:IcoType"/>
            <xs:element name="Udaj" type="reg:RosUdajType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RosCtiSeznamEditoruDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Vydání seznamu editorů údaje podle IČO - služba S16, odpověď.
              Služba vrací seznam editorů dané osoby nebo chybový status.                            
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                ICO NEEXISTUJE
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                NEEXISTUJE EDITOR
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation xml:lang="cs">
                  Možná bude vhodné vypisovat také ke každé agendě stav dané osoby podle vyplnění 
                  data zániku oprávnění k činnosti v dané agendě.
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="RosDotazyDataResponseAbstractType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Editori">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Editor" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="KodAgendy" type="reg:KodAgendyType"/>
                                            <xs:element name="KodOvm" type="reg:KodOvmType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
