wsdl/rob/xsd/RobDotazyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:rob:schemas:RobDotazyData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:rob="urn:cz:isvs:rob:schemas:RobTypy:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" targetNamespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
    <xs:annotation>
        <xs:documentation xml:lang="cs">Návrh XML schématu s definicemi dat pro dotazování registru osob
            (ROB).
        </xs:documentation>
    </xs:annotation>
    <!-- Vývojová verze 0.0.24, 27.5.2010, Vladimír Hudec -->
    <!-- Vývojová verze 0.0.25, 20.1.2011, Ludmila.Kotlarova@i.cz -->
    <!-- Vývojová verze 0.0.26, 26.1.2011, Ludmila.Kotlarova@i.cz -->
    <!-- Vývojová verze 0.0.27, 4.2.2011, Ludmila.Kotlarova@i.cz -->
    <!-- Vývojová verze 0.0.29, 4.3.2011, Ludmila.Kotlarova@i.cz -->
    <!-- Vývojová verze 0.1.0, 19.8.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.1, 29.8.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.2, 30.8.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.3, 31.8.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.4, 1.9.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.5, 5.9.2011, Vladimír Hudec -->
    <!-- Vývojová verze 0.1.6, 16.9.2011, Vladimir.Hudec@i.cz -->
    <!-- Vývojová verze 0.1.7, 17.10.2011, Vladimir.Hudec@i.cz -->
    <!-- Vývojová verze 0.1.8, 10.11.2011, Jakub.Faryad@i.cz -->
    <!-- Vývojová verze 0.1.9, 10.11.2011, Albert.Sputa@i.cz -->
    <!-- Verze 1.0.0, 31.1.2012, Vladimir.Hudec@i.cz RobVypisVyuzitiPoskytnutiDataType, zaznamOd -->
    <!-- Verze 1.0.1, 10.2.2012, Vladimir.Hudec@i.cz, RobVypisVyuzitiPoskytnutiDataType, RocniVypisCislo,DatovaSchranka -->
    <xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd" />
    <xs:import namespace="urn:cz:isvs:rob:schemas:RobTypy:v1" schemaLocation="RobTypy.xsd" />

    <xs:element name="RobCtiAifoData" type="RobCtiAifoDataType" />
    <xs:element name="RobCtiAifoDataResponse" type="RobCtiAifoDataResponseType" />
    <xs:element name="RobAutentizaceData" type="RobAutentizaceDataType" />
    <xs:element name="RobAutentizaceDataResponse" type="RobAutentizaceDataResponseType" />
    <xs:element name="RobCtiEditoraData" type="RobCtiEditoraDataType" />
    <xs:element name="RobCtiEditoraDataResponse" type="RobCtiEditoraDataResponseType" />
    <xs:element name="RobCtiHromadneAifoData" type="RobCtiHromadneAifoDataType" />
    <xs:element name="RobCtiHromadneAifoDataResponse" type="RobCtiHromadneAifoDataResponseType" />
    <xs:element name="RobCtiPodleUdajuData" type="RobCtiPodleUdajuDataType" />
    <xs:element name="RobCtiPodleUdajuDataResponse" type="RobCtiPodleUdajuDataResponseType" />
    <xs:element name="RobCtiZmenyData" type="RobCtiZmenyDataType" />
    <xs:element name="RobCtiZmenyDataResponse" type="RobCtiZmenyDataResponseType" />
    <xs:element name="RobCtiZmenyZalozData" type="RobCtiZmenyZalozDataType" />
    <xs:element name="RobCtiZmenyZalozDataResponse" type="RobCtiZmenyZalozDataResponseType" />
    <xs:element name="RobVypisBlokaceData" type="RobVypisBlokaceDataType" />
    <xs:element name="RobVypisBlokaceDataResponse" type="RobVypisBlokaceDataResponseType" />
    <xs:element name="RobVypisVyuzitiPoskytnutiData" type="RobVypisVyuzitiPoskytnutiDataType" />
    <xs:element name="RobVypisVyuzitiPoskytnutiDataResponse" type="RobVypisVyuzitiPoskytnutiDataResponseType" />

    <xs:complexType name="RobDotazyDataResponseType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Společný předek všech odpovědí na dotazy ROB.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RobAplikacniStatus" type="rob:RobAplikacniStatusType" />
        </xs:sequence>
    </xs:complexType>

    <!-- S1 -->
    <xs:complexType name="RobCtiAifoDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Čtení referenčních údajů podle AIFO.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Aifo" type="reg:LokalniAifoType" />
            <!-- omezení - jenom využití nebo poskytnutí -->
            <xs:element name="VyuzitiPoskytnuti" type="rob:TypVyuzitiPoskytnutiType" />
        </xs:sequence>
        <xs:attribute name="znepristupniLog" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="RobCtiAifoDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Čtení referenčních údajů podle AIFO, odpověď.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="AdresaPobytu" type="rob:AdresaPobytuStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="AifoKontrolaType" type="rob:AifoKontrolaType" minOccurs="0" />
                    <xs:element name="DatovaSchranka" type="rob:DatovaSchrankaStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="DatumNarozeni" type="rob:DatumNarozeniStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="DatumPravniMociUmrti" type="rob:DatumPravniMociUmrtiStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="DatumUmrti" type="rob:DatumUmrtiStavType" nillable="true" minOccurs="0" />
                    <xs:element name="DorucovaciAdresa" type="rob:DorucovaciAdresaStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="Jmeno" type="rob:JmenoStavType" nillable="true" minOccurs="0" />
                    <xs:element name="MistoNarozeni" type="rob:MistoNarozeniStavType" nillable="true"
                        minOccurs="0" />
                    <xs:element name="MistoUmrti" type="rob:MistoUmrtiStavType" nillable="true" minOccurs="0" />
                    <xs:element name="Prijmeni" type="rob:PrijmeniStavType" nillable="true" minOccurs="0" />

                    <xs:element name="Doklady" type="rob:DokladStavType" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="Obcanstvi" type="rob:ObcanstviStavType" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="PoskytnutiJineOsobe" type="rob:PoskytnutiJineOsobeType" minOccurs="0"
                        maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RobAutentizaceDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Zjištění identity fyzické osoby prostřednictvím elektronického
                identifikačního dokladu.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cislo" type="rob:DokladCisloType" />
            <xs:element name="Druh" type="rob:DokladDruhType" />
            <xs:element name="Bok" type="rob:BokType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RobAutentizaceDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Zjištění identity fyzické osoby prostřednictvím elektronického
                identifikačního dokladu, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Aifo" type="reg:LokalniAifoType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RobCtiEditoraDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání editora údaje podle AIFO.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Aifo" type="reg:LokalniAifoType" />
            <xs:element name="Udaj" type="reg:RobUdajType" />
            <xs:element name="Druh" type="rob:DokladDruhType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RobCtiEditoraDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání editora údaje podle AIFO, odpověď.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Udaj" type="reg:RobUdajType" />
                    <xs:element name="Editor" type="rob:EditorType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- S2 -->
    <xs:complexType name="RobCtiHromadneAifoDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údajů osob z ROB podle seznamu AIFO v MapaAifo.
                Na výstupu
                vrací identickou mapu doplněnou o statusy.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="znepristupniLog" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="RobCtiHromadneAifoDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údajů osob z ROB podle seznamu AIFO, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Osoba" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AdresaPobytu" type="rob:AdresaPobytuStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="Aifo" type="rob:LokalniAifoStavType" />
                                <xs:element name="AifoKontrolaType" type="rob:AifoKontrolaType" minOccurs="0" />
                                <xs:element name="DatovaSchranka" type="rob:DatovaSchrankaStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DatumNarozeni" type="rob:DatumNarozeniStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DatumPravniMociUmrti" type="rob:DatumPravniMociUmrtiStavType"
                                    nillable="true" minOccurs="0" />
                                <xs:element name="DatumUmrti" type="rob:DatumUmrtiStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DorucovaciAdresa" type="rob:DorucovaciAdresaStavType"
                                    nillable="true" minOccurs="0" />
                                <xs:element name="Jmeno" type="rob:JmenoStavType" nillable="true" minOccurs="0" />
                                <xs:element name="MistoNarozeni" type="rob:MistoNarozeniStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="MistoUmrti" type="rob:MistoUmrtiStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="Prijmeni" type="rob:PrijmeniStavType" nillable="true"
                                    minOccurs="0" />

                                <xs:element name="Doklady" type="rob:DokladStavType" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element name="Obcanstvi" type="rob:ObcanstviStavType" minOccurs="0"
                                    maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- S3 -->
    <xs:complexType name="RobCtiPodleUdajuDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Čtení referenčních údajů z registru na základě vyhledání fyzické
                osoby podle kombinace údajů.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AdresaPobytu" type="rob:AdresaPobytuType" nillable="true" minOccurs="0" />
            <xs:element name="DatovaSchrankaId" type="reg:DatovaSchrankaIdType" nillable="true" minOccurs="0" />
            <xs:element name="DatumNarozeni" type="rob:DatumNarozeniType" nillable="true" minOccurs="0" />
            <xs:element name="DatumPravniMociUmrti" type="rob:DatumPravniMociUmrtiType" nillable="true"
                minOccurs="0" />
            <xs:element name="DatumUmrti" type="rob:DatumUmrtiType" nillable="true" minOccurs="0" />
            <xs:element name="Jmeno" type="rob:JmenoType" nillable="true" minOccurs="0" />
            <xs:element name="MistoNarozeni" type="rob:MistoNarozeniType" nillable="true" minOccurs="0" />
            <xs:element name="MistoUmrti" type="rob:MistoUmrtiType" nillable="true" minOccurs="0" />
            <xs:element name="Prijmeni" type="rob:PrijmeniType" nillable="true" minOccurs="0" />

            <xs:element name="Doklad" type="rob:DokladType" minOccurs="0" />
            <xs:element name="Obcanstvi" type="rob:ObcanstviType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="typPorovnani" type="rob:TypPorovnaniType" default="diakritika" />
        <xs:attribute name="znepristupniLog" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="RobCtiPodleUdajuDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Čtení referenčních údajů z registru na základě vyhledání fyzické
                osoby podle kombinace údajů, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Osoba" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AdresaPobytu" type="rob:AdresaPobytuStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="Aifo" type="rob:LokalniAifoStavType" />
                                <xs:element name="AifoKontrolaType" type="rob:AifoKontrolaType" minOccurs="0" />
                                <xs:element name="DatovaSchranka" type="rob:DatovaSchrankaStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DatumNarozeni" type="rob:DatumNarozeniStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DatumPravniMociUmrti" type="rob:DatumPravniMociUmrtiStavType"
                                    nillable="true" minOccurs="0" />
                                <xs:element name="DatumUmrti" type="rob:DatumUmrtiStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="DorucovaciAdresa" type="rob:DorucovaciAdresaStavType"
                                    nillable="true" minOccurs="0" />
                                <xs:element name="Jmeno" type="rob:JmenoStavType" nillable="true" minOccurs="0" />
                                <xs:element name="MistoNarozeni" type="rob:MistoNarozeniStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="MistoUmrti" type="rob:MistoUmrtiStavType" nillable="true"
                                    minOccurs="0" />
                                <xs:element name="Prijmeni" type="rob:PrijmeniStavType" nillable="true"
                                    minOccurs="0" />

                                <xs:element name="Doklady" type="rob:DokladStavType" minOccurs="0" maxOccurs="unbounded" />
                                <xs:element name="Obcanstvi" type="rob:ObcanstviStavType" minOccurs="0"
                                    maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- S4 -->
    <xs:complexType name="RobCtiZmenyDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání seznamu AIFO, u kterých došlo ke změně
                referenčních údajů.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="CasOd" type="rob:ZmenaCasType" />
                <xs:element name="ZmenaId" type="rob:ZmenaIdType" />
            </xs:choice>
            <xs:element name="CasDo" type="rob:ZmenaCasType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RobCtiZmenyDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání seznamu AIFO, u kterých došlo ke změně referenčních
                údajů, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="ZmenaCas" type="rob:ZmenaCasType" />
                    <xs:element name="ZmenaId" type="rob:ZmenaIdType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RobCtiZmenyZalozDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání seznamu AIFO, která byla nově založena.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="CasOd" type="rob:ZmenaCasType" />
                <xs:element name="ZmenaId" type="rob:ZmenaIdType" />
            </xs:choice>
            <xs:element name="CasDo" type="rob:ZmenaCasType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RobCtiZmenyZalozDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání seznamu AIFO, která byla nově založena, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="ZmenaCas" type="rob:ZmenaCasType" />
                    <xs:element name="ZmenaId" type="rob:ZmenaIdType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RobVypisBlokaceDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údaje o znepřístupnění výdeje.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Aifo" type="reg:LokalniAifoType" minOccurs="0" />
            <xs:element name="Subjekt" type="reg:SubjektType" minOccurs="0" />
            <xs:element name="Agenda" type="reg:KodAgendyType" minOccurs="0" />
            <xs:element name="Uzivatel" type="reg:UzivatelType" minOccurs="0" />
            <xs:element name="DuvodUcel" type="reg:DuvodUcelType" minOccurs="0" />
            <xs:element name="CasOd" type="rob:ZnepristupneniDatumCasType" minOccurs="0" />
            <xs:element name="CasDo" type="rob:ZnepristupneniDatumCasType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RobVypisBlokaceDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údaje o znepřístupnění výdeje, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Blokace" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Aifo" type="reg:LokalniAifoType" />
                                <xs:element name="Subjekt" type="reg:SubjektType" />
                                <xs:element name="Agenda" type="reg:KodAgendyType" />
                                <xs:element name="Ovm" type="reg:KodOvmType" />
                                <xs:element name="Uzivatel" type="reg:UzivatelType" />
                                <xs:element name="CasBlokace" type="rob:ZnepristupneniDatumCasType" />
                                <xs:element name="DuvodUcel" type="reg:DuvodUcelType" />
                                <xs:element name="AgendaZadostId" type="reg:AgendaZadostIdType" />
                                <xs:element name="IszrZadostId" type="reg:IszrZadostIdType" minOccurs="0" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="RobVypisVyuzitiPoskytnutiDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údajů o využití a poskytnutí záznamů.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="RocniVypisCislo" type="rob:CisloZaznamu" />
                <xs:element name="Aifo" type="reg:LokalniAifoType" />
            </xs:choice>
            <xs:element name="CasOd" type="reg:CasovaZnackaType" />
            <xs:element name="CasDo" type="reg:CasovaZnackaType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="potlaceniZnepristupneni" type="xs:boolean" />
        <xs:attribute name="zaznamOd" type="rob:CisloZaznamu" />
    </xs:complexType>

    <xs:complexType name="RobVypisVyuzitiPoskytnutiDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Vydání údajů o využití a poskytnutí záznamů, odpověď.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="RobDotazyDataResponseType">
                <xs:sequence minOccurs="0">
                    <xs:element name="DatovaSchranka" type="reg:DatovaSchrankaIdType" minOccurs="0"/>
                    <xs:element name="VyuzitiPoskytnuti" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="VyuzitiPoskytnuti" type="rob:TypVyuzitiPoskytnutiType" />
                                <xs:element name="Agenda" type="reg:KodAgendyType" />
                                <xs:element name="Subjekt" type="reg:SubjektType" />
                                <xs:element name="Uzivatel" type="reg:UzivatelType" />
                                <xs:element name="Ovm" type="reg:KodOvmType" />
                                <xs:element name="CasVyuziti" type="reg:CasovaZnackaType" />
                                <xs:element name="DuvodUcel" type="reg:DuvodUcelType" />
                                <xs:element name="SeznamUdaju" type="rob:VyuzitiPoskytnutiSpecifikaceType" />
                                <xs:element name="AgendaZadostId" type="reg:AgendaZadostIdType" />
                                <xs:element name="IszrZadostId" type="reg:IszrZadostIdType" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
