ISZRDemo/Service References/RosCtiIco2/RosDotazyTypy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:edi="urn:cz:isvs:ros:schemas:RosEditaceTypy:v1" xmlns:ros="urn:cz:isvs:ros:schemas:RosTypy:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns="urn:cz:isvs:ros:schemas:RosDotazyTypy:v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cz:isvs:ros:schemas:RosDotazyTypy:v1" version="2.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../RegTypy.xsd" namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" />
  <xs:import schemaLocation="RosTypy.xsd" namespace="urn:cz:isvs:ros:schemas:RosTypy:v2" />
  <xs:import schemaLocation="RosEditaceTypy.xsd" namespace="urn:cz:isvs:ros:schemas:RosEditaceTypy:v1" />
  <xs:annotation>
    <xs:documentation xml:lang="cs">Návrh XML schématu s definicemi společných datových prvků IS ROS.
          Toto schéma obsahuje definice základních datových prvků používaných pro dotazy a odpovědi na dotazy
          do registru osob (ROS).
        </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="TypZmenyType">
    <xs:annotation>
      <xs:documentation>
                Typ změny údajů osoby: I=insert (vložení); U=update (oprava); D=delete (zrušení),
                V=všechny typy změny.
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Insert</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Update</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Delete</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:documentation xml:lang="cs">Všechny</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PravniStavStavResponseType">
    <xs:annotation>
      <xs:documentation>                
                Právní stav v odpovědi z ROS včetně stavu.            
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodPravnihoStavu" type="ros:KodPravnihoStavuType" />
      <xs:element minOccurs="0" name="NazevPravnihoStavu" type="ros:NazevPravnihoStavuType" />
    </xs:sequence>
    <xs:attribute name="stav">
      <xs:simpleType>
        <xs:restriction base="ros:StavRosType">
          <xs:enumeration value="spravny" />
          <xs:enumeration value="nespravny" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PravniStavResponseType">
    <xs:annotation>
      <xs:documentation>                
                Právní stav v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.            
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="PravniStavStavResponseType">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravniFormaStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Právní forma v odpovědi z ROS včetně stavu.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodPravniFormy" type="ros:KodPravniFormyType" />
      <xs:element minOccurs="0" name="NazevPravniFormy" type="ros:NazevPravniFormyType" />
    </xs:sequence>
    <xs:attribute name="stav">
      <xs:simpleType>
        <xs:restriction base="ros:StavRosType">
          <xs:enumeration value="spravny" />
          <xs:enumeration value="nespravny" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PravniFormaResponseType">
    <xs:annotation>
      <xs:documentation>
                Právní forma v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="PravniFormaStavResponseType">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NazevOsobyResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Název osoby v odpovědi z ROS včetně stavu a provozních údajů o poslední změně. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NazevOsobyUdaj" type="edi:NazevOsobyStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatovaSchrankaResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datová schránka v odpovědi z ROS včetně stavu a provozních údajů o poslední změně. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatovaSchrankaUdaj" type="edi:DatovaSchrankaStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatoveSchrankyResponseType">
    <xs:annotation>
      <xs:documentation>
                Datové schránky osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých datových schránek.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DatovaSchranka" type="DatovaSchrankaResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatoveSchrankyStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Datové schránky osoby v odpovědi z ROS včetně stavu jednotlivých datových schránek.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DatovaSchranka" type="edi:DatovaSchrankaStavType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatumVznikuOpravneniResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum vzniku oprávnění k činnosti osoby v agendě v odpovědi z ROS včetně stavu
                a provozních údajů o poslední změně.
                Vrácení prázného údaje je možné jen v případě hodnoty stavu = nedefinovany.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatumVznikuOpravneniUdaj" nillable="true" type="DatumVznikuOpravneniStavResponseType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatumVznikuOpravneniStavResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum vzniku oprávnění k činnosti osoby v agendě v odpovědi z ROS včetně stavu. 
            </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ros:DatumVznikuOpravneniType">
        <xs:attribute name="stav" type="ros:StavRosType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DatumZanikuOpravneniResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum zániku oprávnění k činnosti osoby v agendě v odpovědi z ROS včetně stavu
                a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumZanikuOpravneniUdaj" nillable="true" type="DatumZanikuOpravneniStavResponseType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatumZanikuOpravneniStavResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum zániku oprávnění k činnosti osoby v agendě v odpovědi z ROS včetně stavu. 
            </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ros:DatumZanikuOpravneniType">
        <xs:attribute name="stav" type="ros:StavRosType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DatumZahajeniCinnostiResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum zahájení provozování činnosti v provozovně v odpovědi z ROS včetně stavu
                a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatumZahajeniCinnostiUdaj" type="edi:DatumZahajeniCinnostiStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatumUkonceniCinnostiResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datum ukončení provozování činnosti v provozovně v odpovědi z ROS včetně stavu
                a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumUkonceniCinnostiUdaj" nillable="true" type="edi:DatumUkonceniCinnostiStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoResponseType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) s vazbou na statutární orgán nebo osobu v odpovědi z ROS 
                včetně stavu jednotlivých údajů a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:FoStavType">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FoResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) s vazbou na statutární orgán nebo osobu v odpovědi z ROS 
                včetně stavu jednotlivých údajů a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ros:FoStav2Type">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdresaResponseType">
    <xs:annotation>
      <xs:documentation>
                Adresa v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:AdresaStavType">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdresaSidlaStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Adresa sídla v odpovědi z ROS včetně stavu, který může být i nedefinovaný.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ros:AdresaType">
        <xs:attribute name="stav" type="ros:StavRosType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdresaSidlaResponseType">
    <xs:annotation>
      <xs:documentation>
                Adresa sídla v odpovědi z ROS včetně stavu a a provozních údajů o poslední změně.
                Vrácení prázného údaje adresy je možné jen v případě hodnoty stavu = nedefinovany.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdresaSidlaUdaj" nillable="true" type="AdresaSidlaStavResponseType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdresaDorucovaciResponseType">
    <xs:annotation>
      <xs:documentation>
                Adresa doručovací v odpovědi z ROS včetně stavu a a provozních údajů o poslední změně.
                Vrácení prázného údaje adresy je možné jen v případě hodnoty stavu = nedefinovany.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdresaDorucovaciUdaj" nillable="true" type="edi:AdresaDorucovaciStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu a provozních údajů o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodAgendy" type="reg:KodAgendyType" />
      <xs:element name="KodOvm" type="reg:KodOvmType" />
      <xs:element minOccurs="0" name="NazevOsoby" type="NazevOsobyResponseType" />
      <xs:element minOccurs="0" name="DatumVznikuOpravneni" type="DatumVznikuOpravneniResponseType" />
      <xs:element minOccurs="0" name="DatumZanikuOpravneni" type="DatumZanikuOpravneniResponseType" />
      <xs:element minOccurs="0" name="AdresaSidla" type="AdresaSidlaResponseType" />
      <xs:element minOccurs="0" name="PozastaveniPreruseni" type="PozastaveniPreruseniResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů.
                Vrácení prázného údaje (nastaven atribut nil = true) je možné jen v případě
                hodnoty stavu = nedefinovany.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodAgendy" type="reg:KodAgendyType" />
      <xs:element name="KodOvm" type="reg:KodOvmType" />
      <xs:element name="NazevOsoby" type="edi:NazevOsobyStavType" />
      <xs:element name="DatumVznikuOpravneni" nillable="true" type="DatumVznikuOpravneniStavResponseType" />
      <xs:element minOccurs="0" name="DatumZanikuOpravneni" nillable="true" type="DatumZanikuOpravneniStavResponseType" />
      <xs:element name="AdresaSidla" nillable="true" type="AdresaSidlaStavResponseType" />
      <xs:element minOccurs="0" name="PozastaveniPreruseni" type="edi:PozastaveniPreruseniStavType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyHrStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů. Některé údaje osoby jsou nepovinné
                (služby S07 a S14 mají možnost na vstupu vybírat požadované údaje).
                Vrácení prázného údaje (nastaven atribut nil = true) je možné jen v případě
                hodnoty stavu = nedefinovany.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KodAgendy" type="reg:KodAgendyType" />
      <xs:element name="KodOvm" type="reg:KodOvmType" />
      <xs:element minOccurs="0" name="NazevOsoby" type="edi:NazevOsobyStavType" />
      <xs:element minOccurs="0" name="DatumVznikuOpravneni" nillable="true" type="DatumVznikuOpravneniStavResponseType" />
      <xs:element minOccurs="0" name="DatumZanikuOpravneni" nillable="true" type="DatumZanikuOpravneniStavResponseType" />
      <xs:element minOccurs="0" name="AdresaSidla" nillable="true" type="AdresaSidlaStavResponseType" />
      <xs:element minOccurs="0" name="PozastaveniPreruseni" type="edi:PozastaveniPreruseniStavType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyHrStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů pro druhou verzi služeb. 
                Některé údaje osoby jsou nepovinné.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaAgendyHrStavResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresaDorucovaci" type="edi:AdresaDorucovaciStavType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů pro druhou verzi služeb. Některé údaje osoby jsou nepovinné
                (služba S34 má možnost na vstupu vybírat požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaAgendyResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresaDorucovaci" type="AdresaDorucovaciResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OsobyAgendyResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoby ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu a provozních údajů o poslední změně jednotlivých údajů osob agendy.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OsobaAgendy" type="OsobaAgendyResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobyAgendyStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoby ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů osob agendy.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OsobaAgendy" type="OsobaAgendyStavResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobyAgendyHrStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Osoby ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů osob agendy. Některé údaje osoby agendy jsou nepovinné
                (služby S07 a S14 mají možnost na vstupu vybírat požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OsobaAgendy" type="OsobaAgendyHrStavResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobyAgendyHrStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Osoby ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů osob agendy pro druhou verzi služeb. Některé údaje osoby agendy jsou nepovinné
                (služby mají možnost na vstupu vybírat požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OsobaAgendy" type="OsobaAgendyHrStavResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobyAgendyResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Osoby ve vztahu k agendě a jejímu agendovému místu v odpovědi z ROS
                včetně stavu jednotlivých údajů osob agendy pro druhou verzi služeb. Některé údaje osoby agendy jsou nepovinné
                (služba S34 má možnost na vstupu vybírat požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OsobaAgendy" type="OsobaAgendyResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProvozovnaResponseType">
    <xs:annotation>
      <xs:documentation>
                Provozovna osoby v odpovědi z ROS včetně stavu a provozních údajů o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Icp" type="reg:IcpType" />
      <xs:element name="DatumZahajeniCinnosti" type="DatumZahajeniCinnostiResponseType" />
      <xs:element minOccurs="0" name="DatumUkonceniCinnosti" type="DatumUkonceniCinnostiResponseType" />
      <xs:element name="AdresaProvozovny" type="AdresaResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProvozovnaResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Provozovna osoby v odpovědi z ROS včetně stavu a provozních údajů o poslední 
                změně jednotlivých údajů pro druhou verzi služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ProvozovnaResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DorucovaciAdresaProvozovny" type="AdresaDorucovaciResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProvozovnyResponseType">
    <xs:annotation>
      <xs:documentation>
                Provozovny osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů provozoven.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Provozovna" type="ProvozovnaResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProvozovnyResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Provozovny osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů provozoven pro druhou verzi služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Provozovna" type="ProvozovnaResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatutarniOrganResponseType">
    <xs:annotation>
      <xs:documentation>
                Statutátní orgán v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:StatutarniOrganStavType">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatutarniOrganyResponseType">
    <xs:annotation>
      <xs:documentation>
                Statutární orgány osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých statutárních orgánů.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatutarniOrgan" type="StatutarniOrganResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LikvidatorResponseType">
    <xs:annotation>
      <xs:documentation>
                Likvidátor v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LikvidatorUdaj" nillable="true" type="edi:LikvidatorStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LikvidatorResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Likvidátor v odpovědi z ROS včetně stavu a provozních údajů o poslední změně druhé verze služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:LikvidatorStav2Type">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LikvidatoriResponseType">
    <xs:annotation>
      <xs:documentation>
                Likvidátoři osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně likvidátorů.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Likvidator" type="LikvidatorResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpatrovnikResponseType">
    <xs:annotation>
      <xs:documentation>
                Opatrovník v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OpatrovnikUdaj" nillable="true" type="edi:OpatrovnikStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpatrovnikResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Opatrovník v odpovědi z ROS včetně stavu a provozních údajů o poslední změně druhé verze služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:OpatrovnikStav2Type">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpatrovniciResponseType">
    <xs:annotation>
      <xs:documentation>
                Opatrovníci osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně opatrovníků.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Opatrovnik" type="OpatrovnikResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NucenySpravceResponseType">
    <xs:annotation>
      <xs:documentation>
                Nucený správce v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="NucenySpravceUdaj" nillable="true" type="edi:NucenySpravceStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NucenySpravceResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Nucený správce v odpovědi z ROS včetně stavu a provozních údajů o poslední změně druhé verze služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:NucenySpravceStav2Type">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NuceniSpravciResponseType">
    <xs:annotation>
      <xs:documentation>
                Nucení správci osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně nucených správců.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NucenySpravce" type="NucenySpravceResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsolvencniSpravceResponseType">
    <xs:annotation>
      <xs:documentation>
                Insolvenční správce v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="InsolvencniSpravceUdaj" nillable="true" type="edi:InsolvencniSpravceStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsolvencniSpravceResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Insolvenční správce v odpovědi z ROS včetně stavu a provozních údajů o poslední změně druhé verze služeb.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="edi:InsolvencniSpravceStav2Type">
        <xs:sequence>
          <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InsolvencniSpravciResponseType">
    <xs:annotation>
      <xs:documentation>
                Insolvenční správci osoby v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně insolvenčních správců.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="InsolvencniSpravce" type="InsolvencniSpravceResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerejnaProspesnostResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Příznak veřejné prospěšnosti osoby v odpovědi z ROS včetně stavu a provozních údajů o poslední změně. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VerejnaProspesnostUdaj" nillable="true" type="edi:VerejnaProspesnostStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PozastaveniPreruseniResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Příznak pozastavení/přerušení činnosti osoby v odpovědi z ROS včetně stavu a provozních údajů o poslední změně. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="PozastaveniPreruseniUdaj" nillable="true" type="edi:PozastaveniPreruseniStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaResponseAbstractType" abstract="true">
    <xs:annotation>
      <xs:documentation>
                Společný předek pro fyzickou a právnickou osobu v odpovědi z ROS včetně stavu 
                jednotlivých referenčních údajů, času a identifikátoru poslední změny osoby
                a provozních údajů o poslední změně jednotlivých údajů osoby.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ico" type="reg:IcoType" />
      <xs:element minOccurs="0" name="IcoKontrola" type="ros:IcoKontrolaType" />
      <xs:element name="CasZmeny" type="ros:ZmenaCasType" />
      <xs:element name="IdZmeny" type="ros:ZmenaIdType" />
      <xs:element minOccurs="0" name="DatoveSchranky" type="DatoveSchrankyResponseType" />
      <xs:element minOccurs="0" name="PravniForma" type="PravniFormaResponseType" />
      <xs:element minOccurs="0" name="PravniStav" type="PravniStavResponseType" />
      <xs:element name="DatumZapisuRos" type="ros:DatumZapisuRosType" />
      <xs:element minOccurs="0" name="Provozovny" type="ProvozovnyResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaResponseAbstract2Type" abstract="true">
    <xs:annotation>
      <xs:documentation>
                Společný předek pro fyzickou a právnickou osobu v odpovědi z ROS včetně stavu 
                jednotlivých referenčních údajů, času a identifikátoru poslední změny osoby
                a provozních údajů o poslední změně jednotlivých údajů osoby.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ico" type="reg:IcoType" />
      <xs:element minOccurs="0" name="IcoKontrola" type="ros:IcoKontrolaType" />
      <xs:element name="CasZmeny" type="ros:ZmenaCasType" />
      <xs:element name="IdZmeny" type="ros:ZmenaIdType" />
      <xs:element minOccurs="0" name="DatoveSchranky" type="DatoveSchrankyResponseType" />
      <xs:element minOccurs="0" name="PravniForma" type="PravniFormaResponseType" />
      <xs:element minOccurs="0" name="PravniStav" type="PravniStavResponseType" />
      <xs:element name="DatumZapisuRos" type="ros:DatumZapisuRosType" />
      <xs:element minOccurs="0" name="Provozovny" type="ProvozovnyResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FyzickaOsobaResponseType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (podnikatel) v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaResponseAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobyAgendy" type="OsobyAgendyResponseType" />
          <xs:element minOccurs="0" name="Fo" type="FoResponseType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="InsolvencniSpravceResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FyzickaOsobaResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (podnikatel) v odpovědi druhé verze služeb z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaResponseAbstract2Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="KontaktniUdaje" type="KontaktniUdajeResponseType" />
          <xs:element minOccurs="0" name="OsobyAgendy" type="OsobyAgendyResponse2Type" />
          <xs:element minOccurs="0" name="Fo" type="FoResponse2Type" />
          <xs:element minOccurs="0" name="InsolvencniSpravci" type="InsolvencniSpravciResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravnickaOsobaResponseType">
    <xs:annotation>
      <xs:documentation>
                Právnická osoba v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaResponseAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobaAgendy" type="OsobaAgendyResponseType" />
          <xs:element minOccurs="0" name="StatutarniOrgany" type="StatutarniOrganyResponseType" />
          <xs:element minOccurs="0" name="Likvidator" type="LikvidatorResponseType" />
          <xs:element minOccurs="0" name="Opatrovnik" type="OpatrovnikResponseType" />
          <xs:element minOccurs="0" name="NucenySpravce" type="NucenySpravceResponseType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="InsolvencniSpravceResponseType" />
          <xs:element minOccurs="0" name="VerejnaProspesnost" type="VerejnaProspesnostResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravnickaOsobaResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Právnická osoba v odpovědi druhé verze služeb z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých údajů.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaResponseAbstract2Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobaAgendy" type="OsobaAgendyResponse2Type" />
          <xs:element minOccurs="0" name="KontaktniUdaje" type="KontaktniUdajeResponseType" />
          <xs:element minOccurs="0" name="StatutarniOrgany" type="StatOrganyZastupceResponseType" />
          <xs:element minOccurs="0" name="Likvidatori" type="LikvidatoriResponseType" />
          <xs:element minOccurs="0" name="Opatrovnici" type="OpatrovniciResponseType" />
          <xs:element minOccurs="0" name="NuceniSpravci" type="NuceniSpravciResponseType" />
          <xs:element minOccurs="0" name="InsolvencniSpravci" type="InsolvencniSpravciResponseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OsobaStavResponseAbstractType" abstract="true">
    <xs:annotation>
      <xs:documentation>
                Společný předek pro fyzickou a právnickou osobu v odpovědi z ROS včetně stavu jednotlivých údajů
                a identifikátoru poslední změny osoby.
                Odlišení povinných a nepovinných údajů (služby S05 a S06 nemají možnost na vstupu vybírat 
                požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ico" type="reg:IcoType" />
      <xs:element minOccurs="0" name="IcoKontrola" type="ros:IcoKontrolaType" />
      <xs:element name="IdZmeny" type="ros:ZmenaIdType" />
      <xs:element minOccurs="0" name="DatoveSchranky" type="DatoveSchrankyStavResponseType" />
      <xs:element name="PravniForma" type="PravniFormaStavResponseType" />
      <xs:element minOccurs="0" name="PravniStav" type="PravniStavStavResponseType" />
      <xs:element minOccurs="0" name="Provozovny" type="edi:ProvozovnyStavType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FyzickaOsobaStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (podnikatel) v odpovědi z ROS včetně stavu jednotlivých údajů.
                Odlišení povinných a nepovinných údajů (služby S05 a S06 nemají možnost na vstupu vybírat 
                požadované údaje).                
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaStavResponseAbstractType">
        <xs:sequence>
          <xs:element name="OsobyAgendy" type="OsobyAgendyStavResponseType" />
          <xs:element name="Fo" type="edi:FoStavType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="edi:InsolvencniSpravceStavType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravnickaOsobaStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Právnická osoba v odpovědi z ROS včetně stavu jednotlivých údajů.
                Odlišení povinných a nepovinných údajů (služby S05 a S06 nemají možnost na vstupu vybírat 
                požadované údaje).                
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaStavResponseAbstractType">
        <xs:sequence>
          <xs:element name="OsobaAgendy" type="OsobaAgendyStavResponseType" />
          <xs:element minOccurs="0" name="StatutarniOrgany" type="edi:StatutarniOrganyStavType" />
          <xs:element minOccurs="0" name="Likvidator" type="edi:LikvidatorStavType" />
          <xs:element minOccurs="0" name="Opatrovnik" type="edi:OpatrovnikStavType" />
          <xs:element minOccurs="0" name="NucenySpravce" type="edi:NucenySpravceStavType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="edi:InsolvencniSpravceStavType" />
          <xs:element minOccurs="0" name="VerejnaProspesnost" type="edi:VerejnaProspesnostStavType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OsobaHrStavResponseAbstractType" abstract="true">
    <xs:annotation>
      <xs:documentation>
                Společný předek pro fyzickou a právnickou osobu v odpovědi z ROS včetně stavu jednotlivých údajů
                a identifikátoru poslední změny osoby.                
                Jednotlivé údaje osoby jsou nepovinné (služby S07 a S14 mají možnost na vstupu vybírat 
                požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ico" type="reg:IcoType" />
      <xs:element minOccurs="0" name="IcoKontrola" type="ros:IcoKontrolaType" />
      <xs:element name="CasZmeny" type="ros:ZmenaCasType" />
      <xs:element name="IdZmeny" type="ros:ZmenaIdType" />
      <xs:element minOccurs="0" name="DatoveSchranky" type="DatoveSchrankyStavResponseType" />
      <xs:element minOccurs="0" name="PravniForma" type="PravniFormaStavResponseType" />
      <xs:element minOccurs="0" name="PravniStav" type="PravniStavStavResponseType" />
      <xs:element minOccurs="0" name="Provozovny" type="edi:ProvozovnyStavType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaHrStavResponseAbstract2Type" abstract="true">
    <xs:annotation>
      <xs:documentation>
        <!--doplnit text -->
                Společný předek pro fyzickou a právnickou osobu v odpovědi z ROS včetně stavu jednotlivých údajů
                a identifikátoru poslední změny osoby.                
                Jednotlivé údaje osoby jsou nepovinné (služby S07 a S14 mají možnost na vstupu vybírat 
                požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ico" type="reg:IcoType" />
      <xs:element minOccurs="0" name="IcoKontrola" type="ros:IcoKontrolaType" />
      <xs:element name="CasZmeny" type="ros:ZmenaCasType" />
      <xs:element name="IdZmeny" type="ros:ZmenaIdType" />
      <xs:element minOccurs="0" name="DatoveSchranky" type="DatoveSchrankyStavResponseType" />
      <xs:element minOccurs="0" name="PravniForma" type="PravniFormaStavResponseType" />
      <xs:element minOccurs="0" name="PravniStav" type="PravniStavStavResponseType" />
      <xs:element minOccurs="0" name="Provozovny" type="edi:ProvozovnyStav2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FyzickaOsobaHrStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (podnikatel) v odpovědi z ROS včetně stavu jednotlivých údajů.
                Jednotlivé údaje osoby jsou nepovinné (služby S07 a S14 mají možnost na vstupu vybírat 
                požadované údaje).                
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaHrStavResponseAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobyAgendy" type="OsobyAgendyHrStavResponseType" />
          <xs:element minOccurs="0" name="Fo" type="edi:FoStavType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="edi:InsolvencniSpravceStavType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravnickaOsobaHrStavResponseType">
    <xs:annotation>
      <xs:documentation>
                Právnická osoba v odpovědi z ROS včetně stavu jednotlivých údajů.
                Jednotlivé údaje osoby jsou nepovinné (služby S07 a S14 mají možnost na vstupu vybírat 
                požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaHrStavResponseAbstractType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobaAgendy" type="OsobaAgendyHrStavResponseType" />
          <xs:element minOccurs="0" name="StatutarniOrgany" type="edi:StatutarniOrganyStavType" />
          <xs:element minOccurs="0" name="Likvidator" type="edi:LikvidatorStavType" />
          <xs:element minOccurs="0" name="Opatrovnik" type="edi:OpatrovnikStavType" />
          <xs:element minOccurs="0" name="NucenySpravce" type="edi:NucenySpravceStavType" />
          <xs:element minOccurs="0" name="InsolvencniSpravce" type="edi:InsolvencniSpravceStavType" />
          <xs:element minOccurs="0" name="VerejnaProspesnost" type="edi:VerejnaProspesnostStavType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatovaSchrankaFiltrType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Datová schránka v ROS pro vyhledávání podle libovolného údaje DS službou S07. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDatoveSchranky" type="reg:DatovaSchrankaIdType" />
      <xs:element minOccurs="0" name="TypDatoveSchranky" type="reg:TypDatoveSchrankyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatutarniOrganFiltrType">
    <xs:annotation>
      <xs:documentation>
                Statutární orgán v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="OsobaIco" type="reg:IcoType" />
      <xs:element name="NazevAdresa" type="NazevAdresaFiltrType" />
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltrType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StatutarniOrganFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Statutární orgán v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="OsobaIco" type="reg:IcoType" />
      <xs:element name="NazevAdresa" type="NazevAdresaFiltrType" />
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltr2Type" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StatutarniOrganZastupceFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Statutární orgán se zástupcem v ROS pro vyhledávání podle libovolného údaje službou S33.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatutarniOrgan" type="StatutarniOrganFiltr2Type" />
      <xs:element minOccurs="0" name="Zastupce" type="FoFiltr2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AngazovanaOsobaFiltrType">
    <xs:annotation>
      <xs:documentation>
                Angažovaná osoba v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="OsobaIco" type="reg:IcoType" />
      <xs:element name="NazevAdresa" type="NazevAdresaFiltrType" />
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltrType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AngazovanaOsobaFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Angažovaná osoba v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="OsobaIco" type="reg:IcoType" />
      <xs:element name="NazevAdresa" type="NazevAdresaFiltrType" />
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltr2Type" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ProvozovnaFiltrType">
    <xs:annotation>
      <xs:documentation>
                Provozovna osoby v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Icp" type="reg:IcpType" />
      <xs:element minOccurs="0" name="DatumZahajeniCinnosti" type="ros:DatumZahajeniCinnostiType" />
      <xs:element minOccurs="0" name="DatumUkonceniCinnosti" type="ros:DatumUkonceniCinnostiType" />
      <xs:element minOccurs="0" name="AdresaProvozovny" type="ros:AdresaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProvozovnaFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Provozovna osoby v ROS pro vyhledávání podle libovolného údaje službou S33.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ProvozovnaFiltrType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DorucovaciAdresaProvozovny" type="ros:AdresaDorucovaciType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyFiltrType">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v ROS pro vyhledávání
                podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="KodAgendy" type="reg:KodAgendyType" />
      <xs:element minOccurs="0" name="KodOvm" type="reg:KodOvmType" />
      <xs:element minOccurs="0" name="NazevOsoby" type="ros:NazevOsobyType" />
      <xs:element minOccurs="0" name="DatumVznikuOpravneni" type="ros:DatumVznikuOpravneniType" />
      <xs:element minOccurs="0" name="DatumZanikuOpravneni" type="ros:DatumZanikuOpravneniType" />
      <xs:element minOccurs="0" name="PozastaveniPreruseni" type="ros:PozastaveniPreruseniType" />
      <xs:element minOccurs="0" name="AdresaSidla" type="ros:AdresaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OsobaAgendyFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Osoba ve vztahu k agendě a jejímu agendovému místu v ROS pro vyhledávání
                podle libovolného údaje službou S33.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaAgendyFiltrType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresaDorucovaci" type="ros:AdresaDorucovaciType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NazevAdresaFiltrType">
    <xs:annotation>
      <xs:documentation>
                Název a adresa statutárního orgánu, který je právnickou osobou neevidovanou v ROS (zahraniční osoba)
                pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Nazev" type="ros:NazevOsobyType" />
      <xs:element minOccurs="0" name="Adresa" type="ros:AdresaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoTextemPobytFiltrType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) textem s adresou pobytu fyzické osoby (obyvatele) v ČR
                v statutárním orgánu pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FoTextem" type="ros:FoTextemType" />
      <xs:element minOccurs="0" name="AdresaPobytu" type="ros:AdresaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoTextemPobytFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) textem s adresou pobytu fyzické osoby (obyvatele) v ČR
                v statutárním orgánu pro vyhledávání podle libovolného údaje službou S33.
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="FoTextemPobytFiltrType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DatumNarozeni" type="ros:DatumNarozeniType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FoFiltrType">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) v ROS pro vyhledávání podle libovolného údaje službou S07.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltrType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FoFiltr2Type">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (obyvatel) v ROS pro vyhledávání podle libovolného údaje službou S33.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Aifo" type="reg:LokalniAifoType" />
      <xs:element name="FoTextemPobyt" type="FoTextemPobytFiltr2Type" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="KontaktniUdajeFiltrType">
    <xs:annotation>
      <xs:documentation>
                Kontaktní údaje pro vyhledání podle libovolného údaje. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Telefon" type="reg:TelefonType" />
      <xs:element minOccurs="0" name="Email" type="reg:EmailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FyzickaOsobaStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Fyzická osoba (podnikatel) v odpovědi z ROS včetně stavu jednotlivých údajů a násobnosti angažovaných osob  - 2. verze služeb.
                Jednotlivé údaje osoby jsou nepovinné (služby S31, S32, S33, S34 mají možnost na vstupu vybírat 
                požadované údaje).                
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaHrStavResponseAbstract2Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="KontaktniUdaje" type="KontaktniUdajeStavType" />
          <xs:element minOccurs="0" name="OsobyAgendy" type="OsobyAgendyHrStavResponse2Type" />
          <xs:element minOccurs="0" name="Fo" type="ros:FoStav2Type" />
          <xs:element minOccurs="0" name="InsolvencniSpravci" type="edi:InsolvencniSpravciStav2Type" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PravnickaOsobaStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Právnická osoba v odpovědi z ROS včetně stavu jednotlivých údajů - 2. verze služeb.
                Jednotlivé údaje osoby jsou nepovinné (služby S31, S32, S33, S34 mají možnost na vstupu vybírat 
                požadované údaje).
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="OsobaHrStavResponseAbstract2Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="OsobaAgendy" type="OsobaAgendyHrStavResponse2Type" />
          <xs:element minOccurs="0" name="KontaktniUdaje" type="KontaktniUdajeStavType" />
          <xs:element minOccurs="0" name="StatutarniOrgany" type="StatOrganyZastupceStavResponse2Type" />
          <xs:element minOccurs="0" name="Likvidatori" type="edi:LikvidatoriStav2Type" />
          <xs:element minOccurs="0" name="Opatrovnici" type="edi:OpatrovniciStav2Type" />
          <xs:element minOccurs="0" name="NuceniSpravci" type="edi:NuceniSpravciStav2Type" />
          <xs:element minOccurs="0" name="InsolvencniSpravci" type="edi:InsolvencniSpravciStav2Type" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatOrganyZastupceStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Statutární orgány osoby včetně stavu jednotlivých statutárních orgánů a seznamu zástupců. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatutarniOrganZastupce" type="StatOrganZastupceStavResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatOrganZastupceStavResponse2Type">
    <xs:annotation>
      <xs:documentation>
                Statutátní orgán se seznamem zástupců v odpovědi z ROS včetně stavu.
            </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element name="OsobaIco" type="reg:IcoType" />
          <xs:element name="NazevAdresa" type="ros:NazevAdresaType" />
        </xs:choice>
        <xs:element minOccurs="0" name="Zastupci" type="edi:ZastupciStavType" />
      </xs:sequence>
      <xs:element name="FyzickaOsoba" type="ros:FoAngazovaneOsobyStav2Type" />
    </xs:choice>
    <xs:attribute name="stav">
      <xs:simpleType>
        <xs:restriction base="ros:StavRosType">
          <xs:enumeration value="spravny" />
          <xs:enumeration value="nespravny" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StatOrganZastupceResponseType">
    <xs:annotation>
      <xs:documentation>
                Statutátní orgán se seznamem zástupců v odpovědi z ROS včetně stavu a provozních údajů o poslední změně.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:choice minOccurs="0">
            <xs:element name="OsobaIco" type="reg:IcoType" />
            <xs:element name="NazevAdresa" type="ros:NazevAdresaType" />
          </xs:choice>
          <xs:element minOccurs="0" name="Zastupci" type="ZastupciResponseType" />
        </xs:sequence>
        <xs:element name="FyzickaOsoba" type="ros:FoAngazovaneOsobyStav2Type" />
      </xs:choice>
      <xs:element minOccurs="0" name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
    <xs:attribute name="stav">
      <xs:simpleType>
        <xs:restriction base="ros:StavRosType">
          <xs:enumeration value="spravny" />
          <xs:enumeration value="nespravny" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StatOrganyZastupceResponseType">
    <xs:annotation>
      <xs:documentation>
                Statutární orgány osoby se seznamem zástupců v odpovědi z ROS včetně stavu a provozních údajů
                o poslední změně jednotlivých statutárních orgánů.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StatutarniOrganZastupce" type="StatOrganZastupceResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZastupciResponseType">
    <xs:annotation>
      <xs:documentation>
                Seznam zástupců statutárního orgánu včetně stavu a provozních údajů. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Zastupce" type="FoResponse2Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KontaktniUdajeResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
                Kontaktní údaje osoby v odpovědi z ROS včetně provozních údajů o poslední změně. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KontaktniUdajeUdaj" nillable="true" type="KontaktniUdajeStavType" />
      <xs:element name="ProvozniUdaje" type="ros:UdajeZmenyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KontaktniUdajeStavType">
    <xs:annotation>
      <xs:documentation>
                Kontaktní údaje. 
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Telefon" type="reg:TelefonType" />
      <xs:element minOccurs="0" name="Email" type="reg:EmailType" />
    </xs:sequence>
    <xs:attribute name="stav">
      <xs:simpleType>
        <xs:restriction base="ros:StavRosType">
          <xs:enumeration value="spravny" />
          <xs:enumeration value="nespravny" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>