wsdl/ruian/xsd/soubory_zmen/SouboryZmen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:SouboryZmen:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:SouboryZmen:v1" xmlns:szr="urn:cz:isvs:ruian:schemas:SouboryZmen:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" elementFormDefault="qualified" version="0.0.1">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../RegTypy.xsd"/>
	<xs:complexType name="SouboryZmenOdpovedType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam souborů se změnami</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeznamSouboru" type="SouborZmenSeznamType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SouboryZmenRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na seznam souborů se změnovými větami ve výměnném formátu od vytvoření poslední celkové měsíční kopie až po současnost</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Dotaz" type="SouboryZmenDotazType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SouboryZmenResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam souborů se změnovými větami ve výměnném formátu od vytvoření poslední celkové měsíční kopie až po současnost</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Odpoved" type="SouboryZmenOdpovedType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SouboryZmenRequest" type="szr:SouboryZmenRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na seznam souborů se změnovými větami ve výměnném formátu od vytvoření poslední celkové měsíční kopie až po současnost</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SouboryZmenResponse" type="szr:SouboryZmenResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam souborů se změnovými větami ve výměnném formátu od vytvoření poslední celkové měsíční kopie až po současnost</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SouboryZmenDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na seznam změnových souborů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypVymennehoFormatu" type="com:TypVymennehoFormatuType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DatumOd" type="base:DatumCasType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SouborZmenSeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam souborů</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Soubor" type="SouborZmenType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SouborZmenType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Informace o souboru</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NazevSouboru" type="base:Nazev32Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název souboru</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypVymennehoFormatu" type="com:TypVymennehoFormatuType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DatumGenerovani" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Datum generování souboru</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumOd" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Platnost dat od</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumDo" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Platnost dat do</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UrlSouboru" type="base:UrlType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
