wsdl/egon/xsd/IszrRuianVyhledejUupEd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejUupEd:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejUupEd:v1" 
	xmlns:e282="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejUupEd:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhUup="urn:cz:isvs:ruian:schemas:VyhledejUup:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E282 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 1.0.0, 6.10.2021 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejUup:v2" schemaLocation="ref/RuianVyhledejUup.xsd"/>
	
	<xs:element name="RuianVyhledejUupEd" type="RuianVyhledejUupEdType"/>
	<xs:element name="RuianVyhledejUupEdResponse" type="RuianVyhledejUupEdResponseType"/>
	
	<xs:complexType name="RuianVyhledejUupEdType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E282 externího rozhraní - žádost. Vyhledání Uup z RUIAN. RUIAN služba A42, operace VyhledejUupEd.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejUupEdData" type="vyhUup:VyhledejUupDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejUupEdResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E282 externího rozhraní - odpověď. Vyhledání Uup z RUIAN. RUIAN služba A42, operace VyhledejUupEd.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejUupEdDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhUup:UcelovePrvky"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>