wsdl/egon/xsd/IszrRuianCtiPrvekStat2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStat2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStat2:v1" 
	xmlns:e250o="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStat2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiSt="urn:cz:isvs:ruian:schemas:CtiStat:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E250o externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 6.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiStat:v2" schemaLocation="../../ruian/xsd/ext/v2/cti/CtiStat.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiStat:v2" schemaLocation="ref/RuianCtiPrvekStat2.xsd"/>

	<xs:element name="RuianCtiPrvekStat2" type="RuianCtiPrvekStat2Type"/>
	<xs:element name="RuianCtiPrvekStat2Response" type="RuianCtiPrvekStat2ResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekStat2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250o externího rozhraní - žádost. Načtení státu z RUIAN. RUIAN služba, operace ctiStat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekStat2Data" type="ctiSt:CtiStatDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekStat2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250o externího rozhraní - odpověď. Načtení státu z RUIAN. RUIAN služba, operace ctiStat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekStat2DataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiSt:Stat"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>