wsdl/egon/xsd/IszrRppVypisOpravneni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneni:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneni:v1"
	xmlns:e148="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneni:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.2.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E148 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 01.02.2012, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze po revizi 1.1.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.2.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>

	<xs:element name="RppVypisOpravneni" type="RppVypisOpravneniType"/>
	<xs:element name="RppVypisOpravneniResponse" type="RppVypisOpravneniResponseType"/>

	<xs:complexType name="RppVypisOpravneniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E148 externího rozhraní - typ pro žádost. Poskytnutí informací o přiřazení agendových rolí a služeb k agendě včetně povolených přístupů k AIS pro konkrétní agendu nebo agendy vykonávané příslušným OVM. RPP služba P45.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniData" type="pdo:RppVypisOpravneniDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RppVypisOpravneniResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E148 externího rozhraní - typ pro odpověď. Poskytnutí informací o přiřazení agendových rolí a služeb k agendě včetně povolených přístupů k AIS pro konkrétní agendu nebo agendy vykonávané příslušným OVM. RPP služba P45.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniDataResponse" type="pdo:RppVypisOpravneniDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
