wsdl/egon/xsd/IszrRuianCtiPrvekParcela.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekParcela:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekParcela:v1" 
	xmlns:e35k="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekParcela:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiPa="urn:cz:isvs:ruian:schemas:CtiParcela:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E35k externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 27.06.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 26.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.4, 28.07.2011, Aleš Teplý, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Vývojová verze 0.0.5, 14.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 26.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiParcela:v1" schemaLocation="../../ruian/xsd/cti/CtiParcela.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiParcela:v1" schemaLocation="ref/RuianCtiPrvekParcela.xsd"/>

	<xs:element name="RuianCtiPrvekParcela" type="RuianCtiPrvekParcelaType"/>
	<xs:element name="RuianCtiPrvekParcelaResponse" type="RuianCtiPrvekParcelaResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35k externího rozhraní - žádost. Načtení parcely z RUIAN. RUIAN služba A04, operace ctiParcela.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekParcelaData" type="ctiPa:CtiParcelaDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekParcelaResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35k externího rozhraní - odpověď. Načtení parcely z RUIAN. RUIAN služba A04, operace ctiParcela.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekParcelaDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="ctiPa:Parcela"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>