wsdl/egon/xsd/IszrRuianCtiPrvekRegionSoudrznosti2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekRegionSoudrznosti2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekRegionSoudrznosti2:v1" 
	xmlns:e250m="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekRegionSoudrznosti2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiRs="urn:cz:isvs:ruian:schemas:CtiRegionSoudrznosti:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E250m externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 6.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiRegionSoudrznosti:v2" schemaLocation="../../ruian/xsd/ext/v2/cti/CtiRegionSoudrznosti.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiRegionSoudrznosti:v2" schemaLocation="ref/RuianCtiPrvekRegionSoudrznosti2.xsd"/>

	<xs:element name="RuianCtiPrvekRegionSoudrznosti2" type="RuianCtiPrvekRegionSoudrznosti2Type"/>
	<xs:element name="RuianCtiPrvekRegionSoudrznosti2Response" type="RuianCtiPrvekRegionSoudrznosti2ResponseType"/>

	<xs:complexType name="RuianCtiPrvekRegionSoudrznosti2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250m externího rozhraní - žádost. Načtení Region soudržnosti z RUIAN. RUIAN služba, operace ctiRegionSoudrznosti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekRegionSoudrznosti2Data" type="ctiRs:CtiRegionSoudrznostiDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekRegionSoudrznosti2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250m externího rozhraní - odpověď. Načtení Region soudržnosti z RUIAN. RUIAN služba, operace ctiRegionSoudrznosti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekRegionSoudrznosti2DataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiRs:RegionSoudrznosti"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>