wsdl/egon/xsd/IszrRuianZmenCiselnikIskn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianZmenCiselnikIskn:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianZmenCiselnikIskn:v1"
	xmlns:e92="urn:cz:isvs:iszr:schemas:IszrRuianZmenCiselnikIskn:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:zckn="urn:cz:isvs:ruian:schemas:ZmenCiselnikIskn:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E92 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 9.2.2012, Jan Sluka -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenCiselnikIskn:v1" schemaLocation="../../ruian/xsd/editace_iskn/ZmenCiselnikIskn.xsd"/>

	<xs:element name="RuianZmenCiselnikIskn" type="RuianZmenCiselnikIsknType"/>
	<xs:element name="RuianZmenCiselnikIsknResponse" type="RuianZmenCiselnikIsknResponseType"/>

	<xs:complexType name="RuianZmenCiselnikIsknType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E92 externího rozhraní - žádost. Rozhraní pro uložení změn číselníků udržovaných v ISKN – v RUIAN jsou změněny nebo doplněny záznamy. Služba RUIAN A25.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianZmenCiselnikIsknData" type="zckn:EditaceCiselnikuISKNType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RuianZmenCiselnikIsknResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E92 externího rozhraní - odpověď. Rozhraní pro uložení změn číselníků udržovaných v ISKN – v RUIAN jsou změněny nebo doplněny záznamy. Služba RUIAN A25.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
