wsdl/egon/xsd/IszrRuianCtiPrvekVolebniOkrsek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek:v1" 
	xmlns:e35t="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiVo="urn:cz:isvs:ruian:schemas:CtiVO:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.4.4">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E35t externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 1.4.4, 25.10.2013, Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiVO:v1" schemaLocation="../../ruian/xsd/cti/CtiVO.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiVO:v1" schemaLocation="ref/RuianCtiPrvekVolebniOkrsek.xsd"/>

	<xs:element name="RuianCtiPrvekVolebniOkrsek" type="RuianCtiPrvekVolebniOkrsekType"/>
	<xs:element name="RuianCtiPrvekVolebniOkrsekResponse" type="RuianCtiPrvekVolebniOkrsekResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekVolebniOkrsekType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35t externího rozhraní - žádost. Načtení volebního okrsku z RUIAN. RUIAN služba A04, operace ctiVolebniOkrsek.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekVolebniOkrsekData" type="ctiVo:CtiVolebniOkrsekDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekVolebniOkrsekResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35t externího rozhraní - odpověď. Načtení volebního okrsku z RUIAN. RUIAN služba A04, operace ctiVolebniOkrsek.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekVolebniOkrsekDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="ctiVo:VolebniOkrsek"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>