wsdl/egon/xsd/IszrReklamujUdajeRob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRob:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRob:v1"
	xmlns:e62="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRob:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:i02="urn:cz:isvs:iszr:schemas:IszrDataReklamujUdajeRob:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.1">
	
	<xs:annotation>
		<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROB příslušnému editorovi údaje.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 17.10.2011, Pavel Odstrčil, vznik -->
	<!-- Vývojová verze 0.0.2, 26.10.2011 Aleš Teplý, formální úpravy -->
	<!-- Vývojová verze 0.0.3, 10.02.2012 Aleš Teplý, doplnění MapaAifo a OrgStatus do Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze pro revizi 1.1.1, 22.05.2012, ales.teply@autocont.cz, Zduvodneni nepovinné -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDataReklamujUdajeRob:v1" schemaLocation="../../iszr/xsd/IszrDataReklamujUdajeRob.xsd"/>

	<xs:element name="IszrReklamujUdajeRob" type="IszrReklamujUdajeRobType"/>
	<xs:element name="IszrReklamujUdajeRobResponse" type="IszrReklamujUdajeRobResponseType"/>

	<xs:complexType name="IszrReklamujUdajeRobType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROB příslušnému editorovi údaje.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostRAifoAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrReklamujUdajeRobData" type="i02:IszrReklamujUdajeRobDataType" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IszrReklamujUdajeRobResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROB příslušnému editorovi údaje, odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="IszrOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrReklamujUdajeRobDataResponse" type="i02:IszrReklamujUdajeRobDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
