wsdl/egon/xsd/IszrRuianVyhledejPrvekRegionSoudrznosti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekRegionSoudrznosti:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekRegionSoudrznosti:v1" 
	xmlns:e34m="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekRegionSoudrznosti:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhRs="urn:cz:isvs:ruian:schemas:VyhledejRegionSoudrznosti:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E34m externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 22.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 25.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejRegionSoudrznosti:v1" schemaLocation="ref/RuianVyhledejPrvekRegionSoudrznosti.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekRegionSoudrznosti" type="RuianVyhledejPrvekRegionSoudrznostiType"/>
	<xs:element name="RuianVyhledejPrvekRegionSoudrznostiResponse" type="RuianVyhledejPrvekRegionSoudrznostiResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekRegionSoudrznostiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34m externího rozhraní - žádost. Vyhledání regionu soudržnosti z RUIAN. RUIAN služba A03, operace VyhledejRegionSoudrznosti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekRegionSoudrznostiData" type="vyhRs:VyhledejRegionSoudrznostiDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekRegionSoudrznostiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34m externího rozhraní - odpověď. Vyhledání regionu soudržnosti z RUIAN. RUIAN služba A03, operace VyhledejRegionSoudrznosti.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekRegionSoudrznostiDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhRs:RegionySoudrznosti"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>