wsdl/egon/xsd/IszrRppVypisOvmSpuu2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisOvmSpuu2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisOvmSpuu2:v1"
	xmlns:e228="urn:cz:isvs:iszr:schemas:IszrRppVypisOvmSpuu2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1"
	xmlns:sdo="urn:cz:isvs:ros:schemas:RosDotazyData:v2"
	xmlns:rod="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
	xmlns:crob2="urn:cz:isvs:ruian:schemas:CtiProRob:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.5.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E228 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vytvoření nové služby pro výpis údajů stávajícího OVM nebo SPUU. Služba vrátí základní údaje o OVM nebo SPUU, násobné údaje vedené k OVM nebo SPUU vrací pouze v případě požadavku uživatele v řídící části služby. Služba na základě předaných dat vypíše OVM nebo SPUU včetně nových údajů plynoucích ze zák 251 a novely 111/2009., verze 1.3.3, 12.7.2018, Aleš Teplý -->
	<!-- Verze po revizi 1.3.4, 14.10.2020, Aleš Teplý, RuianCtiProRobDataResponse v1 i v2 -->
	<!-- Verze po revizi 1.4.0, 13.8.2021, Aleš Teplý, rozšíření struktury Response ROB v2.0.0, aplikačně zatím omezeno na kompatibilitu s ROB v1.0.9 -->
	<!-- Verze po revizi 1.4.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.5.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1" schemaLocation="../../rob/xsd/RobDotazyData.xsd"/>
	<xs:import namespace="urn:cz:isvs:ros:schemas:RosDotazyData:v2" schemaLocation="../../ros/xsd/RosDotazyData.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiProRob:v2" schemaLocation="ref/RuianCtiProRob2.xsd"/>

	<xs:element name="RppVypisOvmSpuu2" type="RppVypisOvmSpuu2Type"/>
	<xs:element name="RppVypisOvmSpuu2Response" type="RppVypisOvmSpuu2ResponseType"/>
	<xs:complexType name="RppVypisOvmSpuu2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E228 externího rozhraní - typ pro žádost. Služba vrátí veškeré vedené údaje o OVM nebo SPUU - RPP služba P71.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOvmSpuu2Data" type="pdo:RppVypisOvmSpuu2DataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVypisOvmSpuu2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E228 externího rozhraní - typ pro odpověď. Služba vrátí veškeré vedené údaje o OVM nebo SPUU - RPP služba P71.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStIdAdrIcoAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOvmSpuu2DataResponse" type="pdo:RppVypisOvmSpuu2DataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiHromadneAifoDataResponse" type="rod:RobCtiHromadneAifoDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RosOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosCtiSeznamIcoDataResponse" type="sdo:RosCtiSeznamIcoDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiProRobDataResponse" type="crob2:RuianCtiProRobDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
