wsdl/egon/xsd/IszrRosVypisVyuziti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRosVypisVyuziti:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRosVypisVyuziti:v1"
	xmlns:e30="urn:cz:isvs:iszr:schemas:IszrRosVypisVyuziti:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:sdo="urn:cz:isvs:ros:schemas:RosDotazyData:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.3.1">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E30 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 28.02.2012, Jan Sluka -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze po revizi 1.1.1, 05.08.2012, Aleš Teplý, v RosVypisVyuzitiDataResponse je element DatoveSchranky nepovinný --> 
	<!-- Katalog.7.3 verze 1.3.0, 29.08.2012 Aleš Teplý -->
	<!-- Verze 1.3.1, 14.11.2014, formální změna, nepovinný element v datové části žádosti -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:ros:schemas:RosDotazyData:v2" schemaLocation="../../ros/xsd/RosDotazyData.xsd"/>

	<xs:element name="RosVypisVyuziti" type="RosVypisVyuzitiType"/>
	<xs:element name="RosVypisVyuzitiResponse" type="RosVypisVyuzitiResponseType"/>

	<xs:complexType name="RosVypisVyuzitiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E30 externího rozhraní - typ pro žádost. Vydání informace o využití údajů osoby - služba S15.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosVypisVyuzitiData" type="sdo:RosVypisVyuzitiDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RosVypisVyuzitiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E30 externího rozhraní - typ pro odpověď. Vydání informace o využití údajů osoby - služba S15.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RosOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosVypisVyuzitiDataResponse" type="sdo:RosVypisVyuzitiDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
