wsdl/egon/xsd/IszrProbe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrProbe:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrProbe:v1"
	xmlns:e97="urn:cz:isvs:iszr:schemas:IszrProbe:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:i21="urn:cz:isvs:iszr:schemas:IszrDataProbe:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.3.0">
	
	<xs:annotation>
		<xs:documentation xml:lang="cs">XML schéma s definicemi datových prvků ISZR. Služba E164 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.1.0, 13.08.2012, Aleš Teplý, vznik -->
	<!-- Vývojová verze 0.1.1, 17.08.2012, Aleš Teplý, typy převedeny do RegTypy -->
	<!-- Katalog.7.3 verze 1.3.0, 29.08.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDataProbe:v1" schemaLocation="../../iszr/xsd/IszrDataProbe.xsd"/>

	<xs:element name="IszrProbe" type="IszrProbeType"/>
	<xs:element name="IszrProbeResponse" type="IszrProbeResponseType"/>

	<xs:complexType name="IszrProbeType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E164 externího rozhraní - typ pro žádost. Služba umožňuje testovat dostupnost rozhraní využívaných ISZR (Základní registry, ORG, AISy).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrProbeData" type="i21:IszrProbeDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IszrProbeResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E164 externího rozhraní - typ pro odpověď. Služba umožňuje testovat dostupnost rozhraní využívaných ISZR (Základní registry, ORG, AISy).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IszrOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrProbeDataResponse" type="i21:IszrProbeDataResponseType">
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
