wsdl/egon/xsd/IszrRppSpravaCiselniku.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppSpravaCiselniku:v1" xmlns:e149="urn:cz:isvs:iszr:schemas:IszrRppSpravaCiselniku:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:ped2="urn:cz:isvs:rpp:schemas:RppEditaceData2:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppSpravaCiselniku:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E149 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 22.02.2012, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 13.03.2012, Aleš Teplý, doplnění SeznamIco -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- 1.2.0 - 3.1.2017 - Zmena RPP - presum datove casti RPP do jineho NS -->
	<!-- Verze po revizi 1.2.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.3.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppEditaceData2:v1" schemaLocation="../../rpp/xsd/RppEditaceData2.xsd"/>
	<xs:element name="RppSpravaCiselniku" type="RppSpravaCiselnikuType"/>
	<xs:element name="RppSpravaCiselnikuResponse" type="RppSpravaCiselnikuResponseType"/>
	<xs:complexType name="RppSpravaCiselnikuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E149 externího rozhraní - typ pro žádost. RPP služba P48.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostIcoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppSpravaCiselnikuData" type="ped2:RppSpravaCiselnikuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppSpravaCiselnikuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E149 externího rozhraní - typ pro odpověď. RPP služba P48.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedIcoAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppSpravaCiselnikuDataResponse" type="ped2:RppSpravaCiselnikuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
