wsdl/egon/xsd/IszrRuianCtiPrvekStavebniObjekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStavebniObjekt:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStavebniObjekt:v1" 
	xmlns:e35p="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekStavebniObjekt:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiSo="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E35p externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 27.06.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 27.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.4, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Vývojová verze 0.0.5, 14.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 26.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1" schemaLocation="../../ruian/xsd/cti/CtiStavebniObjekt.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1" schemaLocation="ref/RuianCtiPrvekStavebniObjekt.xsd"/>

	<xs:element name="RuianCtiPrvekStavebniObjekt" type="RuianCtiPrvekStavebniObjektType"/>
	<xs:element name="RuianCtiPrvekStavebniObjektResponse" type="RuianCtiPrvekStavebniObjektResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekStavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35p externího rozhraní - žádost. Načtení Stavebního objektu z RUIAN. RUIAN služba A04, operace ctiStavebniObjekt.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekStavebniObjektData" type="ctiSo:CtiStavebniObjektDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekStavebniObjektResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35p externího rozhraní - odpověď. Načtení Stavebního objektu z RUIAN. RUIAN služba A04, operace ctiStavebniObjekt.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekStavebniObjektDataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiSo:StavebniObjekt"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>