wsdl/egon/xsd/IszrRosPridelIco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRosPridelIco:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRosPridelIco:v1"
	xmlns:e16="urn:cz:isvs:iszr:schemas:IszrRosPridelIco:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:sed="urn:cz:isvs:ros:schemas:RosEditaceData:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E16 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 15.06.2011, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 21.07.2011, Aleš Teplý, ref na type (sjednocení), odstraneno PrvotniPlneni -->
	<!-- Vývojová verze 0.0.4, 13.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 18.09.2011, Aleš Teplý -->
	<!-- Verze po revizi 1.0.1, 14.02.2012 Aleš Teplý, doplnění MapaAifo, SeznamIdAdres a OrgStatus do Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:ros:schemas:RosEditaceData:v2" schemaLocation="../../ros/xsd/RosEditaceData.xsd"/>

	<xs:element name="RosPridelIco" type="RosPridelIcoType"/>
	<xs:element name="RosPridelIcoResponse" type="RosPridelIcoResponseType"/>

	<xs:complexType name="RosPridelIcoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E16 externího rozhraní - typ pro žádost. Přidělení IČO na základě předepsaných identifikačních údajů - služba ROS S01. Informace o tom kdy, pro kterou osobu a pro jakou agendu bylo IČO přiděleno bude v registru evidována. Tato informace bude mimo jiné využita i pro kontrolu při zápisu nové osoby do registru.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoIdAdrAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosPridelIcoData" type="sed:RosPridelIcoDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RosPridelIcoResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E16 externího rozhraní - typ pro odpověď. Služba vrací IČO nově přidělené nebo nalezené v registru a status - služba ROS S01. Pokud se v registru nenalezne osoba se shodnými referenčními údaji, vrací služba nově přidělené IČO. V případě shody referenčních údajů se záznamy v ROS IČO nebude přiděleno. Pokud agenda žádala o přidělení IČO pro fyzickou osobu identifikovanou pouze jménem a příjmením, nedostane přiděleno IČO pro osobu se stejným jménem a příjmením, pokud předchozí osoba není zapsána do ROS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStIdAdrAbstractType">
				<xs:sequence>
					<xs:element name="RosOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosPridelIcoDataResponse" type="sed:RosPridelIcoDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>