wsdl/egon/xsd/IszrRuianCtiPrvekVolebniOkrsek2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek2:v1" 
	xmlns:e250t="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekVolebniOkrsek2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiVo="urn:cz:isvs:ruian:schemas:CtiVO:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E250t externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 6.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiVO:v2" schemaLocation="../../ruian/xsd/ext/v2/cti/CtiVO.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiVO:v2" schemaLocation="ref/RuianCtiPrvekVolebniOkrsek2.xsd"/>

	<xs:element name="RuianCtiPrvekVolebniOkrsek2" type="RuianCtiPrvekVolebniOkrsek2Type"/>
	<xs:element name="RuianCtiPrvekVolebniOkrsek2Response" type="RuianCtiPrvekVolebniOkrsek2ResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekVolebniOkrsek2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250t externího rozhraní - žádost. Načtení volebního okrsku z RUIAN. RUIAN služba, operace ctiVolebniOkrsek.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekVolebniOkrsek2Data" type="ctiVo:CtiVolebniOkrsekDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekVolebniOkrsek2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250t externího rozhraní - odpověď. Načtení volebního okrsku z RUIAN. RUIAN služba, operace ctiVolebniOkrsek.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekVolebniOkrsek2DataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="ctiVo:VolebniOkrsek"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>