wsdl/egon/xsd/IszrRppVypisOpravneniNaProvedeniSluzby.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniNaProvedeniSluzby:v1" xmlns:e147="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniNaProvedeniSluzby:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniNaProvedeniSluzby:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E147 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 01.02.2012, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Novela zakona 111, verze 1.2.0, 12.05.2016 - zmeny RPP - zrusena sluzba -->
	<!-- Verze po revizi 1.2.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.3.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>
	<xs:element name="RppVypisOpravneniNaProvedeniSluzby" type="RppVypisOpravneniNaProvedeniSluzbyType"/>
	<xs:element name="RppVypisOpravneniNaProvedeniSluzbyResponse" type="RppVypisOpravneniNaProvedeniSluzbyResponseType"/>
	<xs:complexType name="RppVypisOpravneniNaProvedeniSluzbyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E147 externího rozhraní - typ pro žádost. Poskytnutí informace o oprávnění na provedení služby. Na základě identifikace OVM, agendy, agendové role a služby poskytuje informace o oprávnění na službu. RPP služba P44.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniNaProvedeniSluzbyData" type="xs:anyType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVypisOpravneniNaProvedeniSluzbyResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E147 externího rozhraní - typ pro odpověď. Poskytnutí informace o oprávnění na provedení služby. Na základě identifikace OVM, agendy, agendové role a služby poskytuje informace o oprávnění na službu. RPP služba P44.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniNaProvedeniSluzbyDataResponse" type="xs:anyType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
