wsdl/egon/xsd/IszrReklamujUdajeRos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRos:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRos:v1"
	xmlns:e63="urn:cz:isvs:iszr:schemas:IszrReklamujUdajeRos:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:i03="urn:cz:isvs:iszr:schemas:IszrDataReklamujUdajeRos:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.1">
	
	<xs:annotation>
		<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROS příslušnému editorovi údaje.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 17.10.2011, Pavel Odstrčil, vznik -->
	<!-- Vývojová verze 0.0.2, 26.10.2011 Aleš Teplý, formální úpravy -->
	<!-- Vývojová verze 0.0.3, 14.02.2012 Aleš Teplý, odstranění MapaAifo z Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze pro revizi 1.1.1, 22.05.2012, ales.teply@autocont.cz, Zduvodneni nepovinné -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDataReklamujUdajeRos:v1" schemaLocation="../../iszr/xsd/IszrDataReklamujUdajeRos.xsd"/>

	<xs:element name="IszrReklamujUdajeRos" type="IszrReklamujUdajeRosType"/>
	<xs:element name="IszrReklamujUdajeRosResponse" type="IszrReklamujUdajeRosResponseType"/>

	<xs:complexType name="IszrReklamujUdajeRosType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROS příslušnému editorovi údaje.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrReklamujUdajeRosData" type="i03:IszrReklamujUdajeRosDataType" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IszrReklamujUdajeRosResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Avízo o nesprávném údaji v registru ROS příslušnému editorovi údaje, odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IszrOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrReklamujUdajeRosDataResponse" type="i03:IszrReklamujUdajeRosDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
