wsdl/egon/xsd/IszrRuianCtiPrvekOkres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekOkres:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekOkres:v1" 
	xmlns:e35i="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekOkres:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiOk="urn:cz:isvs:ruian:schemas:CtiOkres:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E35i externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 24.06.2011, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 27.06.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.4, 28.07.2011, Aleš Teplý, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Vývojová verze 0.0.5, 14.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 26.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiOkres:v1" schemaLocation="../../ruian/xsd/cti/CtiOkres.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiOkres:v1" schemaLocation="ref/RuianCtiPrvekOkres.xsd"/>

  <xs:element name="RuianCtiPrvekOkres" type="RuianCtiPrvekOkresType"/>
	<xs:element name="RuianCtiPrvekOkresResponse" type="RuianCtiPrvekOkresResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekOkresType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35i externího rozhraní - žádost. Načtení okresu z RUIAN. RUIAN služba A04, operace ctiOkres.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekOkresData" type="ctiOk:CtiOkresDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekOkresResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35i externího rozhraní - odpověď. Načtení okresu z RUIAN. RUIAN služba A04, operace ctiOkres.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianCtiPrvekOkresDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="ctiOk:Okres"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>