wsdl/egon/xsd/IszrRuianCtiPrvekObvodPrahy2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekObvodPrahy2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekObvodPrahy2:v1" 
	xmlns:e250g="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekObvodPrahy2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiMp="urn:cz:isvs:ruian:schemas:CtiObvodPrahy:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E250g externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 6.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiObvodPrahy:v2" schemaLocation="../../ruian/xsd/ext/v2/cti/CtiObvodPrahy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiObvodPrahy:v2" schemaLocation="ref/RuianCtiPrvekObvodPrahy2.xsd"/>

	<xs:element name="RuianCtiPrvekObvodPrahy2" type="RuianCtiPrvekObvodPrahy2Type"/>
	<xs:element name="RuianCtiPrvekObvodPrahy2Response" type="RuianCtiPrvekObvodPrahy2ResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekObvodPrahy2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250g externího rozhraní - žádost. Načtení ObvodPrahy z RUIAN. RUIAN služba, operace ctiObvodPrahy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekObvodPrahy2Data" type="ctiMp:CtiObvodPrahyDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekObvodPrahy2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250g externího rozhraní - odpověď. Načtení ObvodPrahy z RUIAN. RUIAN služba, operace ctiObvodPrahy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekObvodPrahy2DataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiMp:ObvodPrahy"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>