wsdl/egon/xsd/IszrRppVypisOpravneniPoskytovani.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniPoskytovani:v1" xmlns:e209="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniPoskytovani:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisOpravneniPoskytovani:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E209 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Novela zákona 1.0.0, 21.11.2016 Pavel Odstrčil -->
	<!-- Verze po revizi 1.0.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.1.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>
	<xs:element name="RppVypisOpravneniPoskytovani" type="RppVypisOpravneniPoskytovaniType"/>
	<xs:element name="RppVypisOpravneniPoskytovaniResponse" type="RppVypisOpravneniPoskytovaniResponseType"/>
	<xs:complexType name="RppVypisOpravneniPoskytovaniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E209 externího rozhraní - typ pro žádost. RPP služba P59.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniPoskytovaniData" type="pdo:RppVypisOpravneniPoskytovaniDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVypisOpravneniPoskytovaniResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E209 externího rozhraní - typ pro odpověď. RPP služba P59.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisOpravneniPoskytovaniDataResponse" type="pdo:RppVypisOpravneniPoskytovaniDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
