wsdl/egon/xsd/IszrRuianVyhledejPrvekOrp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOrp:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOrp:v1" 
	xmlns:e34j="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOrp:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhOp="urn:cz:isvs:ruian:schemas:VyhledejOrp:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E34j externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 20.07.2011, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 25.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejOrp:v1" schemaLocation="ref/RuianVyhledejPrvekOrp.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekOrp" type="RuianVyhledejPrvekOrpType"/>
	<xs:element name="RuianVyhledejPrvekOrpResponse" type="RuianVyhledejPrvekOrpResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekOrpType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34j externího rozhraní - žádost. Vyhledání ORP z RUIAN. RUIAN služba A03, operace VyhledejOrp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekOrpData" type="vyhOp:VyhledejOrpDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekOrpResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34j externího rozhraní - odpověď. Vyhledání ORP z RUIAN. RUIAN služba A03, operace VyhledejOrp.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekOrpDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhOp:Orp"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>