wsdl/egon/xsd/IszrRosVlozProvozovnu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRosVlozProvozovnu:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRosVlozProvozovnu:v1"
	xmlns:e25="urn:cz:isvs:iszr:schemas:IszrRosVlozProvozovnu:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:sed="urn:cz:isvs:ros:schemas:RosEditaceData:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E25 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 25.05.2011, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 09.06.2011, Aleš Teplý IszrZadostAbstractType=>IszrZadostIdAdrAbstractType (přidání SeznamIdAdres) -->
	<!-- Vývojová verze 0.0.3, 21.07.2011, Aleš Teplý, ref na type (sjednocení), odstraneno PrvotniPlneni -->
	<!-- Vývojová verze 0.0.4, 13.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 18.09.2011, Aleš Teplý -->
	<!-- Verze po revizi 1.0.1, 14.02.2012 Aleš Teplý, doplnění SeznamIdAdres do Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ros:schemas:RosEditaceData:v2" schemaLocation="../../ros/xsd/RosEditaceData.xsd"/>

	<xs:element name="RosVlozProvozovnu" type="RosVlozProvozovnuType"/>
	<xs:element name="RosVlozProvozovnuResponse" type="RosVlozProvozovnuResponseType"/>

	<xs:complexType name="RosVlozProvozovnuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E25 externího rozhraní - typ pro žádost. Zavedení záznamu provozovny (provozoven) do ROS - služba ROS S10.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostIdAdrAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosVlozProvozovnuData" type="sed:RosVlozProvozovnuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RosVlozProvozovnuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E25 externího rozhraní - typ pro odpověď. Zavedení záznamu provozovny (provozoven) do ROS - služba ROS S10. Předpokládá se defaultně jako asynchronní služba, proto je element RosOdpoved nepovinný.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedIdAdrAbstractType">
				<xs:sequence>
					<xs:element name="RosOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosVlozProvozovnuDataResponse" type="sed:RosVlozProvozovnuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>