wsdl/egon/xsd/IszrRuianZmenNespravnostIskn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianZmenNespravnostIskn:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianZmenNespravnostIskn:v1" 
	xmlns:e89="urn:cz:isvs:iszr:schemas:IszrRuianZmenNespravnostIskn:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:znkn="urn:cz:isvs:ruian:schemas:ZmenNespravnostIskn:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E89 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.01, 01.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.02, 29.07.2011, Aleš Teplý, úprava na RUIAN 3 -->
	<!-- Vývojová verze 0.0.03, 14.09.2011, Aleš Teplý, podadresáře registrů malými písmeny, CamelCase -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ZmenNespravnostIskn:v1" schemaLocation="../../ruian/xsd/editace_iskn/ZmenNespravnostIskn.xsd"/>
	
	<xs:element name="RuianZmenNespravnostIskn" type="RuianZmenNespravnostIsknType"/>
	<xs:element name="RuianZmenNespravnostIsknResponse" type="RuianZmenNespravnostIsknResponseType"/>
	
	<xs:complexType name="RuianZmenNespravnostIsknType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E89 externího rozhraní - žádost.  Změna příznaku nesprávnosti referenčních údajů spravovaných aplikací ISKN. Zpráva obsahuje vždy nastavení pro údaje jednoho prvku do RUIAN. RUIAN služba A22. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianZmenNespravnostIsknData" type="znkn:EditaceNespravnostiISKNType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RuianZmenNespravnostIsknResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E89 externího rozhraní - odpověď. Služba pro změnu příznaku nesprávnosti referenčních údajů spravovaných aplikací ISKN do RUIAN. RUIAN služba A22.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType" />
		</xs:complexContent>
	</xs:complexType>

</xs:schema>