wsdl/egon/xsd/IszrIsuiCtiPrvekCastObceKDatu2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekCastObceKDatu2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekCastObceKDatu2:v1"
	xmlns:e252c="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekCastObceKDatu2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiCoKD="urn:cz:isvs:isui:schemas:CtiCastObceKDatu:v2"
	xmlns:ctiCo="urn:cz:isvs:ruian:schemas:CtiCastObce:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E252C externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 2.0.0, 13.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:CtiCastObceKDatu:v2" schemaLocation="../../isui/xsd/ext/v2/cti_historii/CtiCastObceKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiCastObce:v2" schemaLocation="ref/RuianCtiPrvekCastObce2.xsd"/>

	<xs:element name="IsuiCtiPrvekCastObceKDatu2" type="IsuiCtiPrvekCastObceKDatu2Type"/>
	<xs:element name="IsuiCtiPrvekCastObceKDatu2Response" type="IsuiCtiPrvekCastObceKDatu2ResponseType"/>

	<xs:complexType name="IsuiCtiPrvekCastObceKDatu2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252C externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiCastObceKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekCastObceKDatu2Data" type="ctiCoKD:CtiCastObceKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsuiCtiPrvekCastObceKDatu2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252C externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiCastObceKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsuiOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekCastObceKDatu2DataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiCo:CastObce"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
