wsdl/egon/xsd/IszrRuianVyhledejPrvekAdresniMisto2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekAdresniMisto2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekAdresniMisto2:v1" 
	xmlns:e249a="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekAdresniMisto2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhAd="urn:cz:isvs:ruian:schemas:VyhledejAdresniMisto:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E249a externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 29.09.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejAdresniMisto:v2" schemaLocation="ref/RuianVyhledejPrvekAdresniMisto2.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekAdresniMisto2" type="RuianVyhledejPrvekAdresniMisto2Type"/>
	<xs:element name="RuianVyhledejPrvekAdresniMisto2Response" type="RuianVyhledejPrvekAdresniMisto2ResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekAdresniMisto2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E249a externího rozhraní - žádost. Vyhledání adresního místa z RUIAN. RUIAN služba, operace VyhledejAdresniMisto2.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekAdresniMisto2Data" type="vyhAd:VyhledejAdresniMistoDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekAdresniMisto2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E249a externího rozhraní - odpověď. Vyhledání adresního místa z RUIAN. RUIAN služba, operace VyhledejAdresniMisto2.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekAdresniMisto2DataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhAd:AdresniMista"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>