wsdl/egon/xsd/IszrIsuiCtiPrvekStavebniObjektKDatu2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekStavebniObjektKDatu2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekStavebniObjektKDatu2:v1"
	xmlns:e252p="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekStavebniObjektKDatu2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiSoKD="urn:cz:isvs:isui:schemas:CtiStavebniObjektKDatu:v2"
	xmlns:ctiSo="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E252P externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 2.0.0, 14.10.2020 Aleš Teplý -->
	<!-- Verze po revizi 2.1.0, 19.5.2022 Aleš Teplý, rozšíření Response -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:CtiStavebniObjektKDatu:v2" schemaLocation="../../isui/xsd/ext/v2/cti_historii/CtiStavebniObjektKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v2" schemaLocation="ref/RuianCtiPrvekStavebniObjekt2.xsd"/>

	<xs:element name="IsuiCtiPrvekStavebniObjektKDatu2" type="IsuiCtiPrvekStavebniObjektKDatu2Type"/>
	<xs:element name="IsuiCtiPrvekStavebniObjektKDatu2Response" type="IsuiCtiPrvekStavebniObjektKDatu2ResponseType"/>

	<xs:complexType name="IsuiCtiPrvekStavebniObjektKDatu2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252P externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiStavebniObjektKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekStavebniObjektKDatu2Data" type="ctiSoKD:CtiStavObjektKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsuiCtiPrvekStavebniObjektKDatu2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252P externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiStavebniObjektKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsuiOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekStavebniObjektKDatu2DataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiSo:StavebniObjekt"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
