wsdl/egon/xsd/IszrRuianVyhledejPrvekOkres2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOkres2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOkres2:v1"
	xmlns:e249i="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekOkres2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhOk="urn:cz:isvs:ruian:schemas:VyhledejOkres:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E249i externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 29.09.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejOkres:v2" schemaLocation="ref/RuianVyhledejPrvekOkres2.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekOkres2" type="RuianVyhledejPrvekOkres2Type"/>
	<xs:element name="RuianVyhledejPrvekOkres2Response" type="RuianVyhledejPrvekOkres2ResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekOkres2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E249i externího rozhraní - žádost. Vyhledání okresu z RUIAN. RUIAN služba, operace VyhledejOkres.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekOkres2Data" type="vyhOk:VyhledejOkresDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekOkres2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E249i externího rozhraní - odpověď. Vyhledání okresu z RUIAN. RUIAN služba, operace VyhledejOkres.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekOkres2DataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhOk:Okresy"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>