wsdl/egon/xsd/IszrRppZrusSluzbu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppZrusSluzbu:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRppZrusSluzbu:v1"
	xmlns:e139="urn:cz:isvs:iszr:schemas:IszrRppZrusSluzbu:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ped="urn:cz:isvs:rpp:schemas:RppEditaceData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E139 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 05.01.2012, Aleš Teplý -->
	<!-- Fixovaná verze 1.0.0, 11.01.2012, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppEditaceData:v1" schemaLocation="../../rpp/xsd/RppEditaceData.xsd"/>

	<xs:element name="RppZrusSluzbu" type="RppZrusSluzbuType"/>
	<xs:element name="RppZrusSluzbuResponse" type="RppZrusSluzbuResponseType"/>

	<xs:complexType name="RppZrusSluzbuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E139 externího rozhraní - typ pro žádost. Služba, kterou se provádí zrušení záznamu v Katalogu služeb. RPP služba P36.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppZrusSluzbuData" type="ped:RppZrusSluzbuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RppZrusSluzbuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E139 externího rozhraní - typ pro odpověď. Služba, kterou se provádí zrušení záznamu v Katalogu služeb. RPP služba P36.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppZrusSluzbuDataResponse" type="ped:RppZrusSluzbuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
