wsdl/egon/xsd/IszrIsknCtiPrvekKDatuKatastralniUzemi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsknCtiPrvekKDatuKatastralniUzemi:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsknCtiPrvekKDatuKatastralniUzemi:v1"
	xmlns:e242d="urn:cz:isvs:iszr:schemas:IszrIsknCtiPrvekKDatuKatastralniUzemi:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiKuKD="urn:cz:isvs:iskn:schemas:CtiKatastralniUzemiKDatu:v1"
	xmlns:ctiKu="urn:cz:isvs:ruian:schemas:CtiKatastralniUzemi:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Služba E242d externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 1.0.0, 2.9.2019 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:iskn:schemas:CtiKatastralniUzemiKDatu:v1" schemaLocation="../../iskn/xsd/cti_historii/CtiKatastralniUzemiKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiKatastralniUzemi:v1" schemaLocation="ref/RuianCtiPrvekKatastralniUzemi.xsd"/>

	<xs:element name="IsknCtiPrvekKDatuKatastralniUzemi" type="IsknCtiPrvekKDatuKatastralniUzemiType"/>
	<xs:element name="IsknCtiPrvekKDatuKatastralniUzemiResponse" type="IsknCtiPrvekKDatuKatastralniUzemiResponseType"/>

	<xs:complexType name="IsknCtiPrvekKDatuKatastralniUzemiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E242d externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISKN k požadovanému datu. ISKN služba A11, operace ctiKatastralniUzemiKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsknCtiPrvekKDatuKatastralniUzemiData" type="ctiKuKD:CtiKatastralniUzemiKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsknCtiPrvekKDatuKatastralniUzemiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E242d externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISKN k požadovanému datu. ISKN služba A11, operace ctiKatastralniUzemiKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsknOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsknCtiPrvekKDatuKatastralniUzemiDataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiKu:KatastralniUzemi"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>