wsdl/egon/xsd/IszrIsuiCtiPrvekVuscKDatu2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekVuscKDatu2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekVuscKDatu2:v1"
	xmlns:e252r="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekVuscKDatu2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiVcKD="urn:cz:isvs:isui:schemas:CtiVuscKDatu:v2"
	xmlns:ctiVc="urn:cz:isvs:ruian:schemas:CtiVusc:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E252R externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 2.0.0, 14.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:CtiVuscKDatu:v2" schemaLocation="../../isui/xsd/ext/v2/cti_historii/CtiVuscKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiVusc:v2" schemaLocation="ref/RuianCtiPrvekVusc2.xsd"/>

	<xs:element name="IsuiCtiPrvekVuscKDatu2" type="IsuiCtiPrvekVuscKDatu2Type"/>
	<xs:element name="IsuiCtiPrvekVuscKDatu2Response" type="IsuiCtiPrvekVuscKDatu2ResponseType"/>

	<xs:complexType name="IsuiCtiPrvekVuscKDatu2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252R externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiVuscKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekVuscKDatu2Data" type="ctiVcKD:CtiVuscKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsuiCtiPrvekVuscKDatu2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252R externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiVuscKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsuiOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekVuscKDatu2DataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiVc:Vusc"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
