wsdl/egon/xsd/IszrIsuiCtiPrvekUliceKDatu2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekUliceKDatu2:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekUliceKDatu2:v1"
	xmlns:e252q="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekUliceKDatu2:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiUlKD="urn:cz:isvs:isui:schemas:CtiUliceKDatu:v2"
	xmlns:ctiUl="urn:cz:isvs:ruian:schemas:CtiUlice:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E252Q externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 2.0.0, 14.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:CtiUliceKDatu:v2" schemaLocation="../../isui/xsd/ext/v2/cti_historii/CtiUliceKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiUlice:v2" schemaLocation="ref/RuianCtiPrvekUlice2.xsd"/>

	<xs:element name="IsuiCtiPrvekUliceKDatu2" type="IsuiCtiPrvekUliceKDatu2Type"/>
	<xs:element name="IsuiCtiPrvekUliceKDatu2Response" type="IsuiCtiPrvekUliceKDatu2ResponseType"/>

	<xs:complexType name="IsuiCtiPrvekUliceKDatu2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252Q externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiUliceKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekUliceKDatu2Data" type="ctiUlKD:CtiUliceKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsuiCtiPrvekUliceKDatu2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E252Q externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba, operace ctiUliceKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsuiOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekUliceKDatu2DataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiUl:Ulice"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
