wsdl/egon/xsd/IszrOrgZalozAifoPe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrOrgZalozAifoPe:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrOrgZalozAifoPe:v1"
	xmlns:e95="urn:cz:isvs:iszr:schemas:IszrOrgZalozAifoPe:v1"
	xmlns:or="urn:cz:isvs:org:schemas:OrgRozhrani:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E95 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 13.07.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 19.07.2011, Aleš Teplý, úprava Response - MapaAifo, OrgZalozAifoPeDataResponse -->
	<!-- Vývojová verze 0.0.3, 28.07.2011, Aleš Teplý, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 30.11.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->
	
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:org:schemas:OrgRozhrani:v1" schemaLocation="ref/OrgStatus.xsd"/>

	<xs:element name="OrgZalozAifoPe" type="OrgZalozAifoPeType"/>
	<xs:element name="OrgZalozAifoPeResponse" type="OrgZalozAifoPeResponseType"/>

	<xs:complexType name="OrgZalozAifoPeType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E95 externího rozhraní - typ pro žádost. Služba zprostředkuje vytvoření nového ZIFO v ORG. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgZalozAifoPeResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E95 externího rozhraní - typ pro odpověď. ORG převede ZIFO na AIFOcil a služba vrátí výsledný identifikátor a status.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoAbstractType">
				<xs:sequence>
					<xs:element name="OrgOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OrgZalozAifoPeDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="or:OrgStatus"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
