wsdl/egon/xsd/IszrRuianCtiPrvekZsj2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekZsj2:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekZsj2:v1" 
	xmlns:e250s="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekZsj2:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiZj="urn:cz:isvs:ruian:schemas:CtiZsj:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="2.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E250s externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Výchozí verze 2.0.0, 6.10.2020 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiZsj:v2" schemaLocation="../../ruian/xsd/ext/v2/cti/CtiZsj.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiZsj:v2" schemaLocation="ref/RuianCtiPrvekZsj2.xsd"/>

	<xs:element name="RuianCtiPrvekZsj2" type="RuianCtiPrvekZsj2Type"/>
	<xs:element name="RuianCtiPrvekZsj2Response" type="RuianCtiPrvekZsj2ResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekZsj2Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250s externího rozhraní - žádost. Načtení zsj z RUIAN. RUIAN služba, operace ctiZsj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekZsj2Data" type="ctiZj:CtiZsjDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekZsj2ResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E250s externího rozhraní - odpověď. Načtení zsj z RUIAN. RUIAN služba, operace ctiZsj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekZsj2DataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiZj:Zsj"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>