wsdl/egon/xsd/IszrRobCtiEditora.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRobCtiEditora:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRobCtiEditora:v1"
	xmlns:e15="urn:cz:isvs:iszr:schemas:IszrRobCtiEditora:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:rod="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
	xmlns:crob="urn:cz:isvs:ruian:schemas:CtiProRob:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E15 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 12.10.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 12.10.2011, Aleš Teplý, formální úpravy -->
	<!-- Fixovaná verze 1.0.0, 30.11.2011, Aleš Teplý -->
	<!-- Verze po revizi 1.0.1, 14.02.2012 Aleš Teplý, doplnění MapaAifo a OrgStatus do Response  -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1" schemaLocation="../../rob/xsd/RobDotazyData.xsd"/>

	<xs:element name="RobCtiEditora" type="RobCtiEditoraType"/>
	<xs:element name="RobCtiEditoraResponse" type="RobCtiEditoraResponseType"/>

	<xs:complexType name="RobCtiEditoraType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E15 externího rozhraní - typ pro žádost.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostRAifoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiEditoraData" type="rod:RobCtiEditoraDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RobCtiEditoraResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E15 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiEditoraDataResponse" type="rod:RobCtiEditoraDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
