wsdl/egon/xsd/IszrRobCtiPodleAdresy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRobCtiPodleAdresy:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRobCtiPodleAdresy:v1"
	xmlns:e280="urn:cz:isvs:iszr:schemas:IszrRobCtiPodleAdresy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:rod="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E280 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Výchozí verze 1.0.0, 30.8.2021, Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1" schemaLocation="../../rob/xsd/RobDotazyData.xsd"/>

	<xs:element name="RobCtiPodleAdresy" type="RobCtiPodleAdresyType"/>
	<xs:element name="RobCtiPodleAdresyResponse" type="RobCtiPodleAdresyResponseType"/>

	<xs:complexType name="RobCtiPodleAdresyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E280 externího rozhraní - typ pro žádost. Služba vrací referenční údaje z registru na základě vyhledání fyzické osoby podle adresy pobytu - služba ROB.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiPodleAdresyData" type="rod:RobCtiPodleAdresyDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RobCtiPodleAdresyResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E280 externího rozhraní - typ pro odpověď. Služba vrací referenční údaje z registru na základě vyhledání fyzické osoby podle adresy pobytu - služba ROB.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiPodleAdresyDataResponse" type="rod:RobCtiPodleAdresyDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
