wsdl/egon/xsd/IszrRppZmenRozhodnuti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppZmenRozhodnuti:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRppZmenRozhodnuti:v1"
	xmlns:e116="urn:cz:isvs:iszr:schemas:IszrRppZmenRozhodnuti:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ped="urn:cz:isvs:rpp:schemas:RppEditaceData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.2.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E116 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 24.01.2012, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 16.02.2012 Aleš Teplý, doplnění OrgStatus do Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze po revizi 1.1.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.2.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppEditaceData:v1" schemaLocation="../../rpp/xsd/RppEditaceData.xsd"/>

	<xs:element name="RppZmenRozhodnuti" type="RppZmenRozhodnutiType"/>
	<xs:element name="RppZmenRozhodnutiResponse" type="RppZmenRozhodnutiResponseType"/>

	<xs:complexType name="RppZmenRozhodnutiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E116 externího rozhraní - typ pro žádost. Služba na základě předaných dat aktualizuje existující rozhodnutí v RPP. RPP služba P13.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoIcoPrvekAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppZmenRozhodnutiData" type="ped:RppZmenRozhodnutiDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RppZmenRozhodnutiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E116 externího rozhraní - typ pro odpověď. Služba na základě předaných dat aktualizuje existující rozhodnutí v RPP. RPP služba P13.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStIcoPrvekAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppZmenRozhodnutiDataResponse" type="ped:RppZmenRozhodnutiDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
