wsdl/egon/xsd/IszrRppCtiZmenyOvmSpuu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppCtiZmenyOvmSpuu:v1" xmlns:e218="urn:cz:isvs:iszr:schemas:IszrRppCtiZmenyOvmSpuu:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppCtiZmenyOvmSpuu:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E218 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Novela zakona 111, verze 1.0.0, 12.12.2016 - nová sluzba -->	
	<!-- Verze po revizi 1.0.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.1.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>
	<xs:element name="RppCtiZmenyOvmSpuu" type="RppCtiZmenyOvmSpuuType"/>
	<xs:element name="RppCtiZmenyOvmSpuuResponse" type="RppCtiZmenyOvmSpuuResponseType"/>
	<xs:complexType name="RppCtiZmenyOvmSpuuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E218 externího rozhraní - typ pro žádost. Služba podle vstupních parametrů vrací seznam změn objektů (OVM, SPUU, kategorií OVM a kategorií SPUU) od konkrétního identifikátoru změny, nebo za požadované období - RPP služba P55.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppCtiZmenyOvmSpuuData" type="pdo:RppCtiZmenyOvmSpuuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppCtiZmenyOvmSpuuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E218 externího rozhraní - typ pro odpověď. Služba podle vstupních parametrů vrací seznam změn objektů (OVM, SPUU, kategorií OVM a kategorií SPUU) od konkrétního identifikátoru změny, nebo za požadované období - RPP služba P55.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppCtiZmenyOvmSpuuDataResponse" type="pdo:RppCtiZmenyOvmSpuuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
