wsdl/egon/xsd/IszrRuianCtiPrvekMop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekMop:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekMop:v1" 
	xmlns:e35g="urn:cz:isvs:iszr:schemas:IszrRuianCtiPrvekMop:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiMp="urn:cz:isvs:ruian:schemas:CtiMop:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E35g externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 24.06.2011, Aleš Teplý -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 27.06.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.4, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Vývojová verze 0.0.5, 14.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 26.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiMop:v1" schemaLocation="../../ruian/xsd/cti/CtiMop.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiMop:v1" schemaLocation="ref/RuianCtiPrvekMop.xsd"/>

	<xs:element name="RuianCtiPrvekMop" type="RuianCtiPrvekMopType"/>
	<xs:element name="RuianCtiPrvekMopResponse" type="RuianCtiPrvekMopResponseType"/>
	
	<xs:complexType name="RuianCtiPrvekMopType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35g externího rozhraní - žádost. Načtení Mop z RUIAN. RUIAN služba A04, operace ctiMop.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianCtiPrvekMopData" type="ctiMp:CtiMopDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianCtiPrvekMopResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E35g externího rozhraní - odpověď. Načtení Mop z RUIAN. RUIAN služba A04, operace ctiMop.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
				  <xs:element name="RuianOdpoved" minOccurs="0">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="RuianCtiPrvekMopDataResponse">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element ref="ctiMp:Mop"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>