wsdl/egon/xsd/IszrRosCtiZmeny.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRosCtiZmeny:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRosCtiZmeny:v1"
	xmlns:e28="urn:cz:isvs:iszr:schemas:IszrRosCtiZmeny:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:sdo="urn:cz:isvs:ros:schemas:RosDotazyData:v2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E28 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 01.07.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 21.07.2011, Aleš Teplý, ref na type (sjednocení), odstraneno PrvotniPlneni -->
	<!-- Vývojová verze 0.0.4, 13.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 22.09.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->
	
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ros:schemas:RosDotazyData:v2" schemaLocation="../../ros/xsd/RosDotazyData.xsd"/>
	
	<xs:element name="RosCtiZmeny" type="RosCtiZmenyType"/>
	<xs:element name="RosCtiZmenyResponse" type="RosCtiZmenyResponseType"/>
	
	<xs:complexType name="RosCtiZmenyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E28 externího rozhraní - typ pro žádost. Vydání seznamu IČO, u kterých došlo ke změně referenčních údajů - služba S13, odpověď. Služba vrací seznam IČO, u kterých došlo ke změně, společně s typem, identifikátorem a časem změny každého IČO nebo jen chybový status. Seznam je setříděn vzestupně dle identifikátoru změny.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosCtiZmenyData" type="sdo:RosCtiZmenyDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RosCtiZmenyResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E28 externího rozhraní - typ pro odpověď. Pokud pro předané IČO nebyla osoba zapsána, ale bylo jen zažádáno o jeho přidělení, služba vrátí údaje z žádosti o přidělení IČO a chybový status. Pokud pro předané IČO nebyla osoba zapsána, ale IČO bylo hromadně přiděleno, služba vrátí kód agendy a chybový status. Jinak služba vrací kompletní referenční a provozní údaje fyzické nebo právnické osoby nebo chybový status.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RosOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RosCtiZmenyDataResponse" type="sdo:RosCtiZmenyDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
