wsdl/egon/xsd/IszrOrgZrusAis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrOrgZrusAis:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrOrgZrusAis:v1"
	xmlns:e81="urn:cz:isvs:iszr:schemas:IszrOrgZrusAis:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ot="urn:cz:isvs:org:schemas:OrgTypy:v1"
	xmlns:or="urn:cz:isvs:org:schemas:OrgRozhrani:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E81 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 22.07.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 30.07.2011, Jan Sluka, navaznost na nove abstraktni typy-->
	<!-- Vývojová verze 0.0.3, 12.08.2011, Jan Sluka, CaseSensitive upravy -->
	<!-- Vyvojova verze 0.0.4, 23.08.2011, Jan Sluka, obalka Zadost -->
	<!-- Vyvojova verze 0.0.5, 31.08.2011, Jan Sluka, Prejmenovani elementu v obalce zadost -->
	<!-- Vyvojova verze 0.0.6, 07.09.2011, Aleš Teplý, problém Case Sensitivity -->
	<!-- Vývojová verze 0.0.7, 13.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Fixovaná verze 1.0.0, 30.11.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->
	
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:org:schemas:OrgTypy:v1" schemaLocation="../../org/xsd/OrgTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:org:schemas:OrgRozhrani:v1" schemaLocation="ref/OrgStatus.xsd"/>
	<xs:element name="OrgZrusAis" type="OrgZrusAisType"/>
	<xs:element name="OrgZrusAisResponse" type="OrgZrusAisResponseType"/>
	<xs:complexType name="OrgZrusAisType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E81 externího rozhraní - typ pro žádost.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OrgZrusAisData" type="ot:OrgAgendaAisType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgZrusAisResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E81 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="OrgOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OrgZrusAisDataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="or:OrgStatus"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
