wsdl/egon/xsd/IszrZpracujFormular.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrZpracujFormular:v1" xmlns:e153="urn:cz:isvs:iszr:schemas:IszrZpracujFormular:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:i19="urn:cz:isvs:iszr:schemas:IszrDataZpracujFormular:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrZpracujFormular:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.2">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E153 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.0.1, 09.03.2012 Aleš Teplý, výchozí verze -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze pro revizi 1.1.1, 18.05.2012 Aleš Teplý, doplnění MapaAifo -->
	<!-- Verze pro revizi 1.1.2, 14.10.2021 Pavel Odstrčil, doplnění SeznamIco -->
	<!-- AutoCont CZ a.s. -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDataZpracujFormular:v1" schemaLocation="../../iszr/xsd/IszrDataZpracujFormular.xsd"/>
	<xs:element name="IszrZpracujFormular" type="IszrZpracujFormularType"/>
	<xs:element name="IszrZpracujFormularResponse" type="IszrZpracujFormularResponseType"/>
	<xs:complexType name="IszrZpracujFormularType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje podání obecného formuláře, typ pro žádost. Interní služba ISZR I19.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoIcoAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrZpracujFormularData" type="i19:IszrZpracujFormularDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IszrZpracujFormularResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba umožňuje podání obecného formuláře, typ pro odpověď. Interní služba ISZR I19.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="IszrOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrZpracujFormularDataResponse" type="i19:IszrZpracujFormularDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
