wsdl/egon/xsd/IszrIsuiCtiPrvekKrajKDatu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekKrajKDatu:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekKrajKDatu:v1"
	xmlns:e67e="urn:cz:isvs:iszr:schemas:IszrIsuiCtiPrvekKrajKDatu:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ctiKrKD="urn:cz:isvs:isui:schemas:CtiKrajKDatu:v1"
	xmlns:ctiKr="urn:cz:isvs:ruian:schemas:CtiKraj:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E67E externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 10.2.2012, Jan Sluka -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:isui:schemas:CtiKrajKDatu:v1" schemaLocation="../../isui/xsd/cti_historii/CtiKrajKDatu.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CtiKraj:v1" schemaLocation="ref/RuianCtiPrvekKraj.xsd"/>

	<xs:element name="IsuiCtiPrvekKrajKDatu" type="IsuiCtiPrvekKrajKDatuType"/>
	<xs:element name="IsuiCtiPrvekKrajKDatuResponse" type="IsuiCtiPrvekKrajKDatuResponseType"/>

	<xs:complexType name="IsuiCtiPrvekKrajKDatuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E67E externího rozhraní - žádost. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba A16, operace ctiKrajKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekKrajKDatuData" type="ctiKrKD:CtiKrajKDatuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsuiCtiPrvekKrajKDatuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E67E externího rozhraní - odpověď. Služba která vrátí požadované atributy prvku RUIAN editovaného v ISUI k požadovanému datu. ISUI služba A16, operace ctiKrajKDatu.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IsuiOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IsuiCtiPrvekKrajKDatuDataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ctiKr:Kraj"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
