wsdl/egon/xsd/IszrRuianVyhledejAdresu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejAdresu:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejAdresu:v1"
	xmlns:e36="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejAdresu:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhAdresa="urn:cz:isvs:ruian:schemas:VyhledejAdresa:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation>Návrh XML schématu s definicemi datových prvků ISZR. Služba E37 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 01.07.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.3, 29.07.2011, Aleš Teplý, úpravy na verzi RUIAN 3, ref -->
	<!-- Fixovaná verze 1.0.0, 07.09.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejAdresa:v1" schemaLocation="ref/RuianVyhledejAdresu.xsd"/>

	<xs:element name="RuianVyhledejAdresu" type="RuianVyhledejAdresuType"/>
	<xs:element name="RuianVyhledejAdresuResponse" type="RuianVyhledejAdresuResponseType"/>

	<xs:complexType name="RuianVyhledejAdresuType">
		<xs:annotation>
			<xs:documentation>Služba E37 externího rozhraní - žádost. Vyhledání adresních míst. RUIAN služba A06.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejAdresuData" type="vyhAdresa:VyhledejAdresuDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RuianVyhledejAdresuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E37 externího rozhraní - odpověď. Vyhledání adresních míst. RUIAN služba A06.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejAdresuDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhAdresa:Adresy"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
