wsdl/egon/xsd/IszrRuianVyhledejPrvekKraj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekKraj:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekKraj:v1" 
	xmlns:e34e="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekKraj:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhKr="urn:cz:isvs:ruian:schemas:VyhledejKraj:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E34e externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 21.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 25.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejKraj:v1" schemaLocation="ref/RuianVyhledejPrvekKraj.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekKraj" type="RuianVyhledejPrvekKrajType"/>
	<xs:element name="RuianVyhledejPrvekKrajResponse" type="RuianVyhledejPrvekKrajResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekKrajType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34e externího rozhraní - žádost. Vyhledání kraje z RUIAN. RUIAN služba A03, operace VyhledejKraj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekKrajData" type="vyhKr:VyhledejKrajDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekKrajResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34e externího rozhraní - odpověď. Vyhledání kraje z RUIAN. RUIAN služba A03, operace VyhledejKraj.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekKrajDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhKr:Kraje"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>