wsdl/egon/xsd/IszrAisvEvidujZmenu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns="urn:cz:isvs:iszr:schemas:IszrAisvEvidujZmenu:v1" 
  xmlns:e308="urn:cz:isvs:iszr:schemas:IszrAisvEvidujZmenu:v1" 
  xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" 
  xmlns:avd="urn:cz:isvs:aisv:schemas:AisvDotazyTypy:v1" 
  xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="urn:cz:isvs:iszr:schemas:IszrAisvEvidujZmenu:v1" 
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="1.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E308 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	<!-- Verze 1.0.0, 31.10.2022, AUTOCONT, Pavel Odstrčil -->
	<!-- AUTOCONT a.s. -->
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:aisv:schemas:AisvDotazyTypy:v1" schemaLocation="../../aisv/xsd/AisvDotazyTypy.xsd"/>
	<xs:element name="AisvEvidujZmenu" type="AisvEvidujZmenuType"/>
	<xs:element name="AisvEvidujZmenuResponse" type="AisvEvidujZmenuResponseType"/>
	<xs:complexType name="AisvEvidujZmenuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba e308 externího rozhraní - typ pro žádost.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoIcoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AisvEvidujZmenuData" type="avd:AisvEvidujZmenuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AisvEvidujZmenuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba e308 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="AisvOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AisvEvidujZmenuDataResponse" type="avd:AisvEvidujZmenuDataResponseType" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
