wsdl/egon/xsd/IszrOrgCtiNotifikaceAifo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrOrgCtiNotifikaceAifo:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrOrgCtiNotifikaceAifo:v1"
	xmlns:e79="urn:cz:isvs:iszr:schemas:IszrOrgCtiNotifikaceAifo:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:ot="urn:cz:isvs:org:schemas:OrgTypy:v1"
	xmlns:or="urn:cz:isvs:org:schemas:OrgRozhrani:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E79 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.0.01, 22.7.2011, Jan Sluka -->
	<!-- Vývojová verze 0.0.02, 30.7.2011, Jan Sluka, navaznost na nove abstraktni typy-->
	<!-- Vývojová verze 0.0.03, 12.8.2011, Jan Sluka, CaseSensitive upravy -->
	<!-- Vyvojova verze 0.0.04, 23.8.2011, Jan Sluka, obalka Zadost -->
	<!-- Vyvojova verze 0.0.06, 31.8.2011, Jan Sluka, Prejmenovani elementu v obalce zadost -->
	<!-- Vývojová verze 0.0.07, 13.09.2011, Aleš Teplý, podadresáře registrů malými písmeny -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:org:schemas:OrgTypy:v1" schemaLocation="../../org/xsd/OrgTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:org:schemas:OrgRozhrani:v1" schemaLocation="ref/OrgStatus.xsd"/>

	<xs:element name="OrgCtiNotifikaceAifo" type="OrgCtiNotifikaceAifoType"/>
	<xs:element name="OrgCtiNotifikaceAifoResponse" type="OrgCtiNotifikaceAifoResponseType"/>

	<xs:complexType name="OrgCtiNotifikaceAifoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E79 externího rozhraní - typ pro žádost.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostRAifoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OrgCtiNotifikaceAifoData" type="ot:OrgAgendaAisType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgCtiNotifikaceAifoResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E79 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoAbstractType">
				<xs:sequence>
					<xs:element name="OrgOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="OrgCtiNotifikaceAifoDataResponse">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="or:OrgStatus"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
