wsdl/egon/xsd/IszrRppVlozOvmSpuu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppVlozOvmSpuu:v1" xmlns:e212="urn:cz:isvs:iszr:schemas:IszrRppVlozOvmSpuu:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:ped="urn:cz:isvs:rpp:schemas:RppEditaceData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVlozOvmSpuu:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E212 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Novela zákona 1.0.0, 21.12.2016 Pavel Odstrčil - nové služby ROVM -->
	<!-- Úpravy RPP 1.3.3, 12.07.2018, Aleš Teplý -->
	<!-- Verze po revizi 1.3.4, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.3.5, 16.3.2022, Aleš Teplý, RPP verze 1.11.5 -->
	<!-- Verze po revizi 1.4.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppEditaceData:v1" schemaLocation="../../rpp/xsd/RppEditaceData.xsd"/>
	<xs:element name="RppVlozOvmSpuu" type="RppVlozOvmSpuuType"/>
	<xs:element name="RppVlozOvmSpuuResponse" type="RppVlozOvmSpuuResponseType"/>
	<xs:complexType name="RppVlozOvmSpuuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E212 externího rozhraní - typ pro žádost. Služba provádí zápis nového OVM nebo SPUU. RPP služba P62.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoIcoIdAdrAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVlozOvmSpuuData" type="ped:RppVlozOvmSpuuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVlozOvmSpuuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E212 externího rozhraní - typ pro odpověď. Služba provádí zápis nového OVM nebo SPUU. RPP služba P62.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStIdAdrIcoAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVlozOvmSpuuDataResponse" type="ped:RppVlozOvmSpuuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
