wsdl/egon/xsd/IszrRobVypisVyuzitiPoskytnuti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRobVypisVyuzitiPoskytnuti:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRobVypisVyuzitiPoskytnuti:v1"
	xmlns:e154="urn:cz:isvs:iszr:schemas:IszrRobVypisVyuzitiPoskytnuti:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:rod="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.6.1">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E154 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 28.02.2012, Jan Sluka -->
	<!-- Vývojová verze 0.0.2, 13.03.2012, Aleš Teplý, doplnění MapaAifo -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze po revizi 1.4.3, 13.2.2013, Aleš Teplý, do Response přidán nepovinný element Kontrola -->
	<!-- Verze po revizi 1.6.1, 7.4.2014, Aleš Teplý, do Request přidán nepovinný atribut hromadnyVydej -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1" schemaLocation="../../rob/xsd/RobDotazyData.xsd"/>

	<xs:element name="RobVypisVyuzitiPoskytnuti" type="RobVypisVyuzitiPoskytnutiType"/>
	<xs:element name="RobVypisVyuzitiPoskytnutiResponse" type="RobVypisVyuzitiPoskytnutiResponseType"/>

	<xs:complexType name="RobVypisVyuzitiPoskytnutiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E154 externího rozhraní - typ pro žádost.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAifoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobVypisVyuzitiPoskytnutiData" type="rod:RobVypisVyuzitiPoskytnutiDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RobVypisVyuzitiPoskytnutiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E154 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobVypisVyuzitiPoskytnutiDataResponse" type="rod:RobVypisVyuzitiPoskytnutiDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
