wsdl/egon/xsd/IszrRppVypisSeznamAgend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisSeznamAgend:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisSeznamAgend:v1"
	xmlns:e106="urn:cz:isvs:iszr:schemas:IszrRppVypisSeznamAgend:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.2.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E106 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 27.02.2012, Jan Sluka -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- Verze po revizi 1.1.1, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.2.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>

	<xs:element name="RppVypisSeznamAgend" type="RppVypisSeznamAgendType"/>
	<xs:element name="RppVypisSeznamAgendResponse" type="RppVypisSeznamAgendResponseType"/>

	<xs:complexType name="RppVypisSeznamAgendType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E106 externího rozhraní - typ pro žádost. RPP služba P03.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisSeznamAgendData" type="pdo:RppVypisSeznamAgendDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVypisSeznamAgendResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E106 externího rozhraní - typ pro odpověď. RPP služba P03.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisSeznamAgendDataResponse" type="pdo:RppVypisSeznamAgendDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
