wsdl/egon/xsd/IszrAsyncSmazatFrontu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrAsyncSmazatFrontu:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrAsyncSmazatFrontu:v1"
	xmlns:smazf="urn:cz:isvs:iszr:schemas:IszrAsyncSmazatFrontu:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">
	
	<xs:annotation>
		<xs:documentation xml:lang="cs">Výmaz z fronty s výsledky asynchronních volání.</xs:documentation>
	</xs:annotation>
	<!-- Vývojová verze 0.0.01, 27.06.2011, Aleš Teplý, vznik rozdělením IszrFronta -->
	<!-- Vývojová verze 0.0.02, 13.07.2011, Aleš Teplý, Response nemusí obsahovat data (async) -->
	<!-- Vývojová verze 0.0.03, 29.07.2011, Aleš Teplý, odstraněn seznam položek z Response -->
  <!-- Vývojová verze 0.0.04, 07.09.2011, Aleš Teplý, request dle IszrZadostAsyncAbstractType -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>

	<xs:element name="IszrAsyncSmazatFrontu" type="IszrAsyncSmazatFrontuType"/>
	<xs:element name="IszrAsyncSmazatFrontuResponse" type="IszrAsyncSmazatFrontuResponseType"/>

	<xs:complexType name="IszrAsyncSmazatFrontuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadavek na smazání seznamu UUID (IszrZadostId) z fronty, případně na smazání celé fronty.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrAsyncSmazatFrontuData">
									<xs:complexType>
										<xs:choice>
								      <xs:element name="SmazatVse" type="xs:boolean">
								        <xs:annotation>
								          <xs:documentation xml:lang="cs">Požadavek smazat celou frontu.</xs:documentation>
								        </xs:annotation>
								      </xs:element>
											<xs:element name="IszrZadostIdPolozky">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="IszrZadostId" type="reg:IszrZadostIdType" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
								      </xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IszrAsyncSmazatFrontuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved na požadavek smazání seznamu UUID z fronty. Vrací seznam smazaných položek (pro kontrolu a pro případ smazatVse)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>