wsdl/egon/xsd/IszrRppVypisKategoriiOvmSpuu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRppVypisKategoriiOvmSpuu:v1" xmlns:e215="urn:cz:isvs:iszr:schemas:IszrRppVypisKategoriiOvmSpuu:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:pdo="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRppVypisKategoriiOvmSpuu:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E215 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation> 

	<!-- Novela zakona 111, verze 1.0.0, 21.12.2016 - nová sluzba RPP ROVM -->
	<!-- Verze po revizi 1.0.2, 15.10.2021, Aleš Teplý, AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- Verze po revizi 1.1.0, 25.5.2022, Aleš Teplý, Response - AplikacniStatus - VysledekSubKod - upraveno a rozšířeno enumeration -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="../../rpp/xsd/RppDotazyData.xsd"/>
	<xs:element name="RppVypisKategoriiOvmSpuu" type="RppVypisKategoriiOvmSpuuType"/>
	<xs:element name="RppVypisKategoriiOvmSpuuResponse" type="RppVypisKategoriiOvmSpuuResponseType"/>
	<xs:complexType name="RppVypisKategoriiOvmSpuuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E215 externího rozhraní - typ pro žádost. Služba vrátí veškeré vedené údaje  o kategorii OVM/SPUU. RPP služba P65.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisKategoriiOvmSpuuData" type="pdo:RppVypisKategoriiOvmSpuuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RppVypisKategoriiOvmSpuuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E215 externího rozhraní - typ pro odpověď. Služba vrátí veškeré vedené údaje  o kategorii OVM/SPUU. RPP služba P65.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RppOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RppVypisKategoriiOvmSpuuDataResponse" type="pdo:RppVypisKategoriiOvmSpuuDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
