wsdl/egon/xsd/IszrRobZalozSouhlasPoskytnuti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:iszr:schemas:IszrRobZalozSouhlasPoskytnuti:v1" xmlns:e179="urn:cz:isvs:iszr:schemas:IszrRobZalozSouhlasPoskytnuti:v1" xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" xmlns:roe="urn:cz:isvs:rob:schemas:RobEditaceData:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz:isvs:iszr:schemas:IszrRobZalozSouhlasPoskytnuti:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.9.8">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E179 externího rozhraní.</xs:documentation>
	</xs:annotation>
	<!-- Katalog.7.06 verze 1.6.1, 24.02.2014 Aleš Teplý -->
	<!-- Verze 1.9.8, 7.3.2017, Pavel Odstrcil, dopady zmena zakona 111 na ROB -->
	<!-- AutoCont CZ a.s. -->
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobEditaceData:v1" schemaLocation="../../rob/xsd/RobEditaceData.xsd"/>
	<xs:element name="RobZalozSouhlasPoskytnuti" type="RobZalozSouhlasPoskytnutiType"/>
	<xs:element name="RobZalozSouhlasPoskytnutiResponse" type="RobZalozSouhlasPoskytnutiResponseType"/>
	<xs:complexType name="RobZalozSouhlasPoskytnutiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E179 externího rozhraní - typ pro žádost. Aktivace záznamů o DS třetích stran, do kterých se při změně mají údaje odeslat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostRAifoIcoAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobZalozSouhlasPoskytnutiData" type="roe:RobZalozSouhlasPoskytnutiDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RobZalozSouhlasPoskytnutiResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E179 externího rozhraní - typ pro odpověď. Aktivace záznamů o DS třetích stran, do kterých se při změně mají údaje odeslat.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStIcoAbstractType">
				<xs:sequence>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobZalozSouhlasPoskytnutiDataResponse" type="roe:RobZalozSouhlasPoskytnutiDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
