wsdl/egon/xsd/IszrRuianVyhledejPrvekParcela.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekParcela:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekParcela:v1" 
	xmlns:e34k="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekParcela:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhPa="urn:cz:isvs:ruian:schemas:VyhledejParcela:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E34k externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 22.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 25.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejParcela:v1" schemaLocation="ref/RuianVyhledejPrvekParcela.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekParcela" type="RuianVyhledejPrvekParcelaType"/>
	<xs:element name="RuianVyhledejPrvekParcelaResponse" type="RuianVyhledejPrvekParcelaResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekParcelaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34k externího rozhraní - žádost. Vyhledání parcely z RUIAN. RUIAN služba A03, operace VyhledejParcela.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekParcelaData" type="vyhPa:VyhledejParcelaDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekParcelaResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34k externího rozhraní - odpověď. Vyhledání parcely z RUIAN. RUIAN služba A03, operace VyhledejParcela.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekParcelaDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhPa:Parcely"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>