wsdl/egon/xsd/IszrCtiSeznamCiselniku.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrCtiSeznamCiselniku:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrCtiSeznamCiselniku:v1"
	xmlns:e97="urn:cz:isvs:iszr:schemas:IszrCtiSeznamCiselniku:v1"
	xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:i10="urn:cz:isvs:iszr:schemas:IszrDataCtiSeznamCiselniku:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">
	
	<xs:annotation>
		<xs:documentation xml:lang="cs">Seznam číselníků, které je možné získat prostřednictvím ISZR.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 14.10.2011, Pavel Odstrčil, vznik -->
	<!-- Vývojová verze 0.0.2, 26.10.2011 Aleš Teplý, formální úpravy -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrDataCtiSeznamCiselniku:v1" schemaLocation="../../iszr/xsd/IszrDataCtiSeznamCiselniku.xsd"/>

	<xs:element name="IszrCtiSeznamCiselniku" type="IszrCtiSeznamCiselnikuType"/>
	<xs:element name="IszrCtiSeznamCiselnikuResponse" type="IszrCtiSeznamCiselnikuResponseType"/>

	<xs:complexType name="IszrCtiSeznamCiselnikuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na seznam číselníků.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAsyncAbstractType">
				<xs:sequence>
					<xs:element name="Zadost" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrCtiSeznamCiselnikuData" type="i10:IszrCtiSeznamCiselnikuDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IszrCtiSeznamCiselnikuResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz na seznam číselníků. Vrací seznam číselníků.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="IszrOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IszrCtiSeznamCiselnikuDataResponse" type="i10:IszrCtiSeznamCiselnikuDataResponseType">
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
