wsdl/egon/xsd/IszrRuianVyhledejPrvekStavebniObjekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekStavebniObjekt:v1" 
	xmlns="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekStavebniObjekt:v1" 
	xmlns:e34p="urn:cz:isvs:iszr:schemas:IszrRuianVyhledejPrvekStavebniObjekt:v1" 
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:vyhSo="urn:cz:isvs:ruian:schemas:VyhledejStavebniObjekt:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E34p externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>
	
	<!-- Vývojová verze 0.0.1, 22.07.2011, Pavel Kirchner -->
	<!-- Vývojová verze 0.0.2, 28.07.2011, Pavel Kirchner, převzetí datového elementu Response pomocí ref (deklaruje AC) -->
	<!-- Fixovaná verze 1.0.0, 25.10.2011, Aleš Teplý -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstract.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:VyhledejStavebniObjekt:v1" schemaLocation="ref/RuianVyhledejPrvekStavebniObjekt.xsd"/>
	
	<xs:element name="RuianVyhledejPrvekStavebniObjekt" type="RuianVyhledejPrvekStavebniObjektType"/>
	<xs:element name="RuianVyhledejPrvekStavebniObjektResponse" type="RuianVyhledejPrvekStavebniObjektResponseType"/>
	
	<xs:complexType name="RuianVyhledejPrvekStavebniObjektType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34p externího rozhraní - žádost. Vyhledání stavebního objektu z RUIAN. RUIAN služba A03, operace VyhledejStavebniObjekt.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
		 						<xs:element name="RuianVyhledejPrvekStavebniObjektData" type="vyhSo:VyhledejStavebniObjektDotazType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RuianVyhledejPrvekStavebniObjektResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E34p externího rozhraní - odpověď. Vyhledání stavebního objektu z RUIAN. RUIAN služba A03, operace VyhledejStavebniObjekt.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAbstractType">
				<xs:sequence>
					<xs:element name="RuianOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RuianVyhledejPrvekStavebniObjektDataResponse">
									<xs:complexType>
										<xs:sequence>
										  <xs:element ref="vyhSo:StavebniObjekty"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>