wsdl/egon/xsd/IszrRobCtiZmeny.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="urn:cz:isvs:iszr:schemas:IszrRobCtiZmeny:v1"
	xmlns="urn:cz:isvs:iszr:schemas:IszrRobCtiZmeny:v1"
	xmlns:e07="urn:cz:isvs:iszr:schemas:IszrRobCtiZmeny:v1"
	xmlns:abs="urn:cz:isvs:iszr:schemas:IszrAbstract:v1"
	xmlns:rod="urn:cz:isvs:rob:schemas:RobDotazyData:v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.1.0">

	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi datových prvků ISZR. Služba E07 externího rozhraní - dotaz a odpověď.</xs:documentation>
	</xs:annotation>

	<!-- Vývojová verze 0.0.1, 22.09.2011, Jan Sluka -->
	<!-- Fixovaná verze 1.0.0, 22.09.2011, Aleš Teplý -->
	<!-- Verze po revizi 1.0.1, 14.02.2012 Aleš Teplý, doplnění OrgStatus do Response -->
	<!-- Katalog.7 verze 1.1.0, 14.03.2012 Aleš Teplý -->
	<!-- AutoCont CZ a.s. -->

	<xs:import namespace="urn:cz:isvs:iszr:schemas:IszrAbstract:v1" schemaLocation="IszrAbstractOrg.xsd"/>
	<xs:import namespace="urn:cz:isvs:rob:schemas:RobDotazyData:v1" schemaLocation="../../rob/xsd/RobDotazyData.xsd"/>

	<xs:element name="RobCtiZmeny" type="RobCtiZmenyType"/>
	<xs:element name="RobCtiZmenyResponse" type="RobCtiZmenyResponseType"/>

	<xs:complexType name="RobCtiZmenyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E07 externího rozhraní - typ pro žádost. Služba ROB O07. Služba notifikace změn vydá seznam AIFO, ve kterých došlo ke změně referenčních údajů požadovaného typu od okamžiku definovaného časovým údajem nebo identifikátorem změny uvedeným ve vstupním parametru služby. AIS musí mít přihlášeny notifikace.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrZadostAbstractType">
				<xs:sequence>
					<xs:element name="Zadost">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiZmenyData" type="rod:RobCtiZmenyDataType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RobCtiZmenyResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Služba E07 externího rozhraní - typ pro odpověď.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="abs:IszrOdpovedAifoStAbstractType">
				<xs:sequence>
					<xs:element name="RobOdpoved" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RobCtiZmenyDataResponse" type="rod:RobCtiZmenyDataResponseType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
