wsdl/rrc/xsd/RrcCtiAifo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:rrc:schemas:RrcCtiAifo:v2" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:aisse="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" 
           xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" 
           targetNamespace="urn:cz:isvs:rrc:schemas:RrcCtiAifo:v2"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="2.0.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Definice prvků pro RRČ pro službu RrcCtiAifo.</xs:documentation>
	</xs:annotation>
        
  <!-- Úvodní verze pro atomické služby RRC pro ZR v.2.0.0, 12.04.2018, KOMIX: Libor Málek, Jan Štastný, Andrea Vataščinová  -->

	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd" />
	<xs:import namespace="urn:cz:isvs:aisse:schemas:AisSeTypy:v2" schemaLocation="../../aisse/xsd/AisSeTypyV2.xsd" />

	<xs:element name="RrcSyncCtiAifo" type="RrcCtiAifoType" />
	<xs:element name="RrcSyncCtiAifoResponse" type="RrcCtiAifoResponseType" />

	<xs:complexType name="RrcCtiAifoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" />
			<xs:element name="AutorizaceInfo" type="reg:AutorizaceType" minOccurs="0" />
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
			<xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
			<xs:element name="Dotaz" type="aisse:RrcCtiAifoDotazDataType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="verzeZadosti" type="reg:VerzeType" />
	</xs:complexType>

	<xs:complexType name="RrcCtiAifoResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" />
			<xs:element name="MapaAifo" type="reg:MapaAifoType" minOccurs="0" />
			<xs:element name="SeznamIdAdres" type="reg:SeznamIdAdresType" minOccurs="0" />
			<xs:element name="RrcOdpoved" type="RrcCtiAifoDataResponseType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="verzeZadosti" type="reg:VerzeType" />
	</xs:complexType>

	<xs:complexType name="RrcCtiAifoDataResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data RRČ.</xs:documentation>
		</xs:annotation>		
                    <xs:sequence>
			<xs:element name="RrcOdpovedV1" type="RrcCtiAifoDataResponseTypeV1" minOccurs="0" />
                    </xs:sequence>    
	</xs:complexType>
        
	<xs:complexType name="RrcCtiAifoDataResponseTypeV1">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpověd na dotaz - data RRČ. Verze 1.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="aisse:AisSeDotazyDataResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="Aifo" type="reg:LokalniAifoType"  minOccurs="0"/>
					<xs:element name="KompletniUdaje" type="aisse:KompletniUdajeRrcType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
