wsdl/ruian/xsd/ext/v2/cti/CtiOkres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:CtiOkres:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:CtiOkres:v2" xmlns:ctiOk="urn:cz:isvs:ruian:schemas:CtiOkres:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:okPol="urn:cz:isvs:ruian:schemas:OkresPolozky:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:okGML="urn:cz:isvs:ruian:schemas:OkresGML:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:OkresGML:v2" schemaLocation="../prvky/OkresGML.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:OkresPolozky:v2" schemaLocation="OkresPolozky.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:complexType name="CtiOkresDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na informace o okresu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod4Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód okresu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="okPol:OkresPolozkyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiOkresRequest" type="ctiOk:CtiOkresRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o okresu.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CtiOkresRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o okresu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Standardní hlavička dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dotaz" type="CtiOkresDotazType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Parametry dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiOkresResponse" type="ctiOk:CtiOkresResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved nacteni okresu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CtiOkresResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved nacteni okresu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Okres" type="okGML:OkresGMLType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
