wsdl/ruian/xsd/ext/v2/cti/CtiUlice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:CtiUlice:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:CtiUlice:v2" xmlns:ctiUl="urn:cz:isvs:ruian:schemas:CtiUlice:v2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:ulPol="urn:cz:isvs:ruian:schemas:UlicePolozky:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:ulGml="urn:cz:isvs:ruian:schemas:UliceGML:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:UliceGML:v2" schemaLocation="../prvky/UliceGML.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:UlicePolozky:v2" schemaLocation="UlicePolozky.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../typy/BaseTypy.xsd"/>
	<xs:complexType name="CtiUliceDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na informace o ulici.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod7Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód ulice.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="ulPol:UlicePolozkyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiUliceRequest" type="ctiUl:CtiUliceRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o ulici.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CtiUliceRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o ulici.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Standardní hlavička dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dotaz" type="CtiUliceDotazType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Parametry dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiUliceResponse" type="ctiUl:CtiUliceResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved nacteni ulice</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CtiUliceResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved nacteni ulice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ulice" type="ulGml:UliceGMLType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
