wsdl/ruian/xsd/ext/v2/cti/ObvodPrahyPolozky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ObvodPrahyPolozky:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ObvodPrahyPolozky:v2" xmlns:mpPol="urn:cz:isvs:ruian:schemas:ObvodPrahyPolozky:v2" xmlns:mpPolBase="urn:cz:isvs:ruian:schemas:ObvodPrahyPolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:obPolBase="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ObvodPrahyPolozkyBase:v2" schemaLocation="../vyhledej/ObvodPrahyPolozkyBase.xsd"/>
	<xs:complexType name="ObvodPrahyPolozkyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Požadované položky prvku ObvodPrahy</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="mpPolBase:ObvodPrahyPolozkyGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Hranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DatumVzniku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
