wsdl/ruian/xsd/ext/v2/cti/UlicePolozky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:UlicePolozky:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:UlicePolozky:v2" xmlns:ulPol="urn:cz:isvs:ruian:schemas:UlicePolozky:v2" xmlns:ulPolBase="urn:cz:isvs:ruian:schemas:UlicePolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:obPolBase="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v2" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:UlicePolozkyBase:v2" schemaLocation="../vyhledej/UlicePolozkyBase.xsd"/>
	<xs:complexType name="UlicePolozkyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Pozadovane polozky ulice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ulPolBase:UlicePolozkyGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DefinicniCara" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
