wsdl/ruian/xsd/ext/v2/cti/UupPolozky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:UupPolozky:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:UupPolozky:v2" xmlns:upPol="urn:cz:isvs:ruian:schemas:UupPolozky:v2" xmlns:upPolBase="urn:cz:isvs:ruian:schemas:UupPolozkyBase:v2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" elementFormDefault="qualified" version="2.1.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:UupPolozkyBase:v2" schemaLocation="../vyhledej/UupPolozkyBase.xsd"/>
	<xs:complexType name="UupPolozkyType">
		<xs:sequence>
			<xs:group ref="upPolBase:UupPolozkyGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Popis" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DatumVzniku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StavUUPKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZpusobVymezeniKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PresnostVymezeni" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Odkaz" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Vymezeni" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Plocha" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nerost" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SkupinaNerostuKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VyhlasovaciDokumentace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VazbyParcely" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VazbyBudovy" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VazbyStavebniObjekty" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VazbyAdresniMista" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
