ISZRDemo/Service References/RobCtiPodleUdaju2/RuianCtiProRob2n.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:crob2="urn:cz:isvs:ruian:schemas:CtiProRob:v2" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns="urn:cz:isvs:ruian:schemas:CtiProRob:v2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cz:isvs:ruian:schemas:CtiProRob:v2" version="2.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../../RegTypy.xsd" namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" />
  <xs:include schemaLocation="../../../ruian/xsd/ext/v2/cti_pro_rob/CtiProRob.xsd" />
  <xs:annotation>
    <xs:documentation xml:lang="cs">CtiProRob rozsireni. Potrebny element do jmenneho prostoru RUIAN.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RuianCtiProRobV2DataResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="cs">Typ pro seznam adres a lokalit. Pouze CtiProRob v2 (v1 uz neuvazuje).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="SeznamAdres" type="crob2:SeznamAdresType" />
      <xs:element minOccurs="0" name="SeznamLokalit" type="crob2:SeznamLokalitType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>