wsdl/rpp/xsd/RppDotazyDataInt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:rpp:schemas:RppDotazyDataInt:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:rpd="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" xmlns:edi="urn:cz:isvs:rpp:schemas:RppEditaceTypy:v1" xmlns:dot="urn:cz:isvs:rpp:schemas:RppDotazyTypy:v1" xmlns:rpp="urn:cz:isvs:rpp:schemas:RppTypy:v1" targetNamespace="urn:cz:isvs:rpp:schemas:RppDotazyDataInt:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.0">
    <xs:annotation>
        <xs:documentation xml:lang="cs">Návrh XML schématu s definicemi dotazovacích datových prvků IS RPP.
          Toto schéma obsahuje definice datových prvků vstupu a výstupu jednotlivých výhradně interních dotazovacích služeb
          registru práv a povinností (RPP).
        </xs:documentation>
    </xs:annotation>
    <!-- Verze 1.0.0, 6.2.2012 -->
    <!-- Verze 1.0.1, 23.2.2012 -->
    <!-- Verze 1.0.2, 26.7.2012 -->
    <!-- Verze 1.0.3, 23.8.2012 -->
    <!-- Verze 1.1.0, 25.8.2016 -->
    <!-- Verze 1.1.1, 22.12.2016 -->
    <!-- Verze 1.1.2, 27.12.2016 - odstraneni struktur pro sluzbu reklamace-->
    <!-- Verze 1.1.3, 07.02.2017 - stránkování matic -->
    <!-- Verze 1.1.4, 08.02.2017 - stránkování matic - nepovinný element MaximalniPocetZaznamu -->
    <!-- Verze 1.2.0, 20.09.2017 - odstraneni struktur pro sluzby RppPoskytniMaticiOpravneni a RppPoskytniMaticiOpravneniKUdajum, pridani struktur pro sluzbu RppPoskytniMaticiUdaju, RppPoskytniMaticiSkupinOpravneni, RppPoskytniMaticiNesprOpravneni-->
    <xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyData:v1" schemaLocation="RppDotazyData.xsd"/>
    <xs:import namespace="urn:cz:isvs:rpp:schemas:RppEditaceTypy:v1" schemaLocation="RppEditaceTypy.xsd"/>
    <xs:import namespace="urn:cz:isvs:rpp:schemas:RppDotazyTypy:v1" schemaLocation="RppDotazyTypy.xsd"/>
    <xs:import namespace="urn:cz:isvs:rpp:schemas:RppTypy:v1" schemaLocation="RppTypy.xsd"/>
    <xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../RegTypy.xsd"/>
    <xs:element name="RppPoskytniKatalogSluzebData" type="RppPoskytniKatalogSluzebDataType"/>
    <xs:element name="RppPoskytniKatalogSluzebDataResponse" type="RppPoskytniKatalogSluzebDataResponseType"/>
    <xs:element name="RppProbeDataResponse" type="RppProbeDataResponseType"/>
    <xs:element name="RppPoskytniMaticiAisVykonavajiciData" type="RppPoskytniMaticiAisVykonavajiciDataType"/>
    <xs:element name="RppPoskytniMaticiAisVykonavajiciDataResponse" type="RppPoskytniMaticiAisVykonavajiciDataResponseType"/>
    <xs:element name="RppPoskytniMaticiUdajuData" type="RppPoskytniMaticiUdajuDataType"/>
    <xs:element name="RppPoskytniMaticiUdajuDataResponse" type="RppPoskytniMaticiUdajuDataResponseType"/>
    <xs:element name="RppPoskytniMaticiSkupinOpravneniData" type="RppPoskytniMaticiSkupinOpravneniDataType"/>
    <xs:element name="RppPoskytniMaticiSkupinOpravneniDataResponse" type="RppPoskytniMaticiSkupinOpravneniDataResponseType"/>
    <xs:element name="RppPoskytniMaticiNesprOpravneniData" type="RppPoskytniMaticiNesprOpravneniDataType"/>
    <xs:element name="RppPoskytniMaticiNesprOpravneniDataResponse" type="RppPoskytniMaticiNesprOpravneniDataResponseType"/>
    <xs:complexType name="RppPoskytniKatalogSluzebDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P47.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CasZmenyOd" type="dot:ZmenaCasType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniKatalogSluzebDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P47, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                PRAZDNY SEZNAM
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rpd:RppDotazyDataResponseAbstractType">
                <xs:sequence minOccurs="0">
                    <xs:element name="Sluzba" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="edi:SluzbaEditAbstractType">
                                    <xs:sequence>
                                        <xs:element name="Sla" type="dot:SlaType"/>
                                        <xs:element name="PoskytujiciInformacniSystem">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="rpp:InformacniSystemAbstractType"/>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PuvodniSluzba" minOccurs="0">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="rpp:SluzbaAbstractType"/>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RppProbeDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P506, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                NEVALIDNI DATA
                NEVALIDNI ZADOST
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0">
            <xs:element name="Odpoved">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OdpovedRozhrani" type="reg:OdpovedRozhraniType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiAisVykonavajiciDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P512.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatumMatice" type="dot:DatumMaticeType">
                <xs:annotation>
                    <xs:documentation>platnost datumMatice</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StrankaMatice" type="reg:KladneCeleCisloType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Požadovaná stránka matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaximalniPocetZaznamu" type="reg:MaximalniPocetType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Velikost požadované stránky matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiAisVykonavajiciDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P512, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                PRAZDNY SEZNAM
                PRAZDNY POVINNY PARAMETR
                PREKROCEN POCET
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rpd:RppDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="SeznamMaticeAisVykonavajici" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="MaticeAisVykonavajici" type="dot:MaticeAisVykonavajiciType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiUdajuDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P513.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatumMatice" type="dot:DatumMaticeType">
                <xs:annotation>
                    <xs:documentation>Datum, pro který matice byla vygenerována.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StrankaMatice" type="reg:KladneCeleCisloType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Požadovaná stránka matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaximalniPocetZaznamu" type="reg:MaximalniPocetType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Velikost požadované stránky matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiUdajuDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P513, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                PRAZDNY SEZNAM
                PRAZDNY POVINNY PARAMETR
                PREKROCEN POCET
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rpd:RppDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="SeznamMaticeOpravneniUdaj" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="MaticeOpravneniUdaj" type="dot:MaticeOpravneniUdajType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiSkupinOpravneniDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P514.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatumMatice" type="dot:DatumMaticeType">
                <xs:annotation>
                    <xs:documentation>Datum, pro který matice byla vygenerována.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StrankaMatice" type="reg:KladneCeleCisloType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Požadovaná stránka matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaximalniPocetZaznamu" type="reg:MaximalniPocetType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Velikost požadované stránky matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiSkupinOpravneniDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P514, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                PRAZDNY SEZNAM
                PRAZDNY POVINNY PARAMETR
                PREKROCEN POCET
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rpd:RppDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="SeznamMaticeUdajeSkupiny" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="MaticeUdajeSkupiny" type="dot:MaticeUdajeSkupinyType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiNesprOpravneniDataType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P515.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DatumMatice" type="dot:DatumMaticeType">
                <xs:annotation>
                    <xs:documentation>Datum, pro který matice byla vygenerována.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StrankaMatice" type="reg:KladneCeleCisloType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Požadovaná stránka matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaximalniPocetZaznamu" type="reg:MaximalniPocetType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Velikost požadované stránky matice.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RppPoskytniMaticiNesprOpravneniDataResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">
              Služba P515, odpověď.
            </xs:documentation>
            <xs:documentation xml:lang="cs">
                Chybové statusy služby:
                OBECNA CHYBA SLUZBY
                NEVALIDNI DATA
                NEVALIDNI ZADOST
                PRAZDNY SEZNAM
                PRAZDNY POVINNY PARAMETR
                PREKROCEN POCET
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="rpd:RppDotazyDataResponseAbstractType">
                <xs:sequence>
                    <xs:element name="SeznamMaticeOpravneniUdaj" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="MaticeNesprOpravneni" type="dot:MaticeNesprOpravneniType" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
