wsdl/ruian/xsd/cti/CtiStavebniObjekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1" xmlns:ctiSo="urn:cz:isvs:ruian:schemas:CtiStavebniObjekt:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:soPol="urn:cz:isvs:ruian:schemas:StavebniObjektPolozky:v1" xmlns:reg="urn:cz:isvs:reg:schemas:RegTypy:v1" xmlns:soGml="urn:cz:isvs:ruian:schemas:StavebniObjektGML:v1" elementFormDefault="qualified" version="0.40.3">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:StavebniObjektGML:v1" schemaLocation="../../../ruian/xsd/prvky/StavebniObjektGML.xsd"/>
	<xs:import namespace="urn:cz:isvs:reg:schemas:RegTypy:v1" schemaLocation="../../../RegTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:StavebniObjektPolozky:v1" schemaLocation="../../../ruian/xsd/cti/StavebniObjektPolozky.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:complexType name="CtiStavebniObjektDotazType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na informace o stavebním objektu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod9Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="soPol:StavebniObjektPolozkyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtiStavebniObjektRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o stavebním objektu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZadostInfo" type="reg:ZadostInfoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Standardní hlavička dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dotaz" type="CtiStavebniObjektDotazType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Parametry dotazu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtiStavebniObjektResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved na nacteni stavebniho objektu</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OdpovedInfo" type="reg:OdpovedInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StavebniObjekt" type="soGml:StavebniObjektGMLType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CtiStavebniObjektRequest" type="ctiSo:CtiStavebniObjektRequestType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na načtení informací o stavebním objektu.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CtiStavebniObjektResponse" type="ctiSo:CtiStavebniObjektResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Odpoved na nacteni stavebniho objektu</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
