wsdl/ruian/xsd/cti/ObecPolozky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:ObecPolozky:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ObecPolozky:v1" xmlns:obPol="urn:cz:isvs:ruian:schemas:ObecPolozky:v1" xmlns:obPolBase="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:okPolBase="urn:cz:isvs:ruian:schemas:OkresPolozkyBase:v1" xmlns:puPolBase="urn:cz:isvs:ruian:schemas:PouPolozkyBase:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ObecPolozkyBase:v1" schemaLocation="../../../ruian/xsd/vyhledej/ObecPolozkyBase.xsd"/>
	<xs:complexType name="ObecPolozkyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Pozadovane polozky obce</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="obPolBase:ObecPolozkyGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MluvnickeCharakteristiky" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VlajkaText" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VlajkaObrazek" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZnakText" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZnakObrazek" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CleneniSMRozsahKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CleneniSMTypKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NutsLau" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Hranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
