wsdl/ruian/xsd/cti/PouPolozky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:PouPolozky:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:PouPolozky:v1" xmlns:puPol="urn:cz:isvs:ruian:schemas:PouPolozky:v1" xmlns:puPolBase="urn:cz:isvs:ruian:schemas:PouPolozkyBase:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:opPolBase="urn:cz:isvs:ruian:schemas:OrpPolozkyBase:v1" elementFormDefault="qualified" version="0.40.0">
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:PouPolozkyBase:v1" schemaLocation="../../../ruian/xsd/vyhledej/PouPolozkyBase.xsd"/>
	<xs:complexType name="PouPolozkyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Dotaz na POU</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="puPolBase:PouPolozkyGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Hranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
